{template 'common/header'}
{php \zovye\url(true, 'static/css/assign.css');}
<style>
    dd{
        color: gray;
    }
    dd img{
        width: 30px;
        margin-right: 10px;
    }
</style>
<div id="app">
    <assign-ctrl>
        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                <dt>商品</dt>
                <dd>
                    <img src="{$voucher['goods']['img']}"/>{$voucher['goods']['name']}
                </dd>                
                <dt>数量</dt>
                <dd>{$voucher['total']}</dd>
                {if $voucher['begin'] > 0 && $voucher['end'] > 0}
                <dt>有效期</dt>
                <dd><span>{$voucher['begin_formatted']}</span> - <span>{$voucher['end_formatted']}</span></dd>
                {/if}
                </dl>
            </div>
        </div>
    </assign-ctrl>
</div>

<script>
    const cfg = {
        id: parseInt("{$voucher['id']}"),
        multi: '{$multi_mode}' === 'true',
        data: JSON.parse(`{$assign_data}`),
        agents: "{$agent_url}",
        groups: "{$group_url}",
        tags: "{$tag_url}",
        devices: "{$device_url}",
        save: "{$save_url}",
        back_url: "{$back_url}",
    }
    require(['{php echo MODULE_URL}static/js/assign.min.js?v=20180507001'], function (m) {
        m.init(cfg, function (res) {
            $.post(cfg.save, {id: cfg.id, data: JSON.stringify(res)}, function(res){
                if (res && res.data && res.data.msg) {
                    util.message(res.data.msg, '', res.status ? 'success' : 'error');
                }
            })
            return true;
        })
    })
</script>
{template 'common/footer'}