{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<style>
    #grouplist .bonus {
        color: #8BC34A;
        font-weight: 500;
        white-space: nowrap;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation"><a href="{php echo $this->createWebUrl('device', ['op' => 'new_group']);}">普通分组</a></li>
    <li role="presentation" class="active"><a href="#">充电桩分组</a></li>
</ul>
<div class="panel panel-default panel-first">
    <div class="heading">
        <span class="operate">
            <i class="fa fa-refresh" data-op="refresh" title="同步设置"></i>
            <a href="{php echo $this->createWebUrl('charging', array('op'=>'edit'));}"><i class="fa fa-pencil" title="创建分组"></i></a>
            <a href="{php echo $this->createWebUrl('device');}"><i class="fa fa-reply" title="返回设备列表"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $list}
        <table class="table" id="grouplist">
            <thead>
            <th>#</th>
            <th>名称</th>
            <th>代理商</th>
            <th>计费</th>
            <th>说明</th>
            <th>地址</th>
            <th class="center">设备数量</th>
            <th>创建时间</th>
            <th>操作</th>
            </thead>
            <tbody>
            {loop $list $index $item}
            <tr data-id="{$index}">
                <td>
                    {php echo $index + 1}
                </td>
                <td class="group">
                    <span title="{$item['name']}">{$item['title']}</span>
                </td>
                <td>
                    {if $item['agent']}
                        <div class="agent" style="display:inline-block;">
                            <div class="profile" style="background-color:{$item['agent']['level']['clr']}">
                                <img src="{$item['agent']['avatar']}">
                                <div class="nickname">{$item['agent']['name']}</div>
                            </div>
                        </div>
                    {else}
                    <span style="color:gray;">&lt;平台&gt;</span>
                    {/if}
                </td>
                <td>
                    {$item['tips']}
                    {if is_array($item['bonus'])}
                    {loop $item['bonus'] $e}
                    {if $e['limit'] > 0 && $e['val'] > 0}
                    <div class="bonus">
                        <i class="fa fa-tag"></i>
                        <span class="limit">{php echo number_format($e['limit']/100, 2, '.', '')}元</span>，赠送<span class="val">{php echo number_format($e['val']/100, 2, '.', '')}元</span>
                    </div>
                    {/if}
                    {/loop}
                    {/if}
                </td>
                <td>
                    {$item['description']}
                </td>
                <td>
                    {$item['address']}
                </td> 
                <td class="center">{php echo intval($item['total'])}</td> 
                <td>
                    {$item['createtime']}
                </td>
                <td class="operate"  data-id="{$item['id']}">
                    <i class="fa fa-area-chart fa-fw" data-op="monthStats" title="查看月统计"></i>
                    <i class="fa fa-line-chart fa-fw" data-op="dayStats" title="查看日统计"></i>
                    <i class="fa fa-refresh {if $item['version'] != $item['remote_version']}active{/if} fa-fw" data-op="refresh" title="同步设置"></i>
                    <a href="{php echo $this->createWebUrl('charging',array('id'=>$item['id'],'op'=>'edit'));}">
                        <i class="fa fa-edit fa-fw" title="编辑"></i>
                    </a>
                    <a href="{php echo $this->createWebUrl('charging',array('id'=>$item['id'],'op'=>'remove'));}" onclick="if(!confirm('确定要删除这个分组吗？')){return false;}">
                        <i class="fa fa-trash-o fa-fw" title="删除这个分组？"></i>
                    </a> 
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
        <div style="float:right;">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何分组！
        </div>
        {/if}
    </div>
</div>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20231125001')}"], function (zovye) {
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('charging');}");
        zovye.op('dayStatsData', function(self, next) {
            const form = $('#selectStatsDayForm');
            const id = form.data('id');
            const begin = form.find("input[name='datelimit[start]']").val();
            const end = form.find("input[name='datelimit[end]']").val();
            next({id, begin, end})
        })
    });
</script>
{template 'common/footer'}