{template 'common/header'}
<style>
.ts-arr {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ts {
    width: 100px;
    height: 25px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: #fff;
    cursor: pointer;
    user-select: none;
    padding: 1px;
}

.charging-level {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
}

.ts:hover {
    box-shadow: 1px 1px 2px 2px rgb(204 204 204 / 56%);
}

.l0 {
    background-color: #8bc34a;
}
.l1 {
    background-color: #3296fa;
}
.l2 {
    background-color: #ffc107;
}
.l3 {
    background-color: #ff5722;
}
</style>
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active"><a href="#">
        <i class="fa fa-pencil"></i> 
        {if $id > 0}编辑{else}添加{/if}分组
    </a></li>
</ul>
<form action="{php echo $this->createWebUrl('charging');}" method="post">
    <div class="panel panel-default panel-first">
        <div class="heading">
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="select_agent" class="col-md-2 control-label">所属代理商</label>
                <div class="col-md-5">
                    <select name="agent_id" id="select_agent" style="width:100%;">
                        {if $agent }
                        <option value="{$agent['id']}">{$agent['name']}，手机号码：{$agent['mobile']}
                        </option>
                        {/if}
                        <option value="0">&lt;无&gt;</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="keyword_agent" id="keyword_agent"
                           placeholder="请输入手机号码或者名称查找">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="button" id="find_agent">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">名称</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="title" id="title" value="{php echo $group ? $group['title'] : ''}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">说明</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="description" id="description" value="{php echo $group ? $group['description'] : ''}">
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">位置</label>
                <div class="col-md-8">
                    <input type="hidden" name="lat" value="{php echo $group ? $group['loc']['lat'] : 0}">
                    <input type="hidden" name="lng" value="{php echo $group ? $group['loc']['lng'] : 0}">
                    <input type="text" class="form-control" name="address" id="address" value="{php echo $group ? $group['address'] : ''}">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="button" data-op="QQMapPicker"
                    {if $group} title="{$group['loc']['lng']},{$group['loc']['lat']}"{else} title="选择位置"{/if}>
                        <i class="fa fa-map-marker"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">识别颜色</label>
                <div class="col-md-10">
                    {php echo tpl_form_field_color('clr', $group ? $group['clr'] : \zovye\util\Util::randColor());}
                </div>
            </div>
            <div id="app">
                <div class="form-group">
                    <label for="l0ef" class="col-md-2 control-label">计费标准(1)<span class="charging-level l0"></span></label>
                    <div class="col-md-5">
                        <input type="number" class="form-control" name="l0ef" id="l0ef" value="{php echo $group ? number_format($group['fee']['l0']['ef'], 2, '.', '') : 0.00}" step="0.01">
                        <span class="help-block">* 电费（元/分钟）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="l1ef" class="col-md-2 control-label">计费标准(2)<span class="charging-level l1"></span></label>
                    <div class="col-md-5">
                        <input type="number" class="form-control" name="l1ef" id="l1ef" value="{php echo $group ? number_format($group['fee']['l1']['ef'], 2, '.', '') : 0.00}" step="0.01">
                        <span class="help-block">* 电费（元/分钟）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="l2ef" class="col-md-2 control-label">计费标准(3)<span class="charging-level l2"></span></label>
                    <div class="col-md-5">
                        <input type="number" class="form-control" name="l2ef" id="l2ef" value="{php echo $group ? number_format($group['fee']['l2']['ef'], 2, '.', '') : 0.00}" step="0.01">
                        <span class="help-block">* 电费（元/分钟）</span>
                    </div>  
                </div>
                <div class="form-group">
                    <label for="l3ef" class="col-md-2 control-label">计费标准(4)<span class="charging-level l3"></span></label>
                    <div class="col-md-5">
                        <input type="number" class="form-control" name="l3ef" id="l3ef" value="{php echo $group ? number_format($group['fee']['l3']['ef'], 2, '.', '') : 0.00}" step="0.01">
                        <span class="help-block">* 电费（元/分钟）</span>
                    </div>  
                </div>
                <div class="form-group">
                    <label for="l3ef" class="col-md-2 control-label">服务费</label>
                    <div class="col-md-5">
                        <input type="number" class="form-control" name="sf" id="sf" value="{php echo $group ? number_format($group['fee']['l0']['sf'], 2, '.', '') : 0.00}" step="0.01">
                        <span class="help-block">* 服务费（元/度）</span>
                    </div>    
                </div>
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">计费时段</label>
                    <div class="col-md-10">
                        <div class="ts-arr">
                            <template v-for="e in ts">
                                <div class="ts"
                                :class="{l0:e.index===0, l1:e.index===1, l2:e.index===2, l3:e.index===3}"
                                title="点击切换"
                                @click="nextLevel(e)">{{e.title}}</div>
                                <input type="hidden" name="ts[]" :value="e.index">
                            </template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-btn">
        <input type="hidden" name="op" value="save">
        {if $id > 0}
        <input type="hidden" name="id" value="{$id}">
        <button type="submit" class="btn btn-primary">保存</button>
        {else}
        <button type="submit" class="btn btn-primary">创建</button>
        {/if}
        <button type="button" class="btn btn-default" onclick="location.href='{php echo $this->createWebUrl('charging');}'">返回</button>
    </div>
</form>
<script>
    const tsData = JSON.parse(`{php echo json_encode($group ? $group['fee']['ts']: [])}`);
    require(['jquery', '{php \zovye\url(false, JS_VUE_URL);}'], function($, Vue) {
        new Vue({
            el: "#app",
            data: {
                l0: {
                    sf: 0.0,
                    ef: 0.0,
                },
                l1: {
                    sf: 0.0,
                    ef: 0.0,
                },
                l2: {
                    sf: 0.0,
                    ef: 0.0,
                },
                l3: {
                    sf: 0.0,
                    ef: 0.0,
                },
                ts: []
            },
            created() {
                const self = this;
                const arr = ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16','17', '18', '19', '20', '21', '22', '23'];
                arr.forEach((e, i) => {
                    let next = arr[i+1] ? arr[i+1] : arr[0];
                    self.ts.push({
                        index: tsData[i] ? tsData[i] : 0,
                        title: `${e}:00 - ${next}:00`,
                    })
                })
            },
            methods: {
                nextLevel(e) {
                    if (++e.index > 3) {
                        e.index = 0;
                    }
                }
            }
        })
    })
</script>
<script>
    function OnQQMapPickerOk(data) {
        $("input[name=lat]").val(data.latlng.lat);
        $("input[name=lng]").val(data.latlng.lng);
        $("input[name=address]").val(data.poiaddress);
    }
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20231125001')}"], function (zovye) {
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('util');}");
    });
    $(function () {
        $('body').on('click', '#find_agent', function () {
            const ownerId = $('select[name=agent_id]').val();
            const keyword = $('input[name=keyword_agent]').val();
            util.loading();
            $.get("{php echo $this->createWebUrl('agent', array('id'=>$id));}", {
                op: 'search',
                keyword: keyword
            }, function (res) {
                let html = '';
                if (res.status) {
                    const list = res.data || [];
                    list.forEach(function (e) {
                        html += '<option value="_1*" _**!_>_2*，手机号码：_3*</option>'
                            .replace('_1*', e.id)
                            .replace('_2*', e.name)
                            .replace('_3*', e.mobile)
                            .replace('_**!_', e.id === ownerId ? 'selected' : '');
                    })
                }
                html += '<option value="0"><无></option>';
                $('#select_agent').html(html);

            }, 'json').complete(function () {
                util.loaded();
            })
        })
    })
</script>
{template 'common/footer'}