{if $log}
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th style="width:6em;">来源</th>
            <th style="width:6em;">变动</th>
            <th>备注</th>
            <th style="width:12em;">时间</th>
        </tr>
    </thead>
    <tbody>
        {loop $log $index $item}
        <tr>
            <td>{php echo $index + 1}</td>
            <td>{$item['src']}</td>
            <td>
                <span style="color:{if $item['xval'] > 0}green;{else}red;{/if}">{$item['xval']}</span>
            </td>
            <td>{$item['memo']}</td>
            <td>{$item['createtime']}</td>
        </tr>
        {/loop}
    </tbody>
</table>
<div class="pull-right" id="log-pager">
{$pager}
</div>
{else}
<div style="text-align:center;color:#ccc;">
    暂时没有任何变动记录！
</div> 
{/if}