{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    .we7-modal-dialog .modal-body{
        max-height: unset;
    }
    .fa-check-square-o {
        color:green;
    }
    .fa-square-o {
        color:#ccc;
    }
    .kind {
        width: 100%;
        text-align: center;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active">
        <a href="#">
            <b>{php echo $user ? $user->getName() : 'n/a'}</b>运营的设备列表
        </a>
    </li>
</ul>
<div class="panel panel-default{if empty($s_principal)} panel-first{/if} nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('user', ['s_principal' => 'keeper']);}"><i class="fa fa-reply" title="返回"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $devices}
        <div id="keeperDevice">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>设备名称</th>
                    <th>设备编号</th>
                    <th style="text-align: center;">
                        补货权限
                    </th>
                    <th>
                        类型
                    </th>            
                    <th>
                        佣金
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                {loop $devices $index $device}
                <tr data-id="{$device['id']}">
                    <td>{php echo $index + 1}</td>
                    <td>
                        <div class="">
                            <div>{php echo $device['name']}</div>
                        </div>
                    </td>
                    <td>
                        <div>{php echo $device['imei']}</div>
                    </td>
                    <td>
                        <div class="kind">
                            {if $device['kind']}
                            <i class="fa fa-check-square-o"></i>
                            {else}
                            <i class="fa fa-square-o"></i>
                            {/if}
                        </div>
                    </td>
                    <td>
                        <span class="way">{$device['way']}</span>
                    </td>
                    <td>
                        <div class="val">
                            {$device['val']}
                        </div>
                    </td>
                    <td class="operate">
                        <i class="fa fa-edit" title="编辑" data-op="keeper_device_edit"></i>
                        <i class="fa fa-trash" title="删除" data-op="keeper_device_remove"></i>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
            <div class="pull-right">
                {$pager}
            </div>
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何设备！
        </div>
        {/if}
    </div>
</div>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20210717')}"], function (zovye) {
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('user', ['user' => $user?$user->getId() : 0]);}");
        zovye.op('keeper_device_remove', function(self, next) {
            if (!confirm('确定移除这个设备吗？')) {
                return;
            }
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id}, function(res) {
                if (res && res.status) {
                    tr.remove();
               }
            });
        })
        zovye.op('keeper_device_save', function(self, next) {
            const e = self.closest('[data-id]');
            const id = e.data('id');
            const kind = e.find('input[name=kind]:checked').val();
            const way = e.find('input[name=way]:checked').val();
            const type = e.find('input[name=type]:checked').val();
            const val = e.find('input[name=commissionVal]').val();
            const tr = $('#keeperDevice tr[data-id="'+id+'"]');
            next({id, kind, way, type, val}, function(res) {
                if (res && res.status) {
                    tr.find('.kind').html(res.data.kind ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>');
                    tr.find('.way').html(res.data.way);
                    tr.find('.val').html(res.data.val);
               }
               $('#modal-message').modal('hide');
            });
        })
        
    });
</script>
{template 'common/footer'}