{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<style>
    .we7-modal-dialog .modal-body{
        max-height: unset;
    }
    .fa-check-square-o {
        color:green;
    }
    .fa-square-o {
        color:#ccc;
    }
    .kind {
        width: 100%;
        text-align: center;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active">
        <a href="#">
            <b>{php echo $user ? $user->getName() : 'n/a'}</b>运营的设备列表
        </a>
    </li>
</ul>
<div class="panel panel-default{if empty($s_principal)} panel-first{/if} nav-tab-item">
    <div class="heading">
        <span class="operate">
            <i class="fa fa-fw fa-filter" title="导出" data-op="keepers_export"></i>
            <a href="{php echo $this->createWebUrl('user', ['s_principal' => 'keeper']);}"><i class="fa fa-reply" title="返回"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $devices}
        <div id="keeperDevice">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>设备名称</th>
                    <th>设备编号</th>
                    <th style="text-align: center;">
                        补货权限
                    </th>
                    <th>
                        类型
                    </th>            
                    <th>
                        订单佣金
                    </th>
                    {if \zovye\App::isAppOnlineBonusEnabled()}
                    <th>
                        APP在线奖励
                    </th>
                    {/if}
                    {if \zovye\App::isDeviceQoeBonusEnabled()}
                    <th>
                        电费佣金
                    </th>
                    {/if}
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                {loop $devices $index $item}
                <tr data-id="{$item['id']}">
                    <td>{php echo $index + 1}</td>
                    <td>
                        <div class="">
                            <div>{php echo $item['name']}</div>
                        </div>
                    </td>
                    <td>
                        <div>{php echo $item['imei']}</div>
                    </td>
                    <td>
                        <div class="kind">
                            {if $item['kind']}
                            <i class="fa fa-check-square-o"></i>
                            {else}
                            <i class="fa fa-square-o"></i>
                            {/if}
                        </div>
                    </td>
                    <td>
                        <span class="way">
                            {php echo $item['way'] == 0 ? '销售分成' : '补货分成'}
                        </span>
                    </td>
                    <td>
                        <div class="box" {if !\zovye\App::isKeeperCommissionOrderDistinguishEnabled() || $item['way'] != 0} style="display:none"{/if}>
                            <div>
                                支付订单：<span class="pay_val">{$item['pay_val']}</span>
                            </div>
                            <div>
                                免费订单：<span class="free_val">{$item['free_val']}</span>
                            </div>                            
                        </div>
                        <div class="val"{if \zovye\App::isKeeperCommissionOrderDistinguishEnabled() && $item['way'] == 0} style="display:none"{/if}>
                            {$item['val']}
                        </div>
                    </td>
                    {if \zovye\App::isAppOnlineBonusEnabled()}
                    <td>
                        <span class="app_online_bonus">
                            {$item['app_online_bonus_percent']}
                        </span>
                    </td>
                    {/if}
                    {if \zovye\App::isDeviceQoeBonusEnabled()}
                    <td>
                        <span class="device_qoe_bonus">
                            {$item['device_qoe_bonus_percent']}
                        </span>
                    </td>
                    {/if}
                    <td class="operate">
                        <i class="fa fa-gear" title="配置" data-op="keeper_device_edit"></i>
                        <i class="fa fa-trash" title="删除" data-op="keeper_device_remove"></i>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
            <div class="pull-right">
                {$pager}
            </div>
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何设备！
        </div>
        {/if}
    </div>
</div>
{if \zovye\App::isKeeperCommissionOrderDistinguishEnabled()}
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20231125001')}"], function (zovye) {
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('user', ['user' => $user?$user->getId() : 0]);}");
        zovye.op('keeper_device_remove', function(self, next) {
            if (!confirm('确定移除这个设备吗？')) {
                return;
            }
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id}, function(res) {
                if (res && res.status) {
                    tr.remove();
               }
            });
        })
        zovye.op('keeper_device_save', function(self, next) {
            const e = self.closest('[data-id]');
            const id = e.data('id');
            const kind = e.find('input[name=kind]:checked').val();
            const way = e.find('input[name=way]:checked').val();
            const type = e.find('input[name=type]:checked').val();
            const val = e.find('input[name=commissionVal]').val();
            const pay_val = e.find('input[name=payCommissionVal]').val();
            const free_val = e.find('input[name=freeCommissionVal]').val();
            const app_online_bonus = e.find('input[name=appOnlineBonus]').val();
            const device_qoe_bonus = e.find('input[name=deviceQoeBonus]').val();
            const tr = $('#keeperDevice tr[data-id="'+id+'"]');
            next({id, kind, way, type, val, pay_val, free_val, app_online_bonus, device_qoe_bonus}, function(res) {
                if (res && res.status) {
                    tr.find('.kind').html(res.data.kind ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>');
                    tr.find('.way').html(res.data.way === 0 ? '销售分成' : '补货分成');
                    if (res.data.val !== undefined) {
                        tr.find('.pay_val').closest('div.box').hide();
                        tr.find('.val').html(res.data.val).show();
                    }
                    if (res.data.pay_val !== undefined) {
                        tr.find('.pay_val').closest('div.box').show();
                        tr.find('.val').hide();
                        tr.find('.pay_val').html(res.data.pay_val);
                    }
                    if (res.data.free_val !== undefined) {
                        tr.find('.free_val').closest('div.box').show();
                        tr.find('.val').hide();
                        tr.find('.free_val').html(res.data.free_val);
                    }
                    tr.find('.app_online_bonus').html(res.data.app_online_bonus_percent);
                    tr.find('.device_qoe_bonus').html(res.data.device_qoe_bonus_percent);
               }
               $('#modal-message').modal('hide');
            });
        })
        zovye.op('keepers_export', function(self, next) {
            util.loading();
            next({}, function(res) {
               if (res && res.status) {
                    window.location = res.data.filename;
               }
               util.loaded();
            });
        })
    });
</script>
{else}
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20231125001')}"], function (zovye) {
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('user', ['user' => $user?$user->getId() : 0]);}");
        zovye.op('keeper_device_remove', function(self, next) {
            if (!confirm('确定移除这个设备吗？')) {
                return;
            }
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id}, function(res) {
                if (res && res.status) {
                    tr.remove();
               }
            });
        })
        zovye.op('keeper_device_save', function(self, next) {
            const e = self.closest('[data-id]');
            const id = e.data('id');
            const kind = e.find('input[name=kind]:checked').val();
            const way = e.find('input[name=way]:checked').val();
            const type = e.find('input[name=type]:checked').val();
            const val = e.find('input[name=commissionVal]').val();
            const app_online_bonus = e.find('input[name=appOnlineBonus]').val();
            const device_qoe_bonus = e.find('input[name=deviceQoeBonus]').val();
            const tr = $('#keeperDevice tr[data-id="'+id+'"]');
            next({id, kind, way, type, val, app_online_bonus, device_qoe_bonus}, function(res) {
                if (res && res.status) {
                    tr.find('.kind').html(res.data.kind ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>');
                    tr.find('.way').html(res.data.way === 0 ? '销售分成' : '补货分成');
                    tr.find('.val').html(res.data.val);
                    tr.find('.app_online_bonus').html(res.data.app_online_bonus_percent);
                    tr.find('.device_qoe_bonus').html(res.data.device_qoe_bonus_percent);
               }
               $('#modal-message').modal('hide');
            });
        })
        zovye.op('keepers_export', function(self, next) {
            next({}, function(res) {
               if (res && res.status) {
                    window.location = res.data.filename;
               }
            });
        })
    });
</script>
{/if}

{template 'common/footer'}