{if $data}
<div class="year" data-user="{$user_id}">
    {loop $years $year}
    <span {if $year === $current}class="current"{else} class="item" data-year="{$year}" data-op="monthStatOfYear"{/if}>{$year}</span>
    {/loop}
</div>
<table class="table table-bordered table-hover" style="margin-top:1em;text-align:center;">
    <thead>
    <tr class="active">
        <th style="text-align:center;">月份</th>
        <th style="text-align:center;">收入金额</th>
        <th style="text-align:center;">提现金额</th>
        <th style="text-align:center;">提现手续费</th>
    </tr>
    </thead>
    {loop $data $i $item}
    <tr>
        <td>{$i}</td>
        <td>{php echo number_format(abs($item['income'])/100, 2)} 元</td>
        <td>{php echo number_format(abs($item['withdraw'])/100, 2)} 元</td>
        <td>{php echo number_format(abs($item['fee'])/100, 2)} 元</td>
    </tr>
    {/loop}

</table>
{else}
<div class="text-center text-muted">
    <i class="fa fa-question-circle"></i> 暂时没有统计信息！
</div>
{/if}