<style>
    .goods img {
        width: 60px;
        height: 60px;
    }
    #goodslist tr td {
        vertical-align: middle;
    }
    #goodslist tr:hover .index {
        display: none;       
    }
    #goodslist tr .check {
        display: none;
        color: green;       
    }
    #goodslist tr td:nth-child(3) {
        cursor: pointer;
    }
    #goodslist tr:hover td:nth-child(3) {
        color: green;
    }
    #goodslist tr:hover .check {
        display: inline;
    }
</style>
{if $list}
<table class="table table-bordered" id="goodslist">
    <thead>
        <th style="width: 60px;">#</th>
        <th>商品图片</th>
        <th>商品名称</th>
        <th>库存数量</th>
    </thead>
    <tbody>
        {loop $list $index $item}
        <tr data-goods="{$item['goods']['id']}"
        data-name="{$item['goods']['name']}" 
        data-img="{$item['goods']['img']}"
        data-num="{$item['num']}">
            <td>
                <span class="index">
                    {php echo $index + 1}
                </span>                
                <span class="check">
                    <i class="fa fa-check"></i>
                </span>     
            </td>
            <td>
                <div class="goods">
                    <img src="{$item['goods']['img']}">
                </div>                              
            </td>
            <td>
                <div class="name">
                    {$item['goods']['name']}
                    <sup class="id" title="商品ID">{$item['goods']['id']}</sup>
                </div>                
            </td>
            <td>
                {$item['num']}
            </td>
        </tr>
        {/loop}
    </tbody>    
</table>
<div class="pull-right">
    {$pager}
</div>
{else}
<div class="text-center text-muted">
    <i class="fa fa-question-circle"></i> 暂时还没有任何库存商品！
</div>
{/if}