{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active"><a href="#">库存管理</a></li>
</ul>
<div class="panel panel-default panel-first">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('inventory', array('op'=>'edit'));}"><i class="fa fa-archive" title="创建"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $inventories && $inventories['list']}
        <div>
            {loop $inventories['list'] $index $inventory}
            <div>
                <span>{$inventory['title']}</span>
            </div>
            {/loop}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何库存数据！
        </div>
        {/if}
    </div>
</div>
{template 'common/footer'}