{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20201108');}
<div id="app" v-cloak>
    <form action="{php echo $this->createWebUrl('inventory');}" method="post">
        <div class="panel panel-default panel-first nav-tab-item">
            <div class="heading">
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">所属用户</label>
                    <div class="col-md-5">
                        <select style="width:100%;" name="userId" v-model="filter.user">
                            <option v-for="u in user.list" :key="u.id" :value="u.id">
                                {{u.nickname + (u.mobile ? '，手机号码：' + u.mobile : '')}}
                            </option>                            
                            <option value="0" :selected="filter.user === 0">&lt;平台&gt;</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="请输入手机号码或者名称查找..." v-model.trim="user.keyword">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="button" title="搜索用户" @click.prevent="searchUser">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">所属仓库</label>
                    <div class="col-md-5">
                        <select style="width:100%;" v-model="filter.inventory" name="parentId">
                            <option v-for="s in inventory.list" :key="s.id" :value="s.id" :disabled="inventory.id == s.id">
                                {{s.title}}<span v-if="s.user">（所属用户：{{s.user.name}}）</span>
                            </option>                            
                            <option value="0" :selected="filter.inventory=== 0">&lt;无&gt;</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="请输名称查找..." v-model.trim="inventory.keyword">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="button" title="搜索仓库" @click.prevent="searchInventory">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">仓库名称</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="title" v-model="inventory.title" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-btn">
            <input type="hidden" name="op" value="save">
            <input type="hidden" name="id" v-model="inventory.id">
            <button type="submit" class="btn btn-primary">{{inventory.id > 0 ? '保存':'创建'}}</button>
            <button type="button" class="btn btn-default" @click="backToList">返回</button>
        </div>
    </form>
</div>
<script>
    const userApiUrl = "{php echo $this->createWebUrl('user')}";
    const inventoryApiUrl = "{php echo $this->createWebUrl('inventory')}";
    require(["{php \zovye\url(false, JS_VUE_URL);}"], function(Vue) {
        new Vue({
            el: "#app",
            data: {
                filter: {
                    user: 0,
                    inventory: 0,
                },
                user: {
                    list:[],
                    keyword: '',
                },
                inventory: {
                    id: 0,
                    title: '',
                    parent: 0,
                    list: [],
                    keyword: '',
                },                
            },
            watch: {
                'filter.user': function (v) {
                    $.getJSON(inventoryApiUrl, {op: 'getUserInventory', user_id: v}).then(res => {
                        if (res && res.status === true) {
                            this.inventory.id = res.data.id;
                            this.inventory.parent = res.data.parent && res.data.parent.id || 0;
                            this.inventory.title = res.data.title;
                            this.filter.inventory = this.inventory.parent;
                        } else {
                            this.inventory.id = 0
                            this.inventory.parent = 0;
                            this.inventory.title = '';
                        }
                    })                    
                }
            },
            mounted() {

            },
            methods: {
                backToList() {
                    window.location.replace("{php echo $this->createWebUrl('inventory');}");
                },
                searchUser() {
                    this.getUserList();
                },
                getUserList() {
                    $.getJSON(userApiUrl, {op: "search", keywords: this.user.keyword}).then(res => {
                        if (res) {
                            this.user.list = res.list;
                        }
                    })
                },
                searchInventory() {
                    $.getJSON(inventoryApiUrl, {op: "search", keywords: this.inventory.keyword}).then(res => {
                        if (res && res.status) {
                            this.inventory.list = res.data;
                        } else {
                            this.inventory.list = [];
                        }
                    })
                },

            },
            
        })

    })
</script>
{template 'common/footer'}