{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<style>
    .gray {
        color: gray;
    }
    #logs .gray {
        cursor: default;
    }
    input.num {
        width: 10em;
        border: 0;
        margin: 0 auto;
        text-align: center;
        display: inline;
    }
    input:focus.num {
        border-color: #66afe9;
    }
    .platform {
        cursor: pointer;
    }
    table th,table td {
        text-align: center;
        vertical-align: middle;
    }
    .inventory {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .inventory i.fa-trash, .inventory i.fa-ban {
        margin-left: 1em;
        visibility: hidden;
    }
    .inventory:hover i.fa-trash, .inventory:hover i.fa-ban {
        visibility: visible;
    }
    #list .goods {
        cursor: pointer;
    }
    .goods img {
        width: 60px;
        height: 60px;
    }
    #list tr:hover .index {
        display: none;
    }
    #list tr i.remove {
        display: none;
    }
    #list tr:hover i.remove {
        display: inline;
        cursor: pointer;
    }

</style>
<div id="app" v-cloak>
    <form action="{php echo $this->createWebUrl('inventory');}" method="post">        
        <ul class="nav nav-tabs" id="navbar">
            <li role="presentation">
                <a href="{php echo $this->createWebUrl('inventory', ['op' => 'detail', 'id' => $user])}"><b>{$title}</b>的库存</a>
            </li>
            <li role="presentation" :class="{'active': true}">
                <a href="#">
                    商品入库
                </a>
            </li>
            <li role="presentation">
                <a href="{php echo $this->createWebUrl('inventory', ['op' => 'stockLog', 'id' => $user])}">变动记录</a>
            </li>
        </ul>
        <div class="panel panel-default panel-first nav-tab-item">
            <div class="heading">
                <span class="operate">
                    <a href="{php echo $this->createWebUrl('user')}"><i class="fa fa-reply" title="返回"></i></a>
                </span>                
            </div>
            <div class="panel-body">
                <table class="table table-bordered" id="list">
                    <thead>
                        <th style="width: 100px;">#</th>
                        <th style="width: 260px;">来源</th>
                        <th>商品</th>
                        <th>库存数量</th>
                        <th>入库数量</th>
                    </thead>
                    <tbody>
                        <tr v-for="(e, index) in list">
                            <td class="operate">
                                <span class="index">
                                    {{index + 1}}
                                </span>                                
                                <i class="fa fa-trash remove" title="删除" @click="removeEntry(e)"></i>
                            </td>
                            <td>
                                <div class="inventory operate" title="来源仓库">
                                    <template v-if="e.user">                                    
                                        <div class="profile">
                                            <img :src="e.user.avatar">
                                            <span>{{e.user.nickname}}</span>
                                        </div>
                                        <i class="fa fa-ban" title="清除" @click="cleanInventory(e)"></i>
                                    </template>
                                    <span class="platform gray" @click="chooseInventory(e)" v-else>&lt;平台&gt;</span>
                                </div>
                            </td>
                            <td>
                                <div class="goods" @click="chooseGoods(e)">
                                    <template v-if="e.goods" >
                                        <img :src="e.goods.img"  >
                                        <span class="name" >
                                            {{e.goods.name}}
                                            <sup class="id" title="商品ID">{{e.goods.id}}</sup>
                                        </span>
                                    </template>
                                    <span class="gray" v-else>&lt;请选择商品&gt;</span>
                                </div>
                            </td>
                            <td>
                                <template v-if="e.goods">
                                    <span :class="{gray: e.goods.num === undefined}">{{e.goods.num === undefined ? '&lt;不限&gt;' : e.goods.num}}</span>
                                </template>
                                <span class="gray" v-else></span>                                                            
                            </td>
                            <td>
                                <input type="number" class="form-control num" v-model="e.num" :max="e.goods && e.goods.num!==undefined ? e.goods.num : ''">                 
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button type="button" class="btn btn-success" @click="addEntry">
                        <i class="fa fa-plus"></i> 更多商品
                    </button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" @click="save" :class ="{'disabled': !isReady}">
                        <i class="fa fa-sign-in"></i> 入库
                    </button>
                </div>
            </div>
        </div>
    </form>
    <ul class="nav nav-tabs" style="margin-bottom: 0; border-bottom: 0;" v-if="logs.length > 0">
        <li role="presentation" :class="{'active': true}">
            <a href="#">
                入库记录</b>
            </a>
        </li>
    </ul>
    <div class="panel panel-default panel-first nav-tab-item" v-if="logs.length > 0">
        <div class="panel-body">
            <div>
                <table class="table table-bordered" id="logs">
                    <tbody>
                        <tr v-for="(log,index) in logs" :key="log.goods && log.goods.id">
                            <td>
                                {{index + 1}}
                            </td>
                            <td>
                                <div class="inventory">
                                    <template v-if="log.user">                                    
                                        <div class="profile">
                                            <img :src="log.user.avatar">
                                            <span>{{log.user.nickname}}</span>
                                        </div>
                                    </template>
                                    <span class="platform gray" v-else>&lt;平台&gt;</span>                                        
                                </div>
                            </td>
                            <td class="goods">
                                <img :src="log.goods.img">
                                <span>
                                    {{log.goods.name}}
                                    <sup class="id" title="商品ID">{{log.goods.id}}</sup>
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{log.num}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{template 'web/common/search_user'}
<script>
    const api = {
        goodsApiUrl: "{php echo $this->createWebUrl('goods');}",
        url: "{php echo $this->createWebUrl('inventory');}",
        dlg: null,
        userid: parseInt("{$user}"),
    }

    api.showResult = function(params, url = '', loading = false, cb = null, post = false) {
        loading && util.loading();
        const fn = post ? $.post : $.getJSON;
        fn(url || api.url, params).done(function(res){
            loading && util.loaded();
            if (res) {
                if (typeof cb == 'function') {
                    if(cb(res)) {
                        return;
                    }
                }
                if (res.status) {
                    if (res.data && res.data.content) {
                        api.dlg = util.dialog(res.data.title || '', res.data.content);
                        api.dlg.modal('show');
                    }
                }
                if (res.message && res.type) {
                    util.message(res.message, '', res.type);
                }
                if (res.data && res.data.msg) {
                    util.message(res.data.msg, '', res.status ? 'success' : 'error');
                }
            }
        }).fail(function(){
            loading && util.loaded();
        })
    }
    
    api.hide = function () {
        if (api.dlg) {
            api.dlg.modal('hide');
        }
    }

    api.chooseGoods = function(user) {
        if (user) {
            api.showResult({op: 'detail', id: user.id, pagesize: 10});
        } else {
            api.showResult({pagesize: 10}, api.goodsApiUrl);
        }        
    }

    require(['jquery', 'util', '{php \zovye\url(false, JS_VUE_URL);}'], function($, util, Vue) {
        const app = new Vue({
            el: "#app",
            data: {
                list: [],
                logs: [],
                current: null,
            },
            computed: {
                isReady () {
                    return this.list.some(e => e.goods && e.goods.id > 0 && e.num != 0);
                }
            },
            mounted() {
                const self = this;
                self.addEntry();
                searchDlg.init('user', function(user, e){
                    if(user && user.id) {
                        if (user.id !== api.userid) {
                            if (e.user == null || e.user.id != user.id) {
                                Vue.set(e, 'user', user);
                                Vue.set(e, 'goods', null);                            
                            }
                        } else {
                            util.message('来源仓库不能是当前用户！', '', 'error');
                        }
                    }
                })
            },
            methods: {
                backToList() {
                    window.location.replace("{php echo $this->createWebUrl('inventory', ['op' => 'detail', 'id' => $user])}");
                },
                removeEntry(e) {
                    const index = this.list.findIndex(i => e.id === i.id);
                    if (index !== -1) {
                        this.list.splice(index, 1);
                    }
                    if (this.list.length === 0) {
                        this.addEntry();
                    }        
                },
                addEntry() {
                    this.list.push({
                        num: 0,
                    });
                },
                chooseGoods(e) {
                    this.current = e;
                    api.chooseGoods(e.user);                   
                },
                chooseInventory(e) {
                    searchDlg.choose(e);
                },
                cleanInventory(e) {
                    e.user = null;
                    e.goods = null;
                },
                setGoods(goods) {
                    if (this.current) {
                        api.hide();
                        Vue.set(this.current, 'goods', goods);
                        if (goods.num && this.current.num > goods.num) {
                            this.current.num = goods.num;
                        }
                    }
                },
                save() {
                    const user = [];
                    const goods = [];
                    const num = [];
                    this.list.forEach(e => { 
                        if (e.goods && e.num != 0) {
                            user.push(e.user ? e.user.id : 0);
                            goods.push(e.goods ? e.goods.id : 0);
                            num.push(e.num);                            
                        }
                    })
                    api.showResult({op: 'saveStockIn', userid: api.userid, user, goods, num}, '', false, (res) => {
                        if (res && res.status) {
                            this.list.forEach(e => {
                                if (e.goods && e.num != 0) {
                                    this.logs.unshift(e);
                                }                                
                            });
                            this.list = [];
                            this.addEntry();
                        }
                    }, true);
                }
            }
        })
        $(function() {
            $('body').on('click', '#goodslist tr[data-goods] .name', function(e) {
                const tr = $(e.currentTarget).closest('tr');
                const id = tr.data('goods');
                const name = tr.data('name');
                const img = tr.data('img');
                const num = tr.data('num');
                if (id) {       
                    app.setGoods({id, name, img, num});
                }
            })
        })
    })
</script>
<script>
    let backer = "";
    let agentId = "";
    $(function(){
        function reload(url) {
            api.showResult({}, url);
        }
        
        $('body').on('click', '#search-bar', function () {
            $(this).hide();
            $('#search-form').show();
            $('input[name=s_keywords]').focus();
        })

        $('body').on('click', '#search-form .btn-close', function (e) {
            if (backer) {
                api.chooseGoods();
            } else {
                $('#search-form').hide();
                $('#search-bar').show();
            }       
            e.preventDefault();     
         })

        $('body').on('click', '#search_agent', function () {
            const keyword = $('#search-form input[name=keyword_agent]').val();console.log(keyword);
            $.get("{php echo $this->createWebUrl('agent', array('id'=>$id));}", {
                op: 'search',
                keyword: keyword,
            }, function (res) {
                let html = '';
                if (res.status) {
                    const list = res.data || [];
                    list.forEach(function (e) {
                        html += '<option value="_1*" _4*>_2*，手机号码：_3*</option>'
                            .replace('_1*', e.id)
                            .replace('_2*', e.name)
                            .replace('_3*', e.mobile)
                            .replace('_4*', '');
                    })
                }

                html += '<option value=""><不限></option><option value="-1"><平台></option>';
                $('#agent_search_result').html(html);

            }, 'json');
        })

        function reloadPageWithFilter(fn) {
            const params = new URLSearchParams();

            const form = $("#search-form form");
            const s_keywords = $.trim(form.find('input[name=s_keywords]').val());
            if (s_keywords) {
                params.append("keywords", s_keywords);
            }
            const agentId = $.trim(form.find('select[name=agentId]').val());
            if (agentId != '') {
                params.append("agentId", agentId);
            }
            if (typeof fn === 'function') {
                fn(params);
            }

            params.append("pagesize", 10);
            
            reload(form.attr("action") + "&" + encodeURI(params.toString()));
        }

        $('body').on('submit', "#search-form form", function(e){
            reloadPageWithFilter();            
            e.preventDefault();
        })

        $('body').on('click', 'a[filter]', function (e) {
            const self = this;
            reloadPageWithFilter(function (params) {
                const name = $(self).data('name');
                const val = $(self).data('val');
                if (name) {
                    params.set(name, val);
                }
            });
            e.preventDefault();
        })

        $('body').on('click', '.pagination li:not(.active) a', function (e) {
            e.preventDefault();
            const url = $(this).attr("href");
            reload(url);
        })
    })
</script>
{template 'common/footer'}