<form class="form-horizontal" id="editShippingDataForm">
    <div class="form-group">
        <label for="carrier" class="col-md-2 control-label">快递公司</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="carrier" name="carrier" value="{$shipping['carrier']}" placeholder="选填">
        </div>
    </div>
    <div class="form-group">
        <label for="uid" class="col-md-2 control-label">快递单号</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="uid" name="uid" value="{$shipping['uid']}" placeholder="选填">
        </div>
    </div>
    <div class="form-group">
        <label for="memo" class="col-md-2 control-label">备注</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="memo" name="memo" value="{$shipping['memo']}" placeholder="选填">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align: right;">
            <button type="button" class="btn btn-primary" onclick="api.saveShippingData({$id})">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
        </div>
    </div>
</form>