{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220517');}
{php \zovye\url(true, 'static/css/orderlist.css?v=20220307');}
<style>
    #orderlist .transactionId {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }
    #orderlist .transactionId img {
        width: 16px;
        height: 16px;
        margin-right: 3px;
    }
    #orderlist .transactionId.query img {
        filter: grayscale(1);
    }
    #orderlist .goods {
        max-height: 100px;
        max-width: 100px;
        overflow: hidden;
        text-align: center;
    }
    {if $s_way == 'charging'}
    #orderlist .charging-ts-container {
        position: relative;
    }
    #orderlist .charging-ts {
        font-size: small;
        color: #9E9E9E;
        max-width: 350px;
        white-space: nowrap;
    }
    {else}
    #orderlist .charging-ts-container {
        position: relative;
        width: 100px;
        height: 100px;
    }
    #orderlist .charging-ts {
        font-size: small;
        color: #9E9E9E;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
    }
    #orderlist .charging-ts:hover {
        max-width: 350px;
        position: absolute;
        background: #fff;
        border: 1px solid #ccccccb3;
        padding: 6px 15px;
        left: -14px;
    }
    {/if}
    #orderlist div.charging.timeout {
        color:#FF9800;
    }
    #orderlist div.charging.timeout [data-op]:hover {
        color:#2196F3;
        text-decoration: underline;
    }
    #orderlist .fee {
        color: #4caf50;
    }
    #orderlist .icon.big {
        width: 32px;
        height: 32px;
    }
    #orderlist .price {
        font-weight: bolder;
    }
    #orderlist .charging {
        color: #4caf50;
    }
    #orderlist small {
        font-size: 60%;
    }
    #orderlist .pay_info {
        padding: 6px 0;
        font-style: italic;
        font-size: smaller;
        color: #9e9e9e;
    }
    a[filter] {
        cursor: pointer;
    }
    strong.total {
        color: #8bc34a;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    {if empty($s_way)}
    <li role="presentation" class="active"><a href="#">全部</a></li>
    {else}
    <li role="presentation"><a filter data-name="way" data-val="">全部</a></li>
    {/if}
    {if $s_way=='pay'}
    <li role="presentation" class="active"><a href="#">支付</a></li>
    {else}
    <li role="presentation" ><a filter data-name="way" data-val="pay">支付</a></li>
    {/if}
    {if $s_way=='free'}
    <li role="presentation" class="active"><a href="#">免费</a></li>
    {else}
    <li role="presentation"><a filter data-name="way" data-val="free">免费</a></li>
    {/if}
    {if \zovye\App::isBalanceEnabled()}
        {if $s_way=='balance'}
        <li role="presentation" class="active"><a href="#">积分</a></li>
        {else}
        <li role="presentation"><a filter data-name="way" data-val="balance">积分</a></li>
        {/if}
        {if $s_way=='delivery'}
        <li role="presentation" class="active"><a href="#">商城</a></li>
        {else}
        <li role="presentation"><a href="{php echo $this->createWebUrl('mall');}">商城</a></li>
        {/if}        
    {/if}
    {if \zovye\App::isChargingDeviceEnabled()}
        {if $s_way=='charging'}
        <li role="presentation" class="active"><a href="#">充电</a></li>
        {else}
        <li role="presentation"><a filter data-name="way" data-val="charging">充电</a></li>
        {/if}
    {/if}
    {if \zovye\App::isFuelingDeviceEnabled()}
        {if $s_way=='fueling'}
        <li role="presentation" class="active"><a href="#">加注</a></li>
        {else}
        <li role="presentation"><a filter data-name="way" data-val="fueling">加注</a></li>
        {/if}
    {/if}
    {if $s_way=='refund'}
    <li role="presentation" class="active"><a href="#">退款</a></li>
    {else}
    <li role="presentation"><a filter data-name="way" data-val="refund">退款</a></li>
    {/if}
    {if $s_way=='unexpected'}
    <li role="presentation" class="active"><a href="#">异常</a></li>
    {else}
    <li role="presentation"><a filter data-name="way" data-val="unexpected">异常</a></li>
    {/if}
    {if $device || $user}
    <li role="presentation"  class="active"><a href="#">{php echo $user?$user->getName():''}{if $user && $device} <i class="fa fa-sign-in" style="color:#CCC;"></i> {/if}{php echo $device ? $device->getName() : '';}</a></li>
    {/if}
</ul>
<div class="panel panel-default{if empty($s_way)} panel-first{/if} nav-tab-item">
    <div class="heading">
        <span class="operate">
            {if $s_way=='pay' || empty($s_way)}
            <a href="{php echo $this->createWebUrl('order', array('op'=>'log'));}"><i class="fa fa-fw fa-sliders" title="支付记录"></i></a>
            {/if}
            <a href="{php echo $this->createWebUrl('order', array('op'=>'export'));}"><i class="fa fa-fw fa-filter" title="导出订单"></i></a>
            <a href="{php echo $this->createWebUrl('device', array('op'=>'feed_back'));}"><i class="fa fa-fw fa-flag-o" title="问题反馈"></i></a>
        </span>
    </div>
    <div class="panel-body">
        <div id="search-bar">
            <div class="text-input">
                <span>根据条件搜索订单 ...</span>
                <span class="button"><i class="fa fa-search"></i>&nbsp;搜索</span>
            </div>
        </div>
        <div id="search-form">
            <form action="{$url}" method="post">
                <div class="form-group">
                    <label for="select_agent" class="col-md-2 control-label">所属代理商</label>
                    <div class="col-md-5">
                        <select name="agent_openid" id="select_agent" style="width:100%;">
                            <option value="0">&lt;不限&gt;</option>
                            {loop $ag_res $key $ag_item}
                            <option value="{$ag_item['openid']}" {if $s_open_id == $ag_item['openid']} selected="selected" {/if}>{$ag_item['nickname']}，手机号码：{$ag_item['mobile']}</option>
                            {/loop}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="keyword_agent" id="keyword_agent" placeholder="请输入手机号码或者名称查找...">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="button" id="find_agent" title="搜索代理商"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select_device" class="col-md-2 control-label">设备</label>
                    <div class="col-md-5">
                        <select name="device_id" id="select_device" style="width:100%;">
                            <option value="0">&lt;不限&gt;</option>
                            {loop $de_res $key $de_item}
                            <option value="{$de_item['id']}" {if $s_device_id == $de_item['id']} selected="selected" {/if}>{$de_item['name']}，IMEI：{$de_item['imei']}</option>
                            {/loop}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="keyword_device" id="keyword_device" placeholder="请输设备名称或IMEI号查找...">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="button" id="find_device" title="搜索设备"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">订单号</label>
                    <div class="col-md-8">
                        <input name="order"  class="form-control" type="text" value="{php echo $s_order}" style="width: 100%;"/>
                    </div>
                </div>
                {if $user_res}
                <div class="form-group">
                    <label class="col-md-2 control-label">用户</label>
                    <div class="col-md-8">
                        <div class="profile">
                            <img src="{$user_res['headimgurl']}" />
                            <span class="nickname operate">
                                {$user_res['nickname']} <i class="fa fa-times" style="color: gray;" data-op="searchNoUserFilter" title="清除"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="user_id" value="{$s_user_id}">
                {/if}              
                <div class="form-group">
                    <label class="col-md-2 control-label">日期</label>
                    <div class="col-md-4">
                        <input name="datelimit[start]" type="hidden" value="{php echo $s_start_date}"/>
                        <input name="datelimit[end]" type="hidden" value="{php echo $s_end_date}"/>
                        <button class="btn btn-default daterange daterange-date" type="button">
                        <span class="date-title">
                            {if empty($s_start_date) && empty($s_end_date)}
                            不限时间
                            {else}
                            {$s_start_date} 至 {$s_end_date}
                            {/if}
                        </span> <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                    <div class="col-md-2">
                        <input name="way" type="hidden" value="{php echo $s_way}"/>
                        <button class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;搜索</button>
                        <button class="btn btn-default btn-close" title="清除搜索"><i class="fa fa-ban" style="color: gray;"></i></button>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </form>
        </div>
        {if $orders}
            <table class="table" id="orderlist">
                <thead>
                <tr>
                    <th>#</th>
                    <th>来源</th>
                    <th>详情</th>                
                    <th>名称</th>
                    <th>价格</th>
                    <th>用户</th>
                    <th class="center">归属</th>
                    <th class="center">设备</th>
                    <th class="sm-0">
                        <div>地区(IP定位)</div>
                        <div>创建时间</div>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {loop $orders $index $order}
                <tr data-id="{$order['id']}" {if $order['result'] && isset($order['result']['errno']) && $order['result']['errno'] != 0}class="failed"{/if}>
                    <td>{php echo $index + 1}</td>
                    <td>
                        {if $order['type'] == 'charging'}
                        <div class="transactionId" title="充电桩订单编号">
                            <img src="{MODULE_URL}static/img/charging.svg" class="balance">{$order['orderId']}                   
                        </div>
                            {if $order['charging']['record']['VIN']}
                        <div class="orderId" title="VIN">
                            <i class="fa fa-car"></i> {php echo $order['charging']['record']['VIN']}
                        </div>
                            {/if}
                        {elseif $order['type'] == 'fueling'}
                        <div class="transactionId operate" title="尿素加注订单">
                            <img src="{MODULE_URL}static/img/gas.svg" class="balance">
                            {$order['orderId']}
                        </div>
                        {else}
                        {if $order['price']>0}
                        <div class="transactionId {$order['src']}">
                            <img src="{MODULE_URL}static/img/{$order['pay_name']}.svg" title="{php echo \zovye\Pay::getTitle($order['pay_name'])}">
                            {$order['transaction_id']}
                        </div>
                        {elseif $order['balance'] > 0}
                        <div class="orderSrc">
                            积分兑换：<span class="balance">{$order['balance']}</span>
                            <img src="{MODULE_URL}static/img/coin.svg" class="balance">              
                        </div>
                        {elseif $order['reward']}
                        <div class="orderSrc">
                            <div class="account-title">
                                <img src="{MODULE_URL}static/img/wxapp.jpg"> 小程序激励视频广告
                            </div>
                        </div>
                        <div class="orderSrc">
                            {if $order['account']}
                            <div class="account-title">
                                {if $accounts[$order['account']]}
                                <img src="{media $accounts[$order['account']]['img']}" alt=""/>
                                {/if}
                                {$order['account_title']}
                                {if $order['questionnaire_log']}
                                <span data-id="{$order['questionnaire_log']}" title="查看问卷提交详情">
                                    <img src="{php echo MODULE_URL . 'static/img/questionnaire.svg'}" class="icon" data-op="viewQuestionnaireDetail">
                                </span>
                                {/if}
                            </div>
                            {elseif $order['voucher']}
                            提货码：{$order['voucher']['code']}
                            {else}
                            &lt;n/a&gt;
                            {/if}
                        </div>
                        {elseif $order['promo']}
                        <div class="orderSrc">
                            <div class="account-title">
                                <img src="{MODULE_URL}static/img/sms.svg"> 手机短信免费领取
                            </div>
                        </div>
                        {/if}
                        <div class="orderId">
                            {if $order['qrcode']}
                            <img src="{MODULE_URL}static/img/scanner.svg" class="balance" title="付款码">        
                            {/if}
                            {$order['orderId']}
                        </div>
                        {/if}
                    </td>
                    <td>
                        <!--充电订单开始-->
                        {if $order['type'] == 'charging'}
                        <div class="charging-ts-container">
                            <div class="charging-ts">
                                {if $order['charging']['record']}
                                    <div>
                                        <i class="fa fa-share-alt fa-fw"></i> 充电枪号：{$order['charging']['record']['chargerID']}
                                    </div>
                                    {if $order['charging']['record']['total']}
                                    <div>
                                        <i class="fa fa-bolt fa-fw"></i> 总耗电量：<strong class="total">{$order['charging']['record']['total']}</strong> 度
                                    </div>
                                    {/if}
                                    {if $order['charging']['record']['start']}
                                    <div>
                                        <i class="fa fa-clock-o fa-fw"></i>
                                        开始时间：{php echo date('Y-m-d H:i:s', intval($order['charging']['record']['start']))}
                                    </div>
                                    {/if}
                                    {if $order['charging']['record']['end']}
                                    <div>
                                        <i class="fa fa-clock-o fa-fw"></i>
                                        结束时间：{php echo date('Y-m-d H:i:s', intval($order['charging']['record']['end']))}
                                    </div>
                                    {/if}
                                    {if empty($order['charging']['record']['start']) && $order['charging']['record']['createdAt']}
                                    <div>
                                        <i class="fa fa-clock-o fa-fw"></i>
                                        创建时间：{php echo date('Y-m-d H:i:s', intval($order['charging'['record']]['createdAt']))}
                                    </div>
                                    {/if}
                                    {if $order['charging']['record']['stopReasonDesc']}
                                    <div>
                                        <i class="fa fa-comments-o fa-fw"></i>
                                        停止原因：{$order['charging']['record']['stopReasonDesc']}
                                    </div>
                                    {/if}
                                {else}
                                    {if $order['charging']['result']['re'] == 3}
                                    {if $order['charging']['status']}
                                        <div class="charging">
                                            <i class="fa fa-share-alt fa-fw"></i> 充电枪号：{php echo $order['charging']['result']['ch'] ?? '?'}
                                        </div>
                                        <div class="charging">
                                            <i class="fa fa-bolt fa-fw"></i> 总耗电量：<strong>{php echo $order['charging']['status']['chargedKWH']}</strong> 度
                                        </div>
                                        <div class="charging">
                                            <i class="fa fa-clock-o fa-fw"></i> 已用时间：<strong>{php echo $order['charging']['status']['timeTotal']}</strong> 分钟
                                        </div>
                                        <div class="charging">
                                            <i class="fa fa-clock-o fa-fw"></i> 剩余时间：<strong>{php echo $order['charging']['status']['timeRemain']}</strong> 分钟
                                        </div>
                                        <div class="charging">
                                            <i class="fa fa fa-ellipsis-h fa-fw"></i> 电池电量：<strong>{php echo $order['charging']['status']['soc']}</strong> %
                                        </div>
                                        {if $order['BMS']['timeout']}
                                        <div class="charging timeout">
                                            <i class="fa fa-info-circle fa-fw"></i> 充电数据上报已超时，<span data-op="endOrder">立即结算?</span>
                                        </div>
                                        {/if}
                                    {/if}
                                    {elseif $order['charging']['result']}
                                    <div>
                                        <i class="fa fa-share-alt fa-fw"></i> 充电枪号：{php echo $order['charging']['result']['ch'] ?? '?'}
                                    </div>
                                    {if $order['charging']['result']['re'] != 3}
                                    <div>
                                        <i class="fa fa-info-circle fa-fw"></i> 故障描述：
                                        {if $order['charging']['result']['re'] == 112}
                                        设备正在充电中
                                        {elseif $order['charging']['result']['re'] == 113}
                                        设备发生故障
                                        {elseif $order['charging']['result']['re'] == 114}
                                        设备离线
                                        {elseif $order['charging']['result']['re'] == 115}
                                        充电枪没有插入
                                        {elseif $order['charging']['result']['re'] == 121}
                                        设备通讯失败
                                        {elseif $order['charging']['result']['re'] == 122}
                                        设备响应超时
                                        {else}
                                        其它设备故障[ {php echo $order['charging']['result']['re'] - 110} ]
                                        {/if}
                                    </div>
                                    {/if}
                                    {elseif $order['charging']['timeout']}
                                    <div>
                                        <i class="fa fa-share-alt fa-fw"></i> 充电枪号：{php echo $order['charging']['chargerID'] ?? '?'}
                                    </div>
                                    <div>
                                        <i class="fa fa-info-circle fa-fw"></i> 设备故障：{php echo $order['charging']['timeout']['reason']??'n/a'}
                                    </div>
                                    {else}
                                    <div>
                                        <i class="fa fa-info-circle fa-fw"></i> 查询中...
                                    </div>
                                    {/if}
                                {/if}
                            </div>
                        </div>
                        {/if}
                        <!--充电订单结束-->

                        <!--加注订单开始-->
                        <!--加注订单结束-->
                        <!--普通订单开始-->
                        {if $order['goods']}
                        <div class="goods">
                            <img src="{$order['goods']['img']}"/>
                        </div>
                        {elseif $order['package']}
                        <div class="package">
                            {loop $order['package']['list'] $i $goods}
                            <div class="goods">
                                <img src="{$goods['image']}">
                            </div>
                            {php break;}
                            {/loop}
                        </div>
                        {/if}
                        <!--普通订单结束-->
                    </td>
                    <td>
                        <div class="name">
                            <span {if $order["result"] && isset($order["result"]["errno"]) && $order["result"]["errno"] != 0} title="{php echo empty($order['refund']) ?  $order["result"]["message"] : $order['refund']['reason']}{/if}">
                                {if $order['goods']}                            
                                {$order['goods']['name']}        
                                <sup class="id" title="商品ID">{$order['goods']['id']}</sup>                    
                                {elseif $order['package']}
                                {$order['package']['title']}
                                {elseif $order['group'] }
                                {$order['group']['title']}<br>
                                <small>单价：<span class="fee">{$order['group']['tips']}</span></small>
                                {/if}                                
                            </span>
                            {if $order['type'] != 'charging'}
                            <span   {if $order['pull_logs'] === true}  class="num" data-op="pullsDetail" title="查看出货记录..."
                                    {else}  class="num" {if $order['charging'] || $order['fueling']}data-op="priceDetail"{/if}
                                    {/if}> 
                                {$order['num']}
                                <span style="font-size: small;">{$order['goods']['unit_title']}</span>
                                {if $order['src'] ==  \zovye\Order::FUELING_UNPAID}
                                <img src="{MODULE_URL}static/img/gun.svg" class="icon big" title="正在加注中" data-op="stopFueling">
                                {/if}
                            </span>
                            {/if}
                        </div>
                    </td>
                    <td>
                        <div  class="status operate">
                            <div class="detail">
                                {if $order['type'] == 'charging'}
                                    {if $order['price'] > 0}
                                        {if $order['src'] == 31}费用：<span class="price"> {$order['price']}</span>{else}总价：<span class="price" data-op="priceDetail"> {$order['price']}</span>{/if}
                                    {else}
                                    {/if}
                                {else}
                                单价：<span class="price">{php echo number_format(($order['goods']['price']??$order['package']['price']) / 100, 2)}</span>
                                {if $order['price']>0 || $order['type'] == 'fueling'}
                                / 总价：<span class="price{if $order['price']==0} zeroprice{/if}{if $order['discount'] > 0} discount{/if}" {if $order['fueling']}data-op="priceDetail"{/if}>
                                    {if $order['discount'] > 0}
                                        {php echo number_format($order['goods']['price'] * $order['num'] / 100, 2)}
                                    {else}
                                        {$order['price']}
                                    {/if}
                                </span>
                                    {if $order['discount']>0}
                                        <span class="price">{php echo number_format($order['price'], 2)}</span>
                                    {/if}
                                    {if empty($order['refund']) && $order['type'] != 'charging' && $order['type'] != 'fueling'}
                                    <img src="{php echo MODULE_URL . 'static/img/refund.svg'}" class="icon" title="退款" data-op="refund">
                                    {/if}
                                {/if}
                                {/if}
                                {if $order['type'] == 'fueling'}
                                    {if empty($order['fueling']['record']) && $order['fueling']['result']['re'] != 3}
                                    <span>
                                        <i class="fa fa-info-circle" title="{if $order['fueling']['result']['re'] == 9}正在使用中{else}其它故障[ {php echo $order['fueling']['result']['re']} ]{/if}"
                                        ></i>
                                    </span>
                                    {/if}
                                {/if}

                            <!-- 佣金详情开始 -->
                            {if $order['commission']}
                            <div class="commission_detail local">
                                <div class="total">
                                    <span class="title">订单佣金 </span><span data-op="commissionDetail">￥{php echo number_format($order['commission']['local']['total'] / 100, 2)}元</span>
                                </div>
                                {if $order['commission']['bonus']}
                                {loop $order['commission']['bonus'] $index $item}
                                {php $bonus_user = \zovye\User::get($item['openid'], true);}
                                {if $bonus_user}
                                <div class="gspor bonus_item">
                                    <div class="profile">
                                        <img src="{php echo $bonus_user->getAvatar();}" alt="">
                                        <span>{php echo $bonus_user->getName()}</span>
                                        {if $bonus_user->getMobile()}                                
                                        <span class="mobile" data-mobile="{php echo $bonus_user->getMobile();}" title="{php echo $bonus_user->getMobile();}">&nbsp;<i class="fa fa-mobile"></i></span>
                                        {/if}
                                    </div>
                                    <div class="income">
                                        <b>奖励：</b><span class="money">￥{php echo number_format($item['xval'] / 100, 2);}元</span>
                                    </div>
                                </div>
                                {/if}
                                {/loop}
                                {/if}
                                {if $order['commission']['gsp']}
                                {loop $order['commission']['gsp'] $index $item}
                                {php $gspor = \zovye\User::get($item['openid'], true);}
                                {if $gspor}
                                <div class="gspor">
                                    <div class="profile">
                                        <img src="{php echo $gspor->getAvatar();}" alt="">
                                        <span>{php echo $gspor->getName()}</span>
                                        {if $gspor->getMobile()}                                
                                        <span class="mobile" data-mobile="{php echo $gspor->getMobile();}" title="{php echo $gspor->getMobile();}">&nbsp;<i class="fa fa-mobile"></i></span>
                                        {/if}
                                    </div>
                                    <div class="income">
                                        <b>佣金：</b><span class="money">￥{php echo number_format($item['xval'] / 100, 2);}元</span>
                                    </div>
                                </div>
                                {/if}
                                {/loop}
                                {/if}
                                {if $order['commission']['agent']}
                                <div class="gspor agent_item">
                                    <div class="profile">
                                        <img src="{$order['agent']['avatar']}" alt="">
                                        <span>{$order['agent']['name']}</span>
                                    </div>
                                    <div class="income">
                                        <b>佣金：</b><span class="money">￥{php echo number_format($order['commission']['agent']['xval']/100, 2)}元</span>
                                    </div>
                                </div>
                                {/if}
                                {if $order['commission']['keepers']}
                                {loop $order['commission']['keepers'] $index $item}
                                {php $keeper = \zovye\User::get($item['openid'], true);}
                                {if $keeper}
                                <div class="gspor keeper_item{if $item['promoter']} promoter{/if}">
                                    <div class="profile">
                                        <img src="{php echo $keeper->getAvatar();}" alt="">
                                        <span>{php echo $keeper->getName()}</span>
                                        {if $keeper->getMobile()}                                
                                        <span class="mobile" data-mobile="{php echo $keeper->getMobile();}" title="{php echo $keeper->getMobile();}">&nbsp;<i class="fa fa-mobile"></i></span>
                                        {/if}
                                    </div>
                                    <div class="income">
                                        <b>佣金：</b><span class="money">￥{php echo number_format($item['xval'] / 100, 2);}元</span>
                                    </div>
                                </div>
                                {/if}
                                {/loop}
                                {/if}
                            </div>
                            {/if}
                            <!-- 佣金详情结束 -->
                            </div>
                            <div class="pay operate">
                                {if $order['refund']}
                                <span class="refund-title" title="{$order['refund']['title']}"> （已退款） </span>
                                {/if}
                            </div>
                        </div>
                        {if $order['pay'] && $order['pay']['type'] == \zovye\model\pay_logsModelObj::getTypename()}
                        <div class="pay_info">
                            {if ($order['pay']['pay_name'])}
                            <img src="{MODULE_URL}static/img/{$order['pay']['pay_name']}.svg" class="balance">
                            {else}
                            <i class="fa fa-tag"></i>
                            {/if}
                            已支付{php echo number_format($order['pay']['balance'] / 100, 2, '.', '')}元
                            {if $order['fueling']&&$order['fueling']['refund']}, {if $order['fueling']['refund']['total']>0}已退回{php echo number_format($order['fueling']['refund']['total'] / 100, 2, '.', '')}元{else}已全额退款{/if}{/if}
                            {if $order['charging']&&$order['charging']['refund']}, {if $order['charging']['refund']['total']>0}已退回{php echo number_format($order['charging']['refund']['total'] / 100, 2, '.', '')}元{else}已全额退款{/if}{/if}
                        </div>
                        {/if}
                </td>
                <td>
                    <div class="profile">
                        <img src="{$order['user']['avatar']}" />
                        <div>
                            <span class="nickname">
                                {if $user}
                                {php echo $order['user']['nickname'] ?: '&lt;匿名用户&gt;'}
                                {else}
                                <a filter data-name="user_id" data-val="{$order['user']['id']}" href="{php echo $this->createWebUrl('order', array('user_id' => $order['user']['id'], 'device_id' => $s_device_id));}" title="点击查看{php echo $order['user']['nickname']?:'&lt;匿名用户&gt;'}的订单">
                                    {php echo $order['user']['nickname'] ?: '&lt;匿名用户&gt;'}
                                </a>
                                {/if}
                            </span>
                            <div>
                            {if $order['user']['mobile']}
                            <span class="mobile" data-mobile="{$order['user']['mobile']}" title="点击复制"><i class="fa fa-mobile"></i> {$order['user']['mobile']}</span>
                            {/if}                                
                            </div>
                        </div>
                    </div>
                </td>
                <td class="from">
                    <div class="account"  style="background-color:#ddd;overflow:hidden;">
                        <div class="tips {$order['tips']['class']}" style="background-color:{$order['clr']}">
                            {$order['tips']['text']}
                        </div>
                        {if $order['account']}
                            <img src="{media $accounts[$order['account']]['img']}" alt=""/>
                        {elseif $order['voucher'] > 0}
                            <i class="fa fa-ticket"></i>
                        {else}
                        <img src="{$order['from']['icon']}" title="{$order['from']['title']}" />
                        {/if}
                    </div>
                    {if $order['agent']}
                    <a filter data-name="agent_openid" data-val="{$order['agent']['openid']}" href="{php echo $this->createWebUrl('order', array('agent_openid' => $order['agent']['openid']));}" title="查看代理商{$order['agent']['name']}的订单">
                        <div class="agent agentId{$order['agentId']}" style="background-color: {$order['agent']['level']['clr']}">
                            <img src="{$order['agent']['avatar']}" alt="">
                            <span>{$order['agent']['name']}</span>
                        </div>
                    </a>
                    {else}
                    <div class="agent" style="background-color:#9E9E9E;">
                        {if $order['is_zero_bonus']}
                        {else}
                        <img src="{php echo MODULE_URL.'static/img/warning_icon.jpg'}" alt="">
                        <span>&lt;未绑定&gt;</span>
                        {/if}
                    </div>
                    {/if}
                </td>
                <td  class="devicename agentId{$order['agentId']}">
                    {if $order['device']['name']}
                    <div>
                        {if $order['is_zero_bonus']}
                        <i class="fa fa-question-circle disabled"></i>
                        {/if}
                        {if $device && $device->getId() == $order['device']['id']}
                        {$order['device']['name']}
                        {else}
                        <a filter data-name="device_id" data-val="{$order['device']['id']}" href="{php echo $this->createWebUrl('order', array('user_id'=>$s_user_id, 'device_id'=>$order['device']['id']));}" title="点击查看这台设备的订单">{$order['device']['name']}</a>
                        {/if}
                        <div class="zovye_qrcode">
                            <img src="{$order['device']['qrcode']}" />
                        </div>
                    </div>
                    {else}
                        {if $order['is_zero_bonus']}
                        <i class="fa fa-question-circle disabled"></i>
                        {else}
                        &lt;未知设备&gt;
                        {/if}
                    {/if}
                </td>
                <td class="sm-0">
                    <div title="{$order['ip']}">{$order['ip_info']}{if $order['isp']}({$order['isp']}){/if}</div>
                    <div style="color:#9E9E9E;font-size:12px;">{$order['createtime']}</div>
                </td>
                <td class="operate">
                    <!--<i class="fa fa-trash" title="删除"></i>-->
                </td>
                </tr>
            {/loop}
        </tbody>
        </table>
        <div class="pull-right">
        {$pager}
        </div>    
    </div>
{else}
    <div class="text-center text-muted">
        <i class="fa fa-question-circle"></i> 暂时还没有任何订单！
    </div>
{/if}
</div>

<script>
    const open_id = '{php echo $open_id}' || 0;
    const device_id = '{php echo $device_id}' || 0;

    const api = {
        url: "{php echo $this->createWebUrl('order');}",
        account_url: "{php echo $this->createWebUrl('account');}",
    };

    api.showResult = function (params, url, loading, cb) {
        loading && util.loading();
        $.getJSON(url || api.url, params).done(function (res) {
            loading && util.loaded();
            if (res) {
                if (typeof cb == 'function') {
                    if (cb(res)) {
                        return;
                    }
                }
                if (res.status) {
                    if (res.data && res.data.content) {
                        const dlg = util.dialog(res.data.title || '', res.data.content);
                        dlg.modal('show');
                    }
                }
                if (res.message && res.type) {
                    util.message(res.message, '', res.type);
                }
                if (res.data && res.data.msg) {
                    util.message(res.data.msg, '', res.status ? 'success' : 'error');
                }
            }
        }).fail(function () {
            loading && util.loaded();
        })
    }

    api.refund = function (id) {
        api.showResult({ op: 'preRefund', id: id });
    }

    api.orderRefund = function (id) {
        const input = $('input[name=num]');
        if (input) {
            const min = parseInt(input.attr('min'));
            const max = parseInt(input.attr('max'));
            const num = parseInt(input.val());
            if (num >= min && num <= max) {
                api.showResult({ op: 'refund', id: id, num: num }, '', true, function () {
                    $('#modal-message').modal('hide');
                });
            } else {
                input.focus();
            }
        }
    }

    api.orderRefund2 = function (id) {
        const input = $('input[name=price]');
        if (input) {
            const min = Math.round(parseFloat(input.attr('min')) * 100);
            const max = Math.round(parseFloat(input.attr('max')) * 100);
            const price = Math.round((input.val()) * 100);
            if (price >= min && price <= max) {
                api.showResult({ op: 'refund', id: id, price: price }, '', true, function () {
                    $('#modal-message').modal('hide');
                });
            } else {
                input.focus();
            }
        }
    }

    api.commissionDetail = function (id) {
        api.showResult({ op: 'commissionDetail', id: id });
    }

    api.pullsDetail = function (id) {
        api.showResult({ op: 'pullsDetail', id: id });
    }

    api.stopFueling = function (id) {
        if (confirm('请确认是否要强制结束该订单？')) {
            api.showResult({ op: 'stopFueling', id: id });
        }
    }

    api.viewQuestionnaireDetail = function(id, self) {
        const logId = self.closest('[data-id]').data('id');
        api.showResult({ op: 'viewDetail', id:logId }, api.account_url);
    }

    api.searchNoUserFilter = function() {
        reloadPageWithFilter(params => {
            params.delete('user_id');
            params.set('page', 1);
        });
    }

    api.priceDetail = function(id) {
        api.showResult({ op: 'priceDetail', id: id });
    }

    api.endOrder = function(id) {
        api.showResult({ op: 'endOrder', id: id });
    }

    function reloadPageWithFilter(fn) {
        const url = location.href;
        const index = url.indexOf('?');

        const params = new URLSearchParams(index === -1 ? null : url.substr(index));
        const agent = $('select[name=agent_openid]').val();
        if (agent) {
            params.set('agent_openid', agent);
        }
        const device = $('select[name=device_id]').val();
        if (device) {
            params.set('device_id', device);
        }
        const order = $('input[name=order]').val();
        if (order) {
            params.set('order', order);
        }
        const start = $('input[name="datelimit[start]"]').val();
        if (start) {
            params.set('datelimit[start]', start);
        }
        const end = $('input[name="datelimit[end]"]').val();
        if (end) {
            params.set('datelimit[end]', end);
        }
        const way = $('input[name=way]').val();
        if (way) {
            params.set('way', way);
        }
        if (typeof fn === 'function') {
            fn(params);
        }

        const api_url = url.substr(0, index !== -1 ? index : url.length);
        location.href = api_url + "?" + params.toString();
    }

    $(function () {
        const backer = "{$backer}";
        $('#search-bar').click(function () {
            $(this).hide();
            $('#search-form').show();
            $('input[name=order]').focus();
        })

        if (backer) {
            $('#search-bar').trigger('click');
        }

        $('#search-form .btn-close').click(function (e) {
            if (backer) {
                location.href = $('#search-form form').attr('action');    
                setTimeout(function(){util.loading()}, 1000);               
            } else {
                $('#search-form').hide();
                $('#search-bar').show();
            }
            e.preventDefault();
         })

        $('body').on('click', 'a[filter]', function (e) {
            const self = this;
            reloadPageWithFilter(function (params) {
                const name = $(self).data('name');
                const val = $(self).data('val');
                if (name) {
                    params.set(name, val);
                    params.set('page', 1);
                }
            });
            e.preventDefault();
        })

        $('.pagination li:not(.active) a').click(function () {
            setTimeout(function () { util.loading() }, 1000);
        })

        $('.panel').on('click', '[data-op]', function (e) {
            const op = $(this).data('op');
            if (op && api[op]) {
                const id = $(this).closest('tr').data('id');
                api[op](id, $(this));
            }
            e.preventDefault();
        })

        $('#find_agent').click(function () {
            const keyword = $('input[name=keyword_agent]').val();
            util.loading();
            $.get("{php echo $this->createWebUrl('agent', array('id'=>$id));}", {
                op: 'search',
                keyword: keyword
            }, function (res) {
                let html = '';
                if (res.status) {
                    const list = res.data || [];
                    let isSelected = '';
                    list.forEach(function (e) {
                        isSelected = '';
                        if (e.openid == open_id) {
                            isSelected = 'selected = "selected"';
                        }
                        html += '<option value="_1*" _4*>_2*，手机号码：_3*</option>'
                            .replace('_1*', e.openid)
                            .replace('_2*', e.name)
                            .replace('_3*', e.mobile)
                            .replace('_4*', isSelected);
                    })
                }
                let isSelected = '';
                if (0 == open_id) {
                    isSelected = 'selected = "selected"';
                }
                html += '<option value="0" ' + isSelected + '><不限></option>';
                $('#select_agent').html(html);

            }, 'json').complete(function () {
                util.loaded();
            })
        })

        $('#find_device').click(function () {
            const keyword = $('input[name=keyword_device]').val();
            const agent = $('select[name=agent_openid]').val();
            util.loading();
            $.get("{php echo $this->createWebUrl('device');}", { op: 'search', keyword: keyword, openid: agent }, function (res) {
                let html = '';
                if (res.status) {
                    const list = res.data || [];
                    let isSelected = '';
                    list.forEach(function (e) {
                        isSelected = '';
                        if (e.id == device_id) {
                            isSelected = 'selected = "selected"';
                        }
                        html += '<option value="_1*" _4*>_2*，IMEI：_3*</option>'
                            .replace('_1*', e.id)
                            .replace('_2*', e.name)
                            .replace('_3*', e.imei)
                            .replace('_4*', isSelected);
                    })
                }
                let isSelected = '';
                if (0 == device_id) {
                    isSelected = 'selected = "selected"';
                }
                html += '<option value="0" ' + isSelected + '><不限></option>';
                $('#select_device').html(html);

            }, 'json').complete(function () {
                util.loaded();
            })
        })

        $('[data-mobile]').each(function () {
            util.clip(this, $(this).data('mobile'));
        })

        require(["daterangepicker"], function () {
            $(function () {
                $(".daterange.daterange-date").each(function () {
                    const elm = this;
                    $(this).daterangepicker({
                        startDate: $(elm).prev().prev().val() || moment("不限", "Y"),
                        endDate: $(elm).prev().val() || moment("不限", "Y"),
                        format: "YYYY-MM-DD",
                        clear: 1
                    }, function (start, end) {
                        start = start.toDateStr().indexOf("0000-01-01") != -1 ? "" : start.toDateStr();
                        end = end.toDateStr().indexOf("0000-01-01") != -1 ? "" : end.toDateStr();
                        var html = (start == "" ? "不限时间" : start) + (start == "" && end === "" ? "" : (" 至 " + end))
                        $(elm).find(".date-title").html(html);
                        $(elm).prev().prev().val(start);
                        $(elm).prev().val(end);
                    })
                })
            })
        })
    })
</script>

{template 'common/footer'}
