{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20201108');}
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation"><a href="{php echo $this->createWebUrl('homepage', array('op'=>'default'));}">首页</a></li>
    <li role="presentation" ><a href="{php echo $this->createWebUrl('order', array('op'=>'stat'));}">营收统计</a></li>
    <li role="presentation" ><a href="{php echo $this->createWebUrl('withdraw', array('op'=>'stat'));}">提现统计</a></li>
    <li role="presentation" class="active"><a href="#">订单导出</a></li>
    <li role="presentation" ><a href="{php echo $this->createWebUrl('agent', array('op'=>'commission_export'));}">佣金明细</a></li>
    <li role="presentation" ><a href="{php echo $this->createWebUrl('account', array('op'=>'platform_stat'));}">平台分成</a></li>
</ul>
<form class="form">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="select_agent" class="col-md-2 control-label">所属代理商</label>
                <div class="col-md-5">
                    <select name="agent_openid" id="select_agent" style="width:100%;">
                        <option value="0">&lt;不限&gt;</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="keyword_agent" id="keyword_agent" placeholder="请输入手机号码或者名称查找">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="button" id="find_agent">查找</button>
                </div>
            </div>
            <div class="form-group">
                <label for="select_account" class="col-md-2 control-label">公众号</label>
                <div class="col-md-5">
                    <select name="account_id" id="select_account" style="width:100%;">
                        <option value="0">&lt;不限&gt;</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="keyword_account" id="keyword_account" placeholder="请输入公众号名称查找">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="button" id="find_account">查找</button>
                </div>
            </div>
            <div class="form-group">
                <label for="select_device" class="col-md-2 control-label">设备</label>
                <div class="col-md-5">
                    <select name="device_id" id="select_device" style="width:100%;">
                        <option value="0">&lt;不限&gt;</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="keyword_device" id="keyword_device" placeholder="请输设备ＩＭＥＩ号查找">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="button" id="find_device">查找</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">日期</label>
                <div class="col-md-8">
                    <input name="datelimit[start]" type="hidden" value="{php echo $s_date}"/>
                    <input name="datelimit[end]" type="hidden" value="{php echo $e_date}"/>
                    <button class="btn btn-default daterange daterange-date" type="button">
                    <span class="date-title">
                        {if empty($s_date) && empty($e_date)}
                        不限时间
                        {else}
                        {$s_date} 至{$e_date}
                        {/if}
                    </span> <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-3 col-md-2 control-label">选择字段</label>
                <div class="col-md-9 col-md-10 col-lg-10">
                    {loop $headers $index $item}
                    <label class="checkbox-inline">
                        <input type="checkbox" name="header" value="{$index}" checked> {$item}
                    </label>
                    {/loop}
                </div>
            </div>
        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="op" value="save">
        <button type="button" class="btn btn-primary" id="export"><i class="fa fa-sign-out"></i>&nbsp;导出</button>
    </div>
</form>
<script>
    function uid() {
        function S4() {
            return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
        }
        return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
    }
    $(function(){
        $('#find_agent').click(function(){
            const keyword = $('input[name=keyword_agent]').val();
            util.loading();
            $.get("{php echo $this->createWebUrl('agent', array('id'=>$id));}", {op:'search', keyword:keyword}, function(res){
                let html = '';
                if(res.status) {
                    const list = res.data || [];
                    list.forEach(function(e) {
                        html += '<option value="_1*">_2*，手机号码：_3*</option>'
                            .replace('_1*', e.openid)
                            .replace('_2*', e.name)
                            .replace('_3*', e.mobile)
                    })
                }
                html += '<option value="0"><不限></option>';
                $('#select_agent').html(html);

            }, 'json').complete(function(){
                util.loaded();
            })
        })

        $('#find_account').click(function(){
            const keyword = $('input[name=keyword_account]').val();
            util.loading();
            $.get("{php echo $this->createWebUrl('account')}", {op:'search', keyword:keyword}, function(res){
                let html = '';
                if(res.status) {
                    const list = res.data || [];
                    list.forEach(function(e) {
                        html += '<option value="_1*">公众号：_2*，_3*</option>'
                            .replace('_1*', e.id)
                            .replace('_2*', e.name)
                            .replace('_3*', e.title)
                    })
                }
                html += '<option value="0"><不限></option>';
                $('#select_account').html(html);

            }, 'json').complete(function(){
                util.loaded();
            })
        })
        $('#find_device').click(function(){
            const keyword = $('input[name=keyword_device]').val();
            util.loading();
            $.get("{php echo $this->createWebUrl('device');}", {op:'search', keyword:keyword}, function(res){
                let html = '';
                if(res.status) {
                    const list = res.data || [];
                    list.forEach(function(e) {
                        html += '<option value="_1*">_2*，IMEI：_3*</option>'
                            .replace('_1*', e.id)
                            .replace('_2*', e.name)
                            .replace('_3*', e.imei)
                    })
                }
                html += '<option value="0"><不限></option>';
                $('#select_device').html(html);

            }, 'json').complete(function(){
                util.loaded();
            })
        })

        const url = "{php echo $this->createWebUrl('order');}";
        let lastid = 0;
        const q = [];
        const filenames = [];
        function getList(uid, params, headers) {
            $.getJSON(url, Object.assign({op: 'export_list', lastid, uid}, params)).then(res => {
                if (res && res.status) {
                    if (res.data && res.data.length > 0) {
                        lastid = Math.max(...res.data);
                        getList(uid, params, headers);
                        q.push($.post(url, {op: 'export_update', ids: res.data, uid, headers}).then(res => {
                            if (filenames.indexOf(res.data.filename) === -1) {
                                filenames.push(res.data.filename);
                            }
                        }));
                    } else {
                        $.when(...q).then(function() {
                            lastid = 0;
                            filenames.forEach(filename => {
                                window.location.href = filename;
                            })
                            util.loaded();
                        });
                    }
                }
            })
        }


        $('#export').click(function(){
            const agent_openid = $('select[name=agent_openid]').val();
            const accountid = $('select[name=account_id]').val();
            const deviceid = $('select[name=device_id]').val();

            const start = $('input[name="datelimit[start]"]').val();
            const end = $('input[name="datelimit[end]"]').val();

            let headers = [];
            $('input[name=header]:checked').each(function(){
                headers.push($(this).val());
            });

            const params = {
                agent_openid,
                accountid,
                deviceid,
                start,
                end,
            };

            util.loading();
            getList(uid(), params, headers);
        })

        require(["daterangepicker"], function () {
            $(function () {
                $(".daterange.daterange-date").each(function () {
                    var elm = this;
                    $(this).daterangepicker({
                        startDate: $(elm).prev().prev().val() || moment("不限", "Y"),
                        endDate: $(elm).prev().val() || moment("不限", "Y"),
                        format: "YYYY-MM-DD",
                        clear: 1
                    }, function (start, end) {
                        start = start.toDateStr().indexOf("0000-01-01") != -1 ? "" : start.toDateStr();
                        end = end.toDateStr().indexOf("0000-01-01") != -1 ? "" : end.toDateStr();
                        var html = (start == "" ? "不限时间" : start) + (start == "" && end === "" ? "" : (" 至" + end))
                        $(elm).find(".date-title").html(html);
                        $(elm).prev().prev().val(start);
                        $(elm).prev().val(end);
                    })
                })
            })
        })
    })
</script>
{template 'common/footer'}