{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
<style>
    .orderNO{
        font-size: small;
        color: #9E9E9E;
    }
    .query {
        cursor: default;
    }
    .query.fail {
        color: red;
    }
    .query.success {
        color: #0f8c47;
    }
    .pay_name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .pay_name img {
        width: 19px;
        height: 19px;
        margin-right: 3px;
    }
    .pay_status {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .refund_status {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #orderlist .refund_status .title {
        color: #f44336;
    }
    #orderlist .refund_status .memo {
        color: #9E9E9E;
        font-size: x-small;
    }
    #orderlist .orderNO a.operate {
        visibility: hidden;
    }
    #orderlist .orderNO:hover a.operate{
        visibility: visible;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation"><a href="{php echo $this->createWebUrl('order');}">订单列表</a></li>
    <li role="presentation" class="active"><a href="#">支付记录</a></li>
</ul>
<div class="panel panel-default nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('order');}"><i class="fa fa-reply" title="返回"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $logs}
        <table class="table" id="orderlist">
            <thead>
            <tr>
                <th>#</th>
                <th>订单号</th>
                <th>
                    金额
                </th>
                <th>支付状态</th>
                <th>退款状态</th>
                <th>用户</th>
                <th>设备</th>
                <th>
                    说明
                </th>
                <th>
                    创建时间
                </th>
            </tr>
            </thead>
            <tbody>
            {loop $logs $index $log}
            <tr data-id="{$log['id']}">
                <td>{$log['id']}</td>
                <td>
                    {if $log['transaction_id']}
                    <div class="pay_name">
                        <img src="{MODULE_URL}static/img/{$log['data']['pay']['name']}.svg" title="{php echo \zovye\Pay::getTitle($log['data']['pay']['name'])}">{$log['transaction_id']}
                    </div>
                    {/if}
                    <div class="orderNO">
                        {if $log['orderNO'] || $log['orderUID']}
                            {php echo $log['orderNO'] ?? $log['orderUID']}
                            <a href="{php echo $this->createWebUrl('order', array('order'=>$log['orderNO']));}" class="operate">
                                <i class="fa fa-search" title="查看订单"></i>
                            </a>
                        {else}
                        n/a
                        {/if}
                    </div>
                </td>
                <td>￥{php echo round($log['data']['orderData']['price'] / 100, 2)}</td>
                <td>
                    <div class="pay_status">
                        {php $payResult = $log['data']['payResult'];}
                        {if !empty($payResult)}
                        {if $log['data']['cancelled']}
                        支付取消
                        {elseif $log['data']['timeout']}
                        支付超时
                        {elseif !is_error($log['data']['payResult'])}
                        支付成功
                        {/if}
                        {else}
                        {if $log['data']['queryResult']}
                        {if $log['data']['queryResult']['result'] == 'success'}
                        支付成功(<span class="query success" title="查询结果">*</span>)
                        {else}
                        {$log['data']['queryResult']['message']}(<span class="query fail" title="查询结果">*</span>)
                        {/if}
                        {/if}
                        {/if}                     
                    </div>
                </td>
                <td>
                    <div class="refund_status">
                        {if $log['transaction_id']}
                        {if $log['data']['refund']}
                        <span class="title">
                            已退款{if $log['refund_total']}({php echo number_format($log['refund_total'] / 100, 2, '.', '') . '元';}){/if}
                        </span>
                        <span class="memo">
                            {$log['data']['refund']['message']}
                        </span>
                        {elseif $log['data']['refund_fail']}
                        <span class="title">
                            退款失败
                        </span>
                        <span class="memo">
                            {$log['data']['refund_fail']['result']['message']}
                        </span>
                        {else}
                        <div class="operate">
                            <i class="fa fa-reply" data-op="refundByLog"></i>
                        </div>
                        {/if}
                        {/if}
                    </div>
                </td>
                <td>
                    <div class="profile" title="{$log['user']['openid']}" data-id="{$log['user']['id']}">
                        <img src="{$log['user']['headimgurl']}" />
                        <span class="nickname">
                                {php echo $log['user']['nickname'] ?: '&lt;匿名用户&gt;'}
                            </span>
                    </div>
                </td>
                <td>
                    {$log['device']['name']}
                </td>
                <td>
                    {if $log['data']['level'] == LOG_RECHARGE}
                    充值
                    {elseif $log['data']['level'] == LOG_CHARGING_PAY}
                    充电
                    {else}
                    {php $goods = $log['data']['orderData']['extra']['goods'];}
                    {$goods['name']}({$goods['price_formatted']})
                    {/if}
                </td>
                <td>{$log['createtime_formatted']}</td>
            </tr>
            {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
    </div>
    {else}
    <div class="text-center text-muted">
        <i class="fa fa-question-circle"></i> 暂时还没有任何订单！
    </div>
    {/if}
</div>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js')}"], function (zovye) {
        zovye.enableCopy();
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('order');}");
        zovye.op('refundByLog', function(self, next) {
            if (!confirm('确定提交退款申请吗？注意：此操作不会影响佣金、库存或用户余额！')) {
                return;
            }
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id});
        });
    })
</script>
{template 'common/footer'}
