<form class="form-horizontal" id="editOrderRefundNumForm">
    <div class="form-group">
        <label for="num" class="col-md-2 control-label">订单编号：</label>
        <div class="col-md-10">
          <div class="orderUID">
              {$order['orderId']}
          </div>
        </div>
    </div>
    {if $order['way'] == 'money'}
    <div class="form-group">
        <label for="price" class="col-md-2 control-label">退款金额（元）：</label>
        <div class="col-md-10">
          <input type="number" class="form-control" id="price" name="price"  value="{$order['price']}" min="0.01" max="{$order['price']}" step="0.01" required>
          <span class="help-block">* 请输入要退款的金额，范围：0.01 ~ {$order['price']} 元</span>
        </div>
    </div>
    {else}
    <div class="form-group">
        <label for="num" class="col-md-2 control-label">商品数量：</label>
        <div class="col-md-10">
          <input type="number" class="form-control" id="num" name="num"  value="{$order['num']}" min="1" max="{$order['num']}" required>
          <span class="help-block">* 请输入要退款的商品数量，范围：1 ~ {$order['num']}</span>
        </div>
    </div>
    {/if}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align: right;">
            {if $order['way'] == 'money'}
            <button type="button" class="btn btn-primary" onclick="api.orderRefund2({$order['id']})">确定</button>
            {else}
            <button type="button" class="btn btn-primary" onclick="api.orderRefund({$order['id']})">确定</button>
            {/if}
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
        </div>
    </div>
</form>