{if $m_all}
<table class="table table-bordered table-hover" style="margin-top:1em;text-align:center;">
<thead>
 <tr class="active">
    <th class="text-center">月份</th>
    <th class="text-center">免费</th>
    <th class="text-center">收费</th>
    <th class="text-center">
        {php echo \zovye\App::isUserCenterEnabled()?'余额':'其它'}
    </th>
    <th class="text-center">小计</th>
    <th class="text-center">操作</th>
</tr>                           
</thead>
{loop $m_all $i $item}
{php $total_x = $total_x + $item['total'];}
<tr data-id="{php echo ($agent ? $agent->getId() : 0) . ':' . $i}">
   <td>{$i}</i></td>
   <td>{$item['free']}</td>
   <td>{$item['fee']}</td>
   <td>{$item['balance']}</td>
   <td>{$item['total']}</td>
   <td class="operate">
        <i class="fa fa-wrench fa-fw" data-op="repair"  title="修复{$i}的出货统计"></i>
        <i class="fa fa-area-chart fa-fw" data-op="showMonthStats"  title="查看{$i}的出货统计"></i>            
    </td>
</tr>
{/loop}
<tr>
<td colspan="6">
    <div  class="pull-right">
        总计：{$total_x}
        {php $total_x = 0;}        
    </div>
</td> 
</tr>
</table>
{else}
<div style="text-align:center;color:#ccc;">
    暂时没有统计信息！
</div> 
{/if}