{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<style>
    #userslist .levels {
        text-align: center;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .referral {
        border: 1px solid #4CAF50;
        border-radius: 6px;
        padding: 1px 10px;
        color: #4CAF50;
        width: 10em;
        text-align: center;
        font-size: 12px;
        white-space: nowrap;
    }
</style>

<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active">
        <a href="#">
            <div class="agent" title="{$sup['level']['title']}" style="display:inline-block;">
                <div class="profile" style="background-color:{$sup['level']['clr']}">
                    <img src="{$sup['headimgurl']}">
                    <div class="nickname">{$sup['name']}</div>
                </div>
            </div>
            的下级代理商
        </a>
    </li>
</ul>
<div class="panel panel-default panel-first nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('agent');}"><i class="fa fa-reply" title="返回"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $agents}
        <table class="table" id="userslist">
            <thead>
                <tr>
                    <th>#</th>
                    <th>昵称</th>
                    <th>手机号码</th>
                    <th class="text-center">等级</th>
                    {if \zovye\App::isCommissionEnabled()}
                    <th>账户余额</th>
                    {/if}
                    <th>
                        终端数量
                    </th>
                    <th>
                        本月出货
                    </th>
                    
                    <th class="partners">合伙人</th>
                    <th class="text-center">上级代理</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $agents $index $agent}
                <tr class="{$user_state_class[$agent['state']]}" data-id="{$agent['id']}">
                    <td>{php echo $index + 1}</td>
                    <td>
                        <div class="profile{if isset($agent['commission'])} commission{/if}">
                            <img src="{media $agent['avatar']}" role="button">
                            <span>{php echo $agent['agentData']['name'] ?: $agent['nickname']}</span>
                        </div>
                    </td>
                    <td>
                        <div>{$agent['mobile']}</div>
                        {if $agent['referral']}
                        <div class="referral">推荐码: {$agent['referral']}</div>
                        {/if}
                    </td>
                    <td>
                        <div class="levels">
                            <span class="level"
                                style="background-color:{$agent_levels[$agent['agentData']['level']]['clr']}">
                                {php echo $agent_levels[$agent['agentData']['level']]['title']?:'&lt;未知等级&gt;'}
                            </span>
                        </div>
                    </td>
                    {if \zovye\App::isCommissionEnabled()}
                    <td>
                        {if isset($agent['commission'])}
                        <div class="commission log ">
                            <span class="price"><b>{php echo number_format($agent['commission']['total']/100, 2);}</b>元</span>
                        </div>
                        {/if}
                    </td>
                    {/if}
                    <td>
                        {$agent['total']}
                    </td>
                    <td class="operate">
                        <div class="m_free"><span>免费 {$agent['m']['free']}</span></div>
                        <div class="m_pay"><span>支付 {$agent['m']['pay']}</span></div>
                    </td>
                    <td class="partners operate">
                        <a href="{php echo $this->createWebUrl('agent', array('op'=>'partner','id'=>$agent['id']));}">
                            <span {if empty($agent['partners'])}class="nopartners" {/if}>
                                {php echo $agent['partners'] ? $agent['partners'].'人' : '&lt;无&gt;'}
                            </span>
                        </a>
                    </td>
                    <td class="superior">
                        {if $agent['superior']}
                        <div>
                            {php echo $agent['agentData']['superior']['name']?:$agent['superior']->getName();}
                        </div>
                        <div>
                            {php echo $agent['superior']->getMobile();}
                        </div>
                        {else}
                        <div style="color:#ccc;user-select:none;">
                            &lt;无&gt;
                        </div>
                        {/if}
                    </td>
                    <td class="operate" style="width: 6em;">
                        <div class="btn-group">
                            <a class="btn btn-default"
                                href="{php echo $this->createWebUrl('agent', ['op' => 'stats_view', 'id' => $agent['id']]);}"
                                title="统计数据"><i class="fa fa-area-chart"> </i></a>
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a
                                        href="{php echo $this->createWebUrl('agent', array('op'=>'edit','id'=>$agent['id']));}">
                                        <i class="fa fa-gear"></i> 设置</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{php echo $this->createWebUrl('device', array('agentId'=>$agent['id']));}">
                                        <i class="fa fa-share-alt fa-fw"></i> 他的设备</a></li>
                                <li><a
                                        href="{php echo $this->createWebUrl('order', array('agent_openid'=>$agent['openid']));}">
                                        <i class="fa fa-share-alt fa-fw"></i> 他的订单</a></li>
                                <li><a
                                        href="{php echo $this->createWebUrl('account', array('agentId'=>$agent['id']));}">
                                        <i class="fa fa-weixin fa-fw"></i> 他的吸粉广告</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a
                                        href="{php echo $this->createWebUrl('agent', array('op'=>'partner','id'=>$agent['id']));}">
                                        <i class="fa fa-users"></i> 他的合伙人
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="{php echo $this->createWebUrl('agent', array('op'=>'agent_sub','id'=>$agent['id']));}">
                                        <i class="fa fa-users"></i> 他的下级代理商
                                    </a>
                                </li>
                                {if isset($agent['commission'])}
                                <li role="separator" class="divider"></li>
                                <li><a href="#" data-op="monthStats"><i class="fa fa-rmb fa-fw"></i> 收入明细</a>
                                </li>
                                <li><a href="{php echo $this->createWebUrl('withdraw', array('op'=>'default', 'user'=>$agent['id']));}">
                                    <i class="fa fa-credit-card fa-fw"></i> 提现记录
                                </a></li>
                                {/if}
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{php echo $this->createWebUrl('agent', array('op'=>'agent_remove', 'id'=>$agent['id'], 'from'=>'agent'));}" onclick="if(!confirm('确定要取消用户的代理身份吗？')){return false;}">
                                        <i class="fa fa-close"></i> 取消代理身份
                                    </a>
                                </li>
                                <li>
                                    <span style="display: block; padding: 3px 20px;">
                                        <i class="fa fa-user"></i> 代理商ID: {$agent['id']}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        <script>
            $(function () {
                $('[data-url]').each(function () {
                    util.clip(this, $(this).data('url'));
                });
                $('.pagination li:not(.active) a').click(function () { setTimeout(function () { util.loading() }, 1000) });
            })
        </script>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何代理商！
        </div>
        {/if}
    </div>
</div>

{template 'web/common/search_user'}

<script>
    $(function () {
        searchDlg.init('user', function (user, typename) {
            if (user && user.id) {
                if (typename === 'agent') {
                    location.href = api.url + "&op=create&id=" + user.id;
                }
            }
        })
        const api = {
            url: "{php echo $this->createWebUrl('agent');}",
            user_url: "{php echo $this->createWebUrl('user');}",
        }
        api.showResult = function (params, url) {
            $.getJSON(url || api.url, params).then(function (res) {
                if (res) {
                    if (res.status) {
                        const dlg = util.dialog(res.data.title || '', res.data.content);
                        dlg.modal('show')
                    } else {
                        if (res.data && res.data.msg) {
                            util.message(res.data.msg, '', 'error');
                        }
                    }
                }
            })
        }
        api.viewStatsChart = function (id) {
            api.showResult({ op: 'viewStatsChart', id: id });
        }
        api.viewStats = function (id) {
            api.showResult({ op: 'viewstats', id: id });
        }
        api.createAgent = function () {
            api.showResult({ op: 'create' });
        }
        api.monthStats = function (userid) {
            api.showResult({op: 'month_stats', id: userid}, api.user_url);
        }
        api.monthStatsOfYear = function (_, _, self) {
            const year = self.data('year');
            const userid = self.closest('.year').data('user');
            api.showResult({op: 'month_stats', id: userid, year}, api.user_url);
        }
        api.showMsgDetail = function (id) {
            $.getJSON(api.url, { op: 'msglist_detail', id: id }).then(function (res) {
                if (res) {
                    if (res.status) {
                        const dlg = util.dialog(res.data.title || '', res.data.content);
                        dlg.modal('show')
                    } else {
                        if (res.data && res.data.msg) {
                            util.message(res.data.msg, '', 'error');
                        }
                    }
                }
            })
        }

        api.viewCommissionLog = function (id) {
            api.showResult({ op: 'commission_log', id: id });
        }

        $('#userslist').on('mouseover', '[data-toggle="popover"]', function () {
            $(this).popover('show');
        }).on('mouseleave', '[data-toggle="popover"]', function () {
            $(this).popover('hide');
        })

        $("#userslist").on("click", "[data-stats]", function (e) {
            const agentid = $(this).closest('tr').data('id');
            if (agentid) {
                api.viewStats(agentid);
            }
        })

        $("#userslist").on("click", "[data-op]", function (e) {
            e.preventDefault();
            const op = $(this).data('op');
            if (op && api[op]) {
                const agentid = $(this).closest('tr').data('id');
                agentid && api[op](agentid);
            }
        })

        $("body").on('click', '.dialog_pager .pagination li:not(.active) a', function (e) {
            e.preventDefault();
            const url = $(this).attr("href");
            api.showResult({}, url, false);
        })
    })
</script>
{template 'common/footer'}