{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<style>
    .we7-modal-dialog .modal-body{
        max-height: 1000px;
    }
    #userslist .levels{
        text-align: center;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
    }
    .referral {
        color: #4CAF50;
        width: 10em;
        text-align: left;
        font-size: 12px;
        white-space: nowrap;
        position: relative;
    }
    .referral .operate {
        position: relative;
        display: none;
    }
    .referral:hover .operate {
        display: inline-block;
    }
    .log i.fa-list, .log i.balance-edit {
        display: none;
        color: #fff;
    }
    .log i.fa-list, .log i.balance-edit{
        display: inline;
    }
    .busy .operate i {
        visibility: hidden;
    }
    .busy i {
        color: #ccc;
    }
    [data-url] {
        cursor: pointer;
    }
    .year {
        color: #2196f3; 
    }
    .year .item {
        cursor: pointer;
    }
    .year .current {
        text-decoration: underline;
        font-weight: bolder;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
  <li role="presentation" class="active"><a href="#">所有代理商</a></li>
  <li role="presentation"><a href="{php echo $this->createWebUrl('agent', array('op'=>'app'));}">合作申请</a></li>
</ul>
<div class="panel panel-default{if empty($op)} panel-first{/if} nav-tab-item">
    <div class="heading">
        <span class="operate">
            <i class="fa fa-fw fa-paste" title="复制邀请登记网址链接" data-url="{$mobile_url}"></i>
            <i class="fa fa-fw fa-diamond" title="创建代理商" onclick="searchDlg.choose('agent');"></i>
        </span>
    </div>
    <div class="panel-body">
        <form class="form-inline" action="{php echo $this->createWebUrl('agent')}" method="post" id="search-form">
            <div id="search-bar">
                <div class="text-input">
                    <label>
                        <input type="text" class="form-control" name="keywords" placeholder="请输入代理商呢称/手机号码搜索..." value="{$keywords}">
                    </label>
                    <button type="submit" class="button" role="button"><i class="fa fa-search"></i>&nbsp;搜索</button>
                </div>
            </div>            
        </form>
        {if $agents}
        <table class="table" id="userslist">
            <thead>
                <tr>
                    <th>#</th>
                    <th>昵称</th>
                    {if \zovye\App::isCommissionEnabled()}
                    <th>账户余额</th>
                    {/if}
                    <th>手机号码</th>
                    <th class="text-center"><span id="J_money" data-sort="{$s_money}" style="cursor: pointer;">等级</span></th>                    
                    <th class="center"><span id="J_total" data-sort="{$s_total}" style="cursor: pointer;">终端数量</span></th>
                    <th>
                        <div><span id="J_fee" data-sort="{$s_fee}" style="cursor: pointer;">本月出货</span></div>
                    </th>                    
                    <th class="partners">合伙人</th>
                    <th class="text-center">上级代理</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $agents $index $agent}
                <tr class="{$user_state_class[$agent['state']]}" data-id="{$agent['id']}">
                    <td>{php echo $index + 1}</td>
                    <td>
                        <!--
                        <a href="{php echo $this->createWebUrl('agent', array('op' => 'detail', 'agentid' => $agent['id']));}" title="代理商详情">
                        -->
                            <div class="profile{if isset($agent['commission'])} commission{/if}">
                                <img src="{media $agent['avatar']}" role="button">
                                <span>{php echo $agent['agentData']['name'] ?: $agent['nickname']}</span>
                            </div>
                        <!--</a>-->
                    </td>
                    {if \zovye\App::isCommissionEnabled()}
                    <td>
                        {if isset($agent['commission'])}
                        <div class="commission log operate">
                            <span class="price"><b>{php echo number_format($agent['commission']['total']/100, 2);}</b>元</span>
                            <i class="fa fa-list" data-op="viewCommissionLog" title="点击查看详情..."></i>
                            <i class='balance-edit fa fa-pencil' title='修改用户余额...' data-op='balanceEdit'></i>
                        </div>
                        {/if}
                    </td>
                    {/if}
                    <td>
                        <div>{$agent['mobile']}</div>
                        {if $agent['referral']}
                        <div class="referral" >
                            推荐码: <span class="code">{$agent['referral']}</span>
                            <div class="operate">
                                <i class="fa fa-paste" title="复制" data-url="{$agent['referral']}"></i>
                                <i class="fa fa-refresh" title="重新生成" data-op="refreshReferral"></i>
                            </div>
                        </div>
                        {/if}
                    </td>
                    <td>
                        <div class="levels">
                            <span class="level" style="background-color:{$agent_levels[$agent['agentData']['level']]['clr']}">
                                {php echo $agent_levels[$agent['agentData']['level']]['title']?:'&lt;未知等级&gt;'}
                            </span>
                        </div>
                    </td>
                    <td class="center">
                        {if $agent['total'] > 0}
                        <a href="{php echo $this->createWebUrl('device', ['agentId' => $agent['id']])}" title="点击查看代理商的设备列表...">{$agent['total']}</a>
                        {else}
                        {$agent['total']}
                        {/if}
                    </td>
                    <td class="operate">
                        <div class="m_free"><span>免费 {$agent['m']['free']}</span></div>
                        <div class="m_pay"><span>支付 {$agent['m']['pay']}</span></div>
                    </td>
                    <td class="partners operate">
                        <a href="{php echo $this->createWebUrl('agent', array('op'=>'partner','id'=>$agent['id']));}">
                            <span {if empty($agent['partners'])}class="nopartners"{/if}>
                                {php echo $agent['partners'] ? $agent['partners'].'人' : '&lt;无&gt;'}
                            </span>                            
                        </a>
                    </td>
                    <td class="superior">
                        {if $agent['superior']}
                        <div>
                            {php echo $agent['agentData']['superior']['name']?:$agent['superior']->getName();}
                        </div>
                        <div>
                            {php echo $agent['superior']->getMobile();}
                        </div>
                        {else}
                        <div style="color:#ccc;user-select:none;">
                            &lt;无&gt;
                        </div>
                        {/if}
                    </td>
                    <td class="operate"  style="width: 6em;">
                        <div class="btn-group">
                            <a class="btn btn-default" href="{php echo $this->createWebUrl('agent', ['op' => 'stats_view', 'id' => $agent['id']]);}" title="统计数据"><i class="fa fa-area-chart"> </i></a>
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-op="config"> <i class="fa fa-gear"></i> 设置</a></li>
                                <li role="separator" class="divider"></li>                                
                                <li><a href="{php echo $this->createWebUrl('device', array('agentId'=>$agent['id']));}"> <i class="fa fa-cube fa-fw"></i> 他的设备</a></li>
                                {if \zovye\App::isInventoryEnabled()}
                                <li><a href="{php echo $this->createWebUrl('inventory', array('op' => 'detail', 'id'=>$agent['id']));}"> <i class="fa fa-archive fa-fw"></i> 他的库存</a></li>
                                {/if}
                                <li><a href="{php echo $this->createWebUrl('order', array('agent_openid'=>$agent['openid']));}"> <i class="fa fa-share-alt fa-fw"></i> 他的订单</a></li>
                                <li><a href="{php echo $this->createWebUrl('account', array('agentId'=>$agent['id']));}"> <i class="fa fa-weixin fa-fw"></i> 他的吸粉广告</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{php echo $this->createWebUrl('agent', array('op'=>'partner','id'=>$agent['id']));}">
                                        <i class="fa fa-users"></i> 他的合伙人
                                    </a>
                                </li>
                                <li>
                                    <li><a href="#" data-op="viewKeepers"> <i class="fa fa-users fa-fw"></i> 他的运营人员</a></li>
                                </li>                                
                                <li>
                                    <a href="{php echo $this->createWebUrl('agent', array('op'=>'agent_sub','id'=>$agent['id']));}">
                                        <i class="fa fa-users"></i> 他的下级代理商
                                    </a>
                                </li>
                                {if \zovye\App::isFuelingDeviceEnabled()}
                                <li><a href="{php echo $this->createWebUrl('agent', array('op' => 'vip', 'id'=>$agent['id']));}"> <i class="fa fa-users fa-fw"></i> 他的VIP用户</a></li>
                                {/if}
                                {if isset($agent['commission'])}
                                <li role="separator" class="divider"></li>
                                <li><a href="#" data-op="monthStats"><i class="fa fa-money fa-fw"></i> 收入统计</a></li>
                                <li><a href="{php echo $this->createWebUrl('withdraw', array('op'=>'default', 'user'=>$agent['id']));}"><i class="fa fa-credit-card fa-fw"></i> 提现记录</a></li>
                                {/if}
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user"></i> 代理商ID: {$agent['id']}
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{php echo $this->createWebUrl('agent', array('op'=>'agent_remove', 'id'=>$agent['id'], 'from'=>'agent'));}" onclick="if(!confirm('确定要取消用户的代理身份吗？\r\n\r\n注意：该操作会同时删除代理商相关数据（设备，商品和广告等等）！')){return false;}">
                                        <i class="fa fa-close"></i> 取消代理身份
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何代理商！
        </div>
        {/if}
    </div>
</div>

{template 'web/common/search_user'}
<script>
    $(function(){
        $('[data-url]').each(function() {
            util.clip(this, $(this).data('url'));
        })
        $('.pagination li:not(.active) a').click(function(){ setTimeout(function(){util.loading()}, 1000)});
    })
    function getUrlParam(name) {
        const reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        const r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }

    $(function () {
        localStorage.setItem('agent_list.page', {php echo intval($page)});
        
        $('#J_total').on('click', function () {
            let s_total = parseInt($(this).data('sort')) || 0;
            s_total++;
            if (s_total === 3) { s_total = 0; }

            const href = window.location.href;
            let newHref;
            const paramReg = getUrlParam('s_total');
            if (paramReg === null) {
                newHref = href + '&s_total=' + s_total;
            } else {
                newHref = href.replace('s_total=' + paramReg, 's_total=' + s_total);
            }
            window.location.href = newHref;
        })

        $('#J_fee').on('click', function () {
            let s_fee = parseInt($(this).data('sort')) || 0;
            s_fee++;
            if (s_fee === 3) { s_fee = 0; }

            const href = window.location.href;
            let newHref;
            const paramReg = getUrlParam('s_fee');
            if (paramReg === null) {
                newHref = href + '&s_fee=' + s_fee;
            } else {
                newHref = href.replace('s_fee=' + paramReg, 's_fee=' + s_fee);
            }
            window.location.href = newHref;
        })

        $('#J_money').on('click', function () {
            let s_money = parseInt($(this).data('sort')) || 0;
            s_money++;
            if (s_money === 3) { s_money = 0; }

            const href = window.location.href;
            let newHref;
            const paramReg = getUrlParam('s_money');
            if (paramReg === null) {
                newHref = href + '&s_money=' + s_money;
            } else {
                newHref = href.replace('s_money=' + paramReg, 's_money=' + s_money);
            }
            window.location.href = newHref;
        })

        searchDlg.init('user', function (user, typename) {
            if (user && user.id) {
                if (typename === 'agent') {
                    location.href = api.url + "&op=create&id=" + user.id;
                }
            }
        })
    })

    const api = {
        url: "{php echo $this->createWebUrl('agent');}",
        user_url: "{php echo $this->createWebUrl('user');}",
    }
    api.showResult = function (params, url, loading, cb) {
        loading && util.loading();
        $.getJSON(url || api.url, params).done(function (res) {
            loading && util.loaded();
            if (res) {
                if (typeof cb == 'function') {
                    if (cb(res)) {
                        return;
                    }
                }
                if (res.status) {
                    if (res.data && res.data.content) {
                        const dlg = util.dialog(res.data.title || '', res.data.content);
                        dlg.modal('show');
                    }
                }
                if (res.message && res.type) {
                    util.message(res.message, '', res.type);
                }
                if (res.data && res.data.msg) {
                    util.message(res.data.msg, '', res.status ? 'success' : 'error');
                }
            }
        }).fail(function () {
            loading && util.loaded();
        })
    }
    api.config = function(id) {
        window.location.href = "{php echo $this->createWebUrl('agent', array('op'=>'edit','id'=>'__id__'));}".replace('__id__', id);
    }
    api.balanceEdit = function (id, event) {
        api.showResult({ id, op: "commission_balance_edit" }, api.user_url);
    }
    api.saveCommissionBalance = function (id) {
        $('#modal-message').modal('hide');
        const total = $('input[name=total]').val();
        const memo = $('input[name=memo]').val();
        api.showResult({ id, total: total, memo: memo, op: "commission_balance_save" }, api.user_url, false, function () {
            api.getUserStats([id]);
        })
    }
    api.getUserStats = function (ids) {
        $.post(api.user_url, { op: 'user_stats', ids }).then(function (res) {
            if (res && res.status && $.isArray(res.data)) {
                $.each(res.data, function (i, stats) {
                    const tr = $('tr[data-id=' + stats.id + ']');
                    if (stats.commission_balance !== undefined) {
                        tr.find('.commission.log .price b').text(stats.commission_balance_formatted);
                    }
                });
            }
        })
    }
    api.viewStatsChart = function (id) {
        api.showResult({ op: 'viewStatsChart', id });
    }
    api.viewStats = function (id) {
        api.showResult({ op: 'viewstats', id });
    }
    api.createAgent = function () {
        api.showResult({ op: 'create' });
    }
    api.showMsgDetail = function (id) {
        $.getJSON(api.url, { op: 'msglist_detail', id }).then(function (res) {
            if (res) {
                if (res.status) {
                    const dlg = util.dialog(res.data.title || '', res.data.content);
                    dlg.modal('show')
                } else {
                    if (res.data && res.data.msg) {
                        util.message(res.data.msg, '', 'error');
                    }
                }
            }
        })
    }
    api.viewCommissionLog = function (id) {
        api.showResult({ op: 'commission_log', id }, api.user_url);
    }
    api.viewKeepers = function (id) {
        window.location.href = "{php echo $this->createWebUrl('agent', ['op' => 'keepers', 'id' => '__id__']);}".replace('__id__', id);
    }
    api.monthStats = function (userid) {
        api.showResult({op: 'month_stats', id: userid}, api.user_url);
    }
    api.monthStatsOfYear = function (_1, _2, self) {
        const year = self.data('year');
        const userid = self.closest('.year').data('user');
        api.showResult({op: 'month_stats', id: userid, year}, api.user_url);
    }
    api.refreshReferral = function(id) {
        if (confirm("确定要重置这个代理商的推荐吗？")) {
            api.showResult({op: 'refresh_referral', id}, api.url, false, (res) => {
                if (res) {
                    if (res.status) {
                        const tr = $('tr[data-id=' + id + ']');
                        tr.find("span.code").html(res.data.referral);
                    } else {
                        if (res.data && res.data.msg) {
                            util.message(res.data.msg, '', 'error');
                        }
                    }
                }
            });
        }
    }
    $("#userslist").on("click", "[data-stats]", function (e) {
        const agent_id = $(this).closest('tr').data('id');
        if (agent_id) {
            api.viewStats(agent_id);
        }
    })
    $('body').on('click', '[data-op]', function(e){
        const op = $(this).data('op');
        if (op && api[op]) {
            const agent_id = $(this).closest('tr').data('id');
            api[op](agent_id, e, $(this));
        }
        e.preventDefault();
    })
    $("body").on('click', '.dialog_pager .pagination li:not(.active) a', function (e) {
        e.preventDefault();
        const url = $(this).attr("href");
        api.showResult({}, url, false);
    })
    $('#search-form').submit(function(e){
        e.preventDefault();
        const url = $(this).attr('action');
        const keywords = $('input[name=keywords]').val();
        window.location.replace(url + '&keywords=' + keywords);
    });
</script>
{template 'common/footer'}