{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
<style>
    #list .profile img{
        width: 32px;
        height: 32px;
    }
    .we7-modal-dialog .modal-body{
        max-height: unset;
    }
    .checkbox-inline.fail {
        color: #9e9e9e;
    }
    .commission-total {
        cursor: pointer;
    }
</style>

<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active">
        <a href="#">
            <div class="agent" title="{$agent['level']['title']}" style="display:inline-block;">
                <div class="profile" style="background-color:{$agent['level']['clr']}">
                    <img src="{$agent['headimgurl']}">
                    <div class="nickname">{$agent['name']}</div>                            
                </div>
            </div>
            的运营人员
        </a>
    </li>
</ul>
<div class="panel panel-default panel-first nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{$back_url}"><i class="fa fa-reply" title="返回"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $list}
        <div id="keeperlist">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>用户</th>
                    <th>姓名</th>
                    <th>手机号码</th>
                    <th class="center">设备数量</th>
                    <th class="center">有效补货数量</th>
                    <th style="text-align: center;width: 10em;">
                        <div>创建时间</div>
                    </th>
                    <th class="center">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                {loop $list $index $item}
                <tr data-id="{$item['id']}">
                    <td>{php echo $index + 1}</td>
                    <td>
                        <div class="profile">
                            <img src="{$item['user']['headimgurl']}" />
                            <span class="nickname">
                                {php echo $item['user']['nickname'] ?: '&lt;匿名用户&gt;'}
                            </span>
                        </div>
                    </td>
                    <td>
                        {$item['name']}
                    </td>
                    <td>
                        {$item['mobile']}
                    </td>
                    <td class="center">
                        <a href="{php echo $this->createWebUrl('user', ['op' => 'keeper_device', 'id' => $item['user']['id']])}" title="查看设备列表">
                            {$item['devices_total']}
                        </a>
                    </td>
                    <td class="center">
                        <div data-op="setKeeperCommissionTotal">
                            {if $item['commission_total'] == -1}
                           <span class="commission-total text-muted"> &lt;未设置&gt;</span>
                            {else}
                            {$item['commission_total']}
                            {/if}
                        </div>
                    </td>
                    <td>
                        <div style="color:#9E9E9E;font-size:12px;">{$item['createtime']}</div>
                    </td>
                    <td class="center">
                        <div class="operate">
                            <i class="fa fa-gear fa-fw" data-op="keeper_config" title="通知设置"></i>
                            {if \zovye\App::isPromoterEnabled()}
                            <i class="fa fa-users fa-fw" data-op="promoterConfig" title="推广员佣金设置"></i>
                            <i class="fa fa-list fa-fw" data-op="promoterList" title="查看推广员列表"></i>
                            {/if}
                        </div>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
            <div class="pull-right">
                {$pager}
            </div>
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时没有任何运营人员！
        </div>
        {/if}        
    </div>
</div>

<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js')}"], function (zovye) {
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('agent');}");

        zovye.op('saveKeeperConfig', function(self, next) {
            const e = self.closest('[data-id]');
            const id = e.data('id');
            const orderSucceed = $('#editKeeperConfig input[name=orderSucceed]:checked').val();
            const orderFailed = $('#editKeeperConfig input[name=orderFailed]:checked').val();
            const deviceOnline = $('#editKeeperConfig input[name=deviceOnline]:checked').val();
            const deviceOffline = $('#editKeeperConfig input[name=deviceOffline]:checked').val();
            const deviceError = $('#editKeeperConfig input[name=deviceError]:checked').val();
            const deviceLowBattery = $('#editKeeperConfig input[name=deviceLowBattery]:checked').val();
            const deviceLowRemain = $('#editKeeperConfig input[name=deviceLowRemain]:checked').val();
            next({id, orderSucceed, orderFailed, deviceOnline, deviceOffline, deviceError, deviceLowBattery, deviceLowRemain}, function(res) {
               $('#modal-message').modal('hide');
            });
        })
        zovye.op('savePromoterConfig', function(self, next) {
            const e = self.closest('[data-id]');
            const id = e.data('id');
            const type = $('#editPromoterConfig input[name=type]:checked').val();
            const val = $('#editPromoterConfig input[name=commissionVal]').val();
            next({id, type, val}, function(res) {
               $('#modal-message').modal('hide');
            });
        })
        zovye.op('promoterRemove', function(self, next) {
            const e = self.closest('[data-id]');
            next({id: e.data('id')}, function(res) {
               if (res && res.status) {
                    e.remove();
               }
            });
        })
        zovye.op('saveKeeperCommissionTotal', function(self, next) {
            const e = self.closest('[data-id]');
            const id = e.data('id');
            const val = $('#editKeeperConfig input[name=commissionTotal]').val();
            next({id, val}, function(res) {
                $('#modal-message').modal('hide');
            });
        })
    });
</script>

{template 'common/footer'}