{if $list}
<style>
    #list .profile img{
        width: 32px;
        height: 32px;
    }
    .we7-modal-dialog .modal-body{
        max-height: unset;
    }

</style>
<div id="keeperlist">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>用户</th>
            <th>姓名</th>
            <th>手机号码</th>
            <th>设备数量</th>
            <th style="text-align: center;width: 10em;">
                <div>创建时间</div>
            </th>
        </tr>
        </thead>
        <tbody>
        {loop $list $index $item}
        <tr>
            <td>{php echo $index + 1}</td>
            <td>
                <div class="profile">
                    <img src="{$item['user']['headimgurl']}" />
                    <span class="nickname">
                        {php echo $item['user']['nickname'] ?: '&lt;匿名用户&gt;'}
                    </span>
                </div>
            </td>
            <td>
                {$item['name']}
            </td>
            <td>
                {$item['mobile']}
            </td>
            <td style="text-align: center;">
                {$item['devices_total']}
            </td>
            <td>
                <div style="color:#9E9E9E;font-size:12px;">{$item['createtime']}</div>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>
    <div class="pull-right">
        {$pager}
    </div>
</div>
{else}
<div style="text-align:center;color:#ccc;">
    没有任何数据！
</div>
{/if}