<style>
    #commission-log .user img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    #commission-log .event {
         color:#9E9E9E;
    }
    #commission-log .wxpay i{
        color: #4CAF50;
    }
    #commission-log .wxpay i{
        font-size: 1em;
    }
    #commission-log .wxpay .money{
        color:#FF5722;
    }
    #commission-log .way .free{
        color:gray;
    }
    #commission-log .balance .num {
        color:blue;
    }
    #withdraw-list .price.val {
        font-weight: 700;
    }
    #commission-log td{
        vertical-align: middle;
    }
    #withdraw-list td{
        vertical-align: middle;
    }
    #withdraw-list .state{
        text-align: center;
        width: 6em;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
        border: 1px solid #ccc;
        color: #ccc;
        user-select: none;
    }
    #withdraw-list .updatetime{
        color: #666;
        font-size: .8em;
        padding: 5px 10px;
    }
    #withdraw-list .state.confirmed{
        border-color: #5cb85c;
        color: #5cb85c;
    }
    #withdraw-list .state.mchpay{
        border-color: #8bc34a;
        color: #8bc34a;
    }
    #withdraw-list .state.mchpay.unknown{
        border-color: #9E9E9E;
        color: #9E9E9E;
    }
    #withdraw-list .state.mchpay.committed{
        border-color: #ffc107;
        color: #ffc107;
    }
    #withdraw-list .state.mchpay.failed{
        border-color: #ff5722;
        color: #ff5722;
    }
    #withdraw-list .state.cancelled{
        border-color: #f0ad4e;
        color: #f0ad4e;
    }
    #withdraw-list .mobile{
        cursor: pointer;
    }
    #withdraw-list .price{
        color: #4CAF50;
    }
    .paymentNO {
        font-size: small;
        color: #9E9E9E;
        white-space: nowrap;
    }
    .proposer {
        position: relative;
    }
    .proposer .bank-info{
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 3px 3px  #9E9E9E;
        padding: 1em;
        border: 1px solid #9E9E9E;;
        min-width: 20em;
        z-index: 99;
    }    
    .proposer .bank-info table{
        margin-bottom: 0;
    }
    .proposer.fixed .bank-info {
        box-shadow: 6px 6px rgb(0, 0, 0.1);
    }
    .proposer.fixed .bank-info, .proposer:hover .bank-info {
        display: block;
    }
	.state {
		white-space: nowrap;
	}
    .qrcode1 {
        width: 8em;
        height: 8em;
    }
    .J_qrcode {
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        position: relative;
    }
    .J_qrcode .wx-qrcode,.J_qrcode .ali-qrcode {
	    width: 300px;
	    height: 400px;
    }
    .J_qrcode img.wx-qrcode, .J_qrcode img.ali-qrcode {
        background-color: #fff;
        box-shadow: 3px 3px  #9E9E9E;
        padding: 1em;
        border: 1px solid #9E9E9E;
        z-index: 99;
        left: 10px;
    	display: none;
    }
    .J_qrcode:hover  img.wx-qrcode {
    	display: block;
    	position: absolute;
    }
    .J_qrcode:hover  img.ali-qrcode {
    	display: block;
    	position: absolute;
    }
    .detail {
        display: none;
    }
</style>
{if $apps}
<div id="list">
    {template 'web/withdraw/list'}
</div>
{else}
<div class="text-center text-muted">
    <i class="fa fa-question-circle"></i> 没有任何提现申请！
</div>
{/if}
