<form action="{php echo $this->createWebUrl('agent');}" method="post"  id="addRoleForm">
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <div class="profile">
                <img src="{php echo $user ? $user->getAvatar() : ''}">
                <span>{php echo $user ? $user->getNickname() : ''}</span>
            </div>
        </div>
    </div>
    <div class="form-group freeOrder">
        <label class="col-md-2 control-label">免费订单
        </label>
        <div class="col-md-10">
            <div class="control-label checkbox-inline text-left">
                <label for="freeOrder1" class="radio">
                    <input name="freeOrderType" id="freeOrder1" type="radio" value="percent">
                    百分比%
                </label>
                <label for="freeOrder2" class="radio">
                    <input name="freeOrderType" id="freeOrder2" type="radio" value="percent/goods">
                    百分比% x 商品数量
                </label>
                <label for="freeOrder3" class="radio">
                    <input name="freeOrderType" id="freeOrder3" type="radio" value="amount">
                    固定金额
                </label>
                <label for="freeOrder4" class="radio">
                    <input name="freeOrderType" id="freeOrder4" type="radio" value="amount/goods">
                    固定金额 x 商品数量
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-lable">数值</label>
        <div class="col-md-10">
            <input type="number"  class="form-control" name="freeOrderVal" min="0" step="0.01">
            <span class="help-block">* 用户通过广告免费领取商品时，所产生订单的佣金比例或者金额</span>
        </div>
    </div>
    <div class="form-group payOrder">
        <label class="col-md-2 control-label">支付订单
        </label>
        <div class="col-md-10">
            <div class="control-label checkbox-inline text-left">
                <label for="payOrder1" class="radio">
                    <input name="payOrderType" id="payOrder1" type="radio" value="percent">
                    百分比%
                </label>
                <label for="payOrder2" class="radio">
                    <input name="payOrderType" id="payOrder2" type="radio" value="percent/goods">
                    百分比% x 商品数量
                </label>
                <label for="payOrder3" class="radio">
                    <input name="payOrderType" id="payOrder3" type="radio" value="amount">
                    固定金额
                </label>
                <label for="payOrder4" class="radio">
                    <input name="payOrderType" id="payOrder4" type="radio" value="amount/goods">
                    固定金额 x 商品数量
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-lable">数值</label>
        <div class="col-md-10">
            <input type="number"  class="form-control" name="payOrderVal" min="0" step="0.01">
            <span class="help-block">* 用户支付购买商品时，所产生订单的佣金比例或者金额</span>
        </div>
    </div>
    <div class="form-btn">
            <input type="hidden" name="op" value="gsp">
            <input type="hidden" name="fn" value="saveuser">
            <input type="hidden" name="from" value="mixed">
            <input type="hidden" name="id" value="{php echo $user->getId();}">
            <input type="hidden" name="agentid" value="{php echo $agent->getId();}">           
            <button type="submit" class="btn btn-primary">
                {if $fn=='adduser'}添加{else}保存{/if}
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
    </div>
</form>
<script>
    const apiUrl = "{php echo $this->createWebUrl('agent', ['agentid' => $agent->getId(), 'op' => 'gsp']);}";
    const openid = "{php echo $user ? $user->getOpenid() : ''}";

    function setFormVal(val) {
        if (val['f']) {
            $('#addRoleForm .freeOrder input[value="' + val['f']['val_type'] + '"]').prop('checked', true);
            $("#addRoleForm input[name=freeOrderVal]").val(val['f']['val']);
        }
        if (val['p']) {
            $('#addRoleForm .payOrder input[value="' + val['p']['val_type'] + '"]').prop('checked', true);
            $("#addRoleForm input[name=payOrderVal]").val(val['p']['val']);
        }
    }

    function enableRoleForm(enabled) {
        $('#addRoleForm select').attr("disabled", !enabled);
        $('#addRoleForm button').attr("disabled", !enabled);
        $('#addRoleForm input').attr("disabled", !enabled);  
        $('#addRoleForm label,#addRoleForm span, #addRoleForm select, #addRoleForm input').css("color", enabled ? "" : "#ccc"); 
    }

    function getData(uid) {
        let loading = true;
        setTimeout(() => {
            if (loading) {
                enableRoleForm(false);
            }            
        }, 500);
        
        $.get(apiUrl, { openid: uid, op: 'gsp', fn: 'get_data' }).then(function (res) {
            if (res && res.status) {
                setFormVal(res.data);
            } else {
                util.message(res.data.msg, '', 'error');
            }
            loading = false;
            enableRoleForm(true);
        })
    }

    $(function() {
        $('body').on("click", "[data-type]", function () {
            changeType($(this));
        })
        if (openid) {
            getData(openid);
        }        
    })
</script>