{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20201108');}
<ul class="nav nav-tabs" id="navbar">
  <li role="presentation"><a href="{php echo $this->createWebUrl('agent');}">所有代理商</a></li>
  <li role="presentation"><a href="{php echo $this->createWebUrl('agent', array('op'=>'app'));}">合作申请</a></li>
  <li role="presentation" class="active"><a href="#">消息推送</a></li> 
</ul>
<div class="panel panel-default nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('agent', array('op'=>'msgadd'));}"><i class="fa fa-comments-o" title="添加新消息"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $messages}
        <table class="table" id="msglist">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $messages $index $item}
                <tr>
                    <td>{php echo $index + 1}</td>
                    <td>
                        {$item['title']}
                    </td>
                    <td>
                        {$item['createtime']}
                    </td>
                    <td class="operate">
                        <i class="fa fa-send" title="推送消息到代理商" data-id="{$item['id']}"></i>
                        <i class="fa fa-eye" title="查看详细内容" data-id="{$item['id']}"></i>                  
                        <a href="{php echo $this->createWebUrl('agent', array('op' => 'msgedit', 'id'=> $item['id']));}"><i class="fa fa-edit" title="编辑"></i></a>
                        <a href="{php echo $this->createWebUrl('agent', array('op' => 'msgremove', 'id'=> $item['id']));}"><i class="fa fa-trash-o" title="删除？" onclick="if(!confirm('确定要删除这个消息吗？')){return false;}"></i></a>                        
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>        
        {else}
        <div class="text-center text-muted">
            暂时还没有任何消息！
        </div>
        {/if}
    </div>
</div>
{template 'web/common/search-user'}
<script>
    function showMsgDetail(id) {
        $.getJSON("{php echo $this->createWebUrl('agent')}", {op:'msg_detail', id: id}).then(function(res){
            if(res) {
                if(res.status) {
                    const dlg = util.dialog(res.data.title || '', res.data.content);
                    dlg.modal('show')
                }else{
                    if(res.data && res.data.msg) {
                        util.message(res.data.msg, '','error');
                    }
                }
            }
        })
    }

    const sendMsgApi = "{php echo $this->createWebUrl('agent');}";
        searchDlg.init('agent', function(agents, params){
            if(agents && agents.length > 0) {
                $.getJSON(sendMsgApi, 
                {
                    op:'sendMsg', 
                    agentids: agents.map(function(agent){ return agent.id; }), 
                    id: params.msgid,
                    
                }).then(function(res){
                    if(res && res.data['msg']) {
                        util.message(res.data['msg'], '', res.status ?'success':'error');
                    }
                })              
            }
    })
    $(function(){
        $('#msglist').on('click', '.operate i.fa-send', function(){
            const id = $(this).data('id');
            if(id) {
                searchDlg.chooseMulti({msgid: id});
            }
        })

        $('#msglist').on('click', '.operate i.fa-eye', function(){
            const id = $(this).data('id');
            if(id) {
                showMsgDetail(id);
            }
        })
    })
</script>
{template 'common/footer'}