{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<style>
    .agent {
        display: inline-block;
    }
    #navbar a .profile {
      cursor: default;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
  <li role="presentation" class="active">
    <a href="#">
      <div class="agent" title="{$level['title']}">
        <div class="profile" style="background-color:{$level['clr']}">
            <img src="{php echo $agent->getAvatar()}">
            <div class="nickname">{php echo $agent->getName();}</div>                            
        </div>
    </div>
    <div  style="display:inline-block;margin:0 10px;">
        正在{if $op=='partnerAdd'}创建{else}编辑{/if}合伙人
    </div>        
    <div class="agent" title="{$level['title']}">
        <div class="profile"  {if $op=='partnerEdit'}style="background-color:{$level['clr']}"{/if}>
            <img src="{php echo $user->getAvatar()}">
            <div class="nickname">{php echo $user->getName();}</div>                            
        </div>
    </div>
  </a>
</li>
</ul>
<form class="form" action="{php echo $this->createWebUrl('agent')}" method="post">
<div class="panel panel-default panel-first">
    <div class="heading">      
    </div>
    <div class="panel-body">
        <div class="seg">
            <div class="title">基本信息</div>
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">姓名</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="name" id="name" value="{$partnerData['name']}">
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="col-md-2 control-label">手机号码</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="mobile" id="mobile" value="{$partnerData['mobile']}" >
                    <span class="help-block">* 手机号码必须提供，代理商管理小程序需要手机号码才能登录！</span>
                </div>
            </div>        
        </div>
        <div class="seg">
          <div class="title">消息通知</div>
          <div class="form-group">
              <label class="col-md-2 control-label">订单事件</label>
              <div class="col-md-10">
                  <label class="checkbox-inline">
                      <input type="checkbox" name="orderSucceed" value="1" {if !isset($partnerData['notice']) ||$partnerData['notice']['order']['succeed']}checked{/if}> 成功订单
                  </label>
                  <label class="checkbox-inline">
                      <input type="checkbox" name="orderFailed" value="1" {if !isset($partnerData['notice']) ||$partnerData['notice']['order']['failed']}checked{/if}> 异常订单
                  </label>
                  <span class="help-block">* 在订单成功或者失败时，通知合伙人。</span>
              </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">设备事件</label>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" name="deviceOnline" value="1" {if !isset($partnerData['notice']) ||$partnerData['notice']['device']['online']}checked{/if}> 上线
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="deviceOffline" value="1" {if !isset($partnerData['notice']) ||$partnerData['notice']['device']['offline']}checked{/if}> 下线
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="deviceError" value="1" {if !isset($partnerData['notice']) ||$partnerData['notice']['device']['error']}checked{/if}> 故障
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="deviceLowBattery" value="1" {if !isset($partnerData['notice']) ||$partnerData['notice']['device']['low_battery']}checked{/if}> 电量低
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="deviceLowRemain" value="1" {if !isset($partnerData['notice']) ||$partnerData['notice']['device']['low_remain']}checked{/if}> 缺货
                </label>
                <span class="help-block">* 在指定事件发生时，通知合伙人，注意：相同事件10分钟之内只会通知一次。</span>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="form-btn">
    <input type="hidden" name="agentid" value="{php echo $agent->getId();}">
    <input type="hidden" name="userid" value="{php echo $user->getId();}">
    <input type="hidden" name="op" value="partnerSave">
    <input type="hidden" name="from" value="{$op}">
    <button type="submit" class="btn btn-primary">{if $op=='partnerAdd'}创建{else}保存{/if}</button>
    <button type="button" class="btn btn-default" onclick='location.href="{$back_url}"'>返回</button>
</div>
</form>
{template 'common/footer'}