<div style="max-height: 300px;overflow: auto;">
    {if $list}
    <table class="table">
        <thead>
            <th>#</th>
            <th>名称</th>
            <th>IMEI</th>
            <th>操作</th>
        </thead>
        <tbody>
            {loop $list $index $device}
            <tr data-id="{$device['id']}" data-vip="{$vip['id']}" {if !$device['enabled']}class="disabled"{/if}>
                <td>{php echo $index + 1}</td>
                <td>
                    {$device['name']}
                    {if !$device['enabled']}
                    <span style="color: red;">(设备不可用)</span>
                    {/if}
                </td>
                <td>{$device['imei']}</td>
                <td class="operate">
                    <i class="fa fa-trash fa-fw" title="删除" data-op="removeVipDevice"></i>
                </td>
            </tr>
            {/loop}
        </tbody>
    </table>
    {else}
    <div class="text-center text-muted">
        <i class="fa fa-question-circle"></i> 暂时还没有任何可用设备！
    </div>
    {/if}
</div>