{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20211127');}
<style>
    #accountlist td span.schema.loading{
        border-color: #ddd;
    }
    #accountlist td.detail{
        width: 15em;
        opacity: 1;
    }
    #accountlist .more{
        display: none;
        color: #fff;
        padding-top: 3px;
    }
    #accountlist .limit:hover .more{
        display: block;
    }
     #accountlist .limit .first{
        padding-top: 1em;
    }
    #accountlist div.limit{
        cursor: default;
        z-index: 999;
        width: 15em;
        height: calc(100% + 1em);
        bottom: 0;
        position: absolute;
        border-radius: 1em 1em 0 0;
    }
    #accountlist div.limit:hover{
        text-shadow: 1px 1px #666;
        height: calc(100% + 4em);
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    }
    #accountlist .ercode {
        text-align: center;
        width: 20px;
        margin: 0 auto;
        position: relative;
    }    
    #accountlist .ercode .zovye_qrcode {
        position: absolute;
        display: none;
        background-color: #ccc;
        width: 150px;
        z-index: 999;
        left: 30px;
        border: 1px solid #ccc;
    }
    #accountlist .state.auth {
        color: #4CAF50;
        margin-left: 6px;
    }
    #accountlist .state.auth img {
        width: 16px;
        height: 16px;
    }
    #accountlist .state.auth.disabled img {
        filter: grayscale(100%);
        opacity: 0.3;
    }    
    #accountlist .state.video {
        color: #cf1010;
        margin-left: 6px;
    }    
    #accountlist .orderno {
        color: #9E9E9E;
        cursor: default;
    }
    #accountlist .orderno.spec {
        color: #ffc107;
    }
    #accountlist .orderno.normal {
        color: #0787ff;
    }
    #accountlist .orderno:hover {
        color: #666;
    }
    #accountlist .operate .state.auth {
        margin-left: 0px;
        filter: grayscale(100%);
        opacity: 0.3;
    }
    #accountlist .operate .state.auth:hover {
        filter: grayscale(0);
        opacity: 1;
    }
    #accountlist .qrcode-x {
        width: 22px;
    }
    #accountlist .bonus img {
        vertical-align: middle;
        cursor: default;
    }
    #accountlist span.commission {
        color: green;
        cursor: default;
    }
    #accountlist span.commission.disabled {
        color: lightgray;
    }    
    #accountlist span.balance {
        color: #795548;
        cursor: default;
        font-style: italic
    }    
    .operate:hover .auth-weixin:hover {
        color: #4CAF50;
        text-shadow: 1px 1px 1px #CDDC39;
    }
    .agent .profile:hover {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
    }
    .profile sup{
        color:#f00;
    }
    .busy .operate i {
        visibility: hidden;
    }
    .busy i {
        color: #ccc;
    }
    .task-stats .item {
        margin-top: 1px;
        overflow: hidden;
    }
    .task-stats .item .num {
        border-bottom: 1px solid;
        width: 60px;
        padding: 0px 10px;
    }
    .task-stats .item.init .title {
        background: #607d8b;
    }
    .task-stats .item.init .num {
        border-bottom-color: #607d8b;
    }
    .task-stats .item.accept .title {
        background: #4caf50;
    }
    .task-stats .item.accept .num {
        border-bottom-color: #4caf50;
    }
    .task-stats .item.reject .title {
        background: #f44336;
    }
    .task-stats .item.reject .num {
        border-bottom-color: #f44336;
    }
    .task-stats .item .title {
        background: #009688;
        text-align: center;
        padding: 1px 6px;
        color: #fff;
        border-top-left-radius: 10px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline" action="{$search_url}" method="post" id="search-form">
          <div class="form-group">
            <label for="keywords"></label>
            <input type="text" class="form-control" name="keywords" id="keywords" placeholder="请输入帐号或名称搜索..." value="{$keywords}">
          </div>
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;搜索</button>
        </form>
    </div>
</div>
<ul class="nav nav-tabs" id="navbar">
    {if empty($agent)}
        {if $banned}
            <li role="presentation"><a href="{php echo $this->createWebUrl('account');}">全部</a></li>
            <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['type' => -1]);}">第三方平台</a></li>
            <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::NORMAL]);}">公众号</a></li>
            <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::VIDEO]);}">视频</a></li>
            {if \zovye\App::isDouyinEnabled()}
            <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::DOUYIN]);}">抖音</a></li>
            {/if}
            <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::WXAPP]);}">小程序</a></li>
            <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::QUESTIONNAIRE]);}">问卷</a></li>
            <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::TASK]);}">自定义任务</a></li>
            <li role="presentation" class="active"><a href="#">已隐藏的吸粉号</a></li>
        {else}
            <li role="presentation"{if !isset($type)} class="active"{/if}><a href="{php echo $this->createWebUrl('account');}">全部</a></li>
            <li role="presentation"{if $type == -1} class="active"{/if}><a href="{php echo $this->createWebUrl('account', ['type' => -1]);}">第三方平台</a></li>
            <li role="presentation"{if $type === \zovye\Account::NORMAL} class="active"{/if}><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::NORMAL]);}">公众号</a></li>
            <li role="presentation"{if $type == \zovye\Account::VIDEO} class="active"{/if}><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::VIDEO]);}">视频</a></li>
            {if \zovye\App::isDouyinEnabled()}
            <li role="presentation"{if $type == \zovye\Account::DOUYIN} class="active"{/if}><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::DOUYIN]);}">抖音</a></li>
            {/if}
            <li role="presentation"{if $type == \zovye\Account::WXAPP} class="active"{/if}><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::WXAPP]);}">小程序</a></li>
            <li role="presentation"{if $type == \zovye\Account::QUESTIONNAIRE} class="active"{/if}><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::QUESTIONNAIRE]);}">问卷</a></li>
            {if \zovye\App::isBalanceEnabled()}
            <li role="presentation"{if $type == \zovye\Account::TASK} class="active"{/if}><a href="{php echo $this->createWebUrl('account', ['type' => \zovye\Account::TASK]);}">自定义任务</a></li>
            {/if}
            <li role="presentation"{if $banned} class="active"{/if}><a href="{php echo $this->createWebUrl('account', ['banned' => 1]);}">已隐藏的吸粉号</a></li>
        {/if}
    {else}
        <li role="presentation"><a href="{php echo $this->createWebUrl('account');}">全部</a></li>
        <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['banned'=>1]);}">已隐藏的吸粉号</a></li>
        {if $banned}
        <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['agentId'=>$agent->getId()]);}">{php echo $agent->getName()}</a></li>
        <li role="presentation" class="active"><a href="#"><b>{php echo $agent->getName()}</b>已隐藏的吸粉号</a></li>
        {else}
        <li role="presentation" class="active"><a href="#">{php echo $agent->getName()}</a></li>
        <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['agentId'=>$agent->getId(), 'banned'=>1]);}"><b>{php echo $agent->getName()}</b>已隐藏的吸粉号</a></li>
        {/if}
    {/if}
</ul>
<div class="panel panel-default{if empty($banned)} panel-first{/if} nav-tab-item"  id="accountlist">
    <div class="heading">
        {if !$banned}
        <span class="operate">
            {if empty($type)}
            <a href="{php echo $this->createWebUrl('account', array('op'=>'add'));}"><i class="fa fa-fw fa-weixin" title="添加公众号"></i></a>
            {/if}
            {if (empty($type) || $type ==\zovye\Account::AUTH) && \zovye\App::isWxPlatformEnabled()}
            <i class="fa fa-fw fa-magic auth-weixin" title="授权接入公众号" data-op="accountAuthorize"></i>
            {/if}
            {if !isset($type) || $type == \zovye\Account::VIDEO}
            <a href="{php echo $this->createWebUrl('account', array('op'=>'add', 'type'=> zovye\Account::VIDEO));}"><i class="fa fa-fw fa-youtube-play" title="添加视频广告"></i></a>
            {/if}

            {if (!isset($type) || $type ==\zovye\Account::DOUYIN) && \zovye\App::isDouyinEnabled()}
            <a href="{php echo $this->createWebUrl('account', array('op'=>'add', 'type' => zovye\Account::DOUYIN));}">
                <span class="state auth" title="抖音">
                    <img src="{php echo MODULE_URL . 'static/img/douyin2.svg'}" title="添加抖音号">
                </span>
            </a>
            {/if}
            {if (!isset($type) || $type ==\zovye\Account::WXAPP)}
            <a href="{php echo $this->createWebUrl('account', array('op'=>'add', 'type' => zovye\Account::WXAPP));}">
                <span class="state auth" title="小程序">
                    <img src="{php echo MODULE_URL . 'static/img/wxapp.jpg'}" title="添加小程序">
                </span>
            </a>
            {/if}
            {if (!isset($type) || $type ==\zovye\Account::QUESTIONNAIRE)}
            <a href="{php echo $this->createWebUrl('account', array('op'=>'add', 'type' => zovye\Account::QUESTIONNAIRE));}">
                <span class="state auth" title="问卷">
                    <img src="{php echo MODULE_URL . 'static/img/questionnaire.svg'}" title="添加问卷">
                </span>
            </a>
            {/if}
            {if (!isset($type) || $type ==\zovye\Account::TASK) && \zovye\App::isBalanceEnabled()}
            <a href="{php echo $this->createWebUrl('account', array('op'=>'add', 'type' => zovye\Account::TASK));}">
                <span class="state auth" title="自定义任务">
                    <img src="{php echo MODULE_URL . 'static/img/task.svg'}" title="添加自定义任务">
                </span>
            </a>
            {/if}
        </span>
        {/if}    
    </div>
    <div class="panel-body">
        {if $accounts || ($one_res && !$banned)}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="text-align: left;">
                        <div>名称</div>
                    </th>
                    <th>
                        奖励
                    </th>
                    <th>
                        <div>所属代理</div>                        
                    </th>
                    <th>周期</th>
                    <th>详情</th>
                    <th>二维码</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {loop $accounts $index $a}
                <tr {if $a['banned']}class="banned"{/if} data-id="{$a['id']}">
                    <td style="text-align: left;">
                        {if $a['orderno']}
                        <span class="orderno normal"  title="排序值">{$a['orderno']}</span>
                        {else}
                        <span class="text-muted">#</span>
                        {/if}
                    </td>
                    <td>
                        <div class="profile">
                            <img src="{media $a['img']}" title="{$a['uid']}">
                            <span>{$a['title']}{if $a['more_url']} <sup title="需要关注多个公众号">{php echo '+'.count($a['more_url']);}</sup>{/if}</span>
                            {if $a['type'] == \zovye\Account::AUTH}
                            {if $a['service'] == 2}
                            <span class="state auth" title="授权接入的服务号{if $a['verified']}(已认证){else}(未认证){/if}"><i class="fa fa-check-circle"></i></span>
                            {else}
                            <span class="state auth" title="授权接入的订阅号{if $a['verified']}(已认证){else}(未认证){/if}"><i class="fa fa-check-circle-o"></i></span>
                            {/if}
                            {elseif $a['type'] == \zovye\Account::VIDEO}
                            <span class="state video" title="视频"><i class="fa fa-youtube-play"></i></span>
                            {elseif $a['type'] == \zovye\Account::DOUYIN}
                            <span class="state auth{if empty($a['openid'])} disabled{/if}" title="抖音号">
                                <img src="{php echo MODULE_URL . 'static/img/douyin2.svg'}">
                            </span>
                            {elseif $a['type'] == \zovye\Account::WXAPP}
                            <span class="state auth{if empty($a['username'])} disabled{/if}" title="小程序">
                                <img src="{php echo MODULE_URL . 'static/img/wxapp.jpg'}">
                            </span>
                            {elseif $a['type'] == \zovye\Account::QUESTIONNAIRE}
                             <span class="state auth" title="问卷">
                                <a href="{php echo $this->createWebUrl('account', ['op' => 'qestionnaire_logs', 'account' => $a['id']]);}"  title="查看用户提交记录">
                                    <img src="{php echo MODULE_URL . 'static/img/questionnaire.svg'}">
                                </a>
                            </span>                           
                            {elseif $a['type'] == \zovye\Account::TASK}
                            <span class="state auth">
                                <a href="{php echo $this->createWebUrl('task', ['op' => 'view', 'account' => $a['id']]);}"  title="查看自定义任务用户记录">
                                    <img src="{php echo MODULE_URL . 'static/img/task.svg'}">
                                </a>
                            </span>
                            {/if}
                        </div>
                    </td>
                    <td class="bonus">
                        {if isset($a['commission'])}
                            <span class="commission{if empty($a['commission'])} disabled{/if}" title="佣金">￥{php echo number_format($a['commission']/100, 2)}元</span>
                        {/if}
                        {if isset($a['balance'])}
                            <span class="balance" title="积分">{$a['balance']}</span>
                            <img src="{MODULE_URL}static/img/coin.svg"
                            {if $a['balance'] > 0}
                            class="balance" 
                            title="积分"
                            {else}
                            class="balance disabled" 
                            title="积分未设置"
                            {/if}
                            >
                        {/if}
                    </td>
                    <td class="desc">
                        <div style="margin-bottom:10px;">
                            {if $a['agent'] && (empty($agent) || $agent->getId() != $a['agent']['id'])}
                            <a href="{php echo $this->createWebUrl('account', ['agentId'=>$a['agent']['id'], 'banned' => $banned]);}">
                                <div class="agent" title="点击查看{$a['agent']['name']}全部公众号" style="display:inline-block;">
                                    <div class="profile" style="background-color:{$a['agent']['level']['clr']}">
                                        <img src="{$a['agent']['avatar']}">
                                        <div class="nickname">{php echo cutstr($a['agent']['name'], 10, true);}</div>
                                    </div>
                                </div>
                            </a>
                            {else}
                            <span style="color:gray;">&lt;平台&gt;</span>
                            {/if}
                        </div>

                    </td>
                    <td class="desc">
                        <span class="schema schema_{$a['scname']}" style="border-bottom:4px solid #fff;box-shadow: 0px 2px 0px 0px {$a['clr']};" title="{if $a['count']}每人每{php echo zovye\Schema::desc($a['scname'])}可领取{$a['count']}包{/if}{if $a['sccount']}，每{php echo zovye\Schema::desc($a['scname'])}最多送出{$a['sccount']}包{/if}">
                            {if $a['type'] == \zovye\Account::DOUYIN}
                            单
                            {else}
                            {php echo zovye\Schema::desc($a['scname'])}
                            {/if}
                        </span>
                    </td>
                    {if $a['type'] == \zovye\Account::DOUYIN}
                    <td>
                    </td>
                    <td>
                        <div class="operate">
                            <i class="fa fa-magic" title="抖音用户授权" data-op="douyinAuth"></i>
                        </div>
                    </td>
                    {elseif $a['type'] == \zovye\Account::TASK}
                    <td>
                        <div class="task-stats">
                            <a href="{php echo $this->createWebUrl('task', ['op' => 'view', 'account' => $a['id'], 'status' => \zovye\Task::INIT]);}"  title="查看记录">
                                <div class="item init">
                                    <span class="title">未审核</span><span class="num">{php echo intval($a['stats'][\zovye\Task::INIT])}</span>
                                </div>                                
                            </a>
                            <a href="{php echo $this->createWebUrl('task', ['op' => 'view', 'account' => $a['id'], 'status' => \zovye\Task::ACCEPT]);}"  title="查看记录">
                            <div class="item accept">
                                <span class="title">已通过</span><span class="num">{php echo intval($a['stats'][\zovye\Task::ACCEPT])}</span>
                            </div>
                            </a>
                            <a href="{php echo $this->createWebUrl('task', ['op' => 'view', 'account' => $a['id'], 'status' => \zovye\Task::REJECT]);}"  title="查看记录">
                            <div class="item reject">
                                <span class="title">已拒绝</span><span class="num">{php echo intval($a['stats'][\zovye\Task::REJECT])}</span>
                            </div>
                            </a>
                        </div>
                    </td>
                    <td></td>
                    {elseif $a['is_third_party_platform']}
                    <td>
                    </td>
                    <td>
                        <img src="{MODULE_URL}static/img/qrcode.svg" class="qrcode-x"  title="动态二维码">
                    </td>
                    {else}
                    <td class="detail" style="position:relative;">
                        <div class="limit" style="background-color:{$a['clr']}" >
                            {if $a['groupname']}<div class="group" title="分组名称：{$a['groupname']}" style="color:{$a['clr']}">{$a['groupname']}</div>{/if}
                            <div class="first" title="{if $a['orderlimits']}最大订单数量限制：{$a['orderlimits']}{/if}"><span class="count">{$a['count']}</span>次/{php echo zovye\schema::desc($a['scname'])}</div>
                            <div class="more" title="{if $a['orderlimits']}最大订单数量限制：{$a['orderlimits']}{/if}">每人最多<span class="total">{$a['total']}</span>次</div>
                            {if $a['commission'] && $a['commission']['money'] > 0}
                                <span class="more commission" title="每包佣金：{php echo number_format($a['commission']['money']/100, 2)}元"><i class="fa fa-share-alt"></i> 已参加分佣</span>
                            {/if}
                        </div>
                    </td>
                    <td style="position:relative;">
                        <div class="ercode loading">
                            {if $a['useAccountQRCode']}
                            <i class="fa fa-desktop"></i>
                            {else}
                            <i class="fa fa-qrcode"></i>
                            {/if}                            
                            <div class="zovye_qrcode"  data-src="{media $a['qrcode']}"></div>
                        </div>
                    </td>
                    {/if}
                    <td class="operate">
                        <div class="btn-group">
                            {if $banned}
                            <a  class="btn btn-default" href="{php echo $this->createWebUrl('account', array('op'=>'ban','id'=>$a['id']))}" title="启用"><i class="fa fa-eye"></i></a>
                            {else}
                                {if isset($a['balance'])}
                                <a class="btn btn-default" href="{php echo $this->createWebUrl('account', array('op'=>'edit', 'id'=>$a['id']))}" title="编辑"><i class="fa fa-edit"></i></a>
                                {else}
                                <a class="btn btn-default" href="{php echo $this->createWebUrl('account', array('op'=>'assign', 'id'=>$a['id']))}" title="分配设备"><i class="fa fa-wrench{if empty($a['assigned'])} active{/if}"></i></a>
                                {/if}
                            {/if}
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="fa fa-caret-down"></span></a>
                          <ul class="dropdown-menu">
                            {if !isset($a['balance'])}
                                <li><a href="{php echo $this->createWebUrl('account', array('op'=>'edit','id'=>$a['id']));}"><i class="fa fa-edit fa-fw"></i> 编辑</a></li>
                                <li role="separator" class="divider"></li>
                            {/if}
                            {if $a['type'] == \zovye\Account::TASK}
                                <li><a href="#"  data-op="viewTaskLog"><i class="fa fa-list fa-fw"></i> 用户任务记录</a></li>
                            {else}
                                {if $a['type'] == \zovye\Account::QUESTIONNAIRE}
                                <li><a href="{php echo $this->createWebUrl('account', ['op' => 'qestionnaire_logs', 'account' => $a['id']]);}"><i class="fa fa-list fa-fw"></i> 用户提交记录</a></li>
                                <li><a href="#"  data-url="{$a['uid']}"><i class="fa fa-copy fa-fw"></i> 复制任务UID</a></li>
                                <li role="separator" class="divider"></li>
                                {/if}
                                <li>
                                    <a href="#" data-url="{$a['url']}" onclick="return false;"><i class="fa fa-arrow-circle-right fa-fw"></i> 
                                        {if $a['is_third_party_platform']}
                                        平台回调地址
                                        {else}
                                        专用领取链接
                                        {/if}
                                    </a>
                                </li>

                                {if \zovye\App::useAccountQRCode() && $a['type'] == \zovye\Account::AUTH && $a['service'] == 2}
                                <li>
                                    <a href="#" data-op="useAccountQRCode" onclick="return false;">
                                        <i class="fa fa-desktop fa-fw"></i>
                                        <span class="text">
                                            {if $a['useAccountQRCode']}
                                            取消设备二维码
                                            {else}
                                            设为设备二维码
                                            {/if}
                                        </span>
                                    </a>
                                </li>
                                {/if}
                                {if $a['more_url']}
                                <li role="separator" class="divider"></li>
                                {loop $a['more_url'] $index $xurl}
                                {if $xurl}
                                <li><a href="#" data-url="{$xurl}"  onclick="return false;"><i class="fa fa-external-link-square fa-fw"></i> 领取链接 [{php echo $index + 1}]</a></li>
                                {/if}
                                {/loop}
                                {/if}                            
                            {/if}

                            {if $a['is_third_party_platform']}
                                <li>
                                    <a href="{php echo $this->createWebUrl('account', ['op' => 'viewQueryLog', 'id' => $a['id']])}">
                                        <i class="fa fa-history fa-fw"></i> 查看请求日志
                                    </a>
                                </li>
                            {/if}
                            <li role="separator" class="divider"></li>
                            <li><a href="#"  data-op="viewFansCount"><i class="fa fa-users fa-fw"></i> 统计净增粉量</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"  data-op="viewStats"><i class="fa fa-area-chart fa-fw"></i> 查看本月统计</a></li>
                            <li><a href="#" data-op="viewHistoryStats"><i class="fa fa-line-chart fa-fw"></i> 查看历史数据</a></li>
                            {if !$a['is_third_party_platform']}
                            <li role="separator" class="divider"></li>
                            <li>
                                {if $banned}
                                <li>
                                    <a href="{php echo $this->createWebUrl('account', array('op'=>'assign', 'id'=>$a['id']))}">
                                    <i class="fa fa-wrench fa-fw"></i> 分配设备
                                    </a>
                                </li>
                                {else}
                                <a href="{php echo $this->createWebUrl('account', array('op'=>'ban','id'=>$a['id']))}">
                                {if $a['banned']}<i class="fa fa-eye fa-fw"></i> 启用{else}<i class="fa fa-eye-slash fa-fw"></i> 隐藏{/if}
                                </a>
                                {/if}
                            </li>
                            <li>
                                <a href="#" onclick="if(confirm('确定要删除这个任务吗？')){location.href='{php echo $this->createWebUrl('account', array('op'=>'remove','id'=>$a['id']))}'}">
                                    <i class="fa fa-trash fa-fw"></i> 删除?
                                </a>
                            </li>
                            {/if}
                          </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        <script>
            $(function(){
                $('.pagination li:not(.active) a').click(function(){ setTimeout(function(){util.loading()}, 1000)});
            })
        </script>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何数据！
        </div>
        {/if}
    </div>
</div>
<script>
    $(function(){
        $('body').on('hidden.bs.modal', function() {
            $('.modal').each((i, e) => {
                if ($(e).is(':hidden')) {
                    $(e).remove();
                }
            });
        })
        
        $('#search-form').submit(function(){
            const url = $(this).attr("action");
            const keywords = $(this).find("input[name=keywords]").val();
            location.href = url + "&keywords=" + encodeURIComponent(keywords);

            return false;
        })

        $('#accountlist [data-url]').each(function(){
            util.clip(this, $(this).data('url'));
        })

        const api = {
            url: "{php echo $this->createWebUrl('account');}",
        }

        api.showResult = function (params, url, loading, cb) {
            loading && util.loading();
            $.getJSON(url || api.url, params).done(function (res) {
                loading && util.loaded();
                if (res) {
                    if (typeof cb == 'function') {
                        if (cb(res)) {
                            return;
                        }
                    }
                    if (res.status) {
                        if (res.data && res.data.content) {
                            const dlg = util.dialog(res.data.title || '', res.data.content);
                            dlg.modal('show');
                        }
                    }
                    if (res.message && res.type) {
                        util.message(res.message, '', res.type);
                    }
                    if (res.data && res.data.msg) {
                        util.message(res.data.msg, '', res.status ? 'success' : 'error');
                    }
                }
            }).fail(function () {
                loading && util.loaded();
            })
        }

        api.accountAuthorize = function(id) {
            api.showResult({
                op: 'accountAuthorize',
            })
        }

        api.viewFansCount = function(id) {
            api.showResult({
                op: 'viewFansCount',
                id: id,
            })
        }

        api.viewTaskLog = function(id) {
            window.location.href = "{php echo $this->createWebUrl('task', ['op' => 'view', 'account' => '__id__'])}".replace('__id__', id);
        }

        api.viewStats = function(id, self) {
            const month = self.closest('tr').data('month');
            api.showResult({
                op: 'viewStats',
                id: id,
                month: month,
            })
        }

        api.viewHistoryStats = function(id) {
            window.location.href = "{php echo $this->createWebUrl('account', ['op' => 'stats_view', 'id' => '__id__'])}".replace('__id__', id);
        }

        api.showMonthStats = function(id, self) {
            const month = self.closest('tr').data('month');
            api.viewStats(id, self);
        }

        api.useAccountQRCode = function(id, self) {
            api.showResult({
                id: id,
                op: 'useAccountQRCode',
            }, undefined, false, function(res) {
                if (res && res.status) {
                    const tr = self.closest('tr');
                    tr.find('.ercode i').toggleClass('fa-desktop').toggleClass('fa-qrcode');
                    const textCtrl = tr.find('[data-op="useAccountQRCode"] .text');
                    const newText = textCtrl.text() == '取消设备二维码' ? '设为设备二维码' : '取消设备二维码';
                    textCtrl.text(newText);
                }
            })
        }

        api.douyinAuth = function(id, self) {
            api.showResult({
                id: id,
                op: 'douyinAuthorize',
            })
        }
        
        $("#accountlist").on('mouseover', '.ercode.loading', function(){
            const co = $(this).removeClass('loading').find('.zovye_qrcode');
            const src = co.data("src");
            if(src) {
                co.html('<img src="'+ src + '">');
            }else{
                $(this).attr("title", "");
                co.remove();
            }
        })

        $("body").on("click", ":not(.loading)[data-op]", function(e){
            const self = $(this);
            const op = self.data('op');
            if(op && api[op]){
                const id = self.closest('tr').data('id');
                if(id) {
                    self.addClass('loading');
                    api[op](id, self);
                    self.removeClass('loading');
                } else {
                    api[op](self);
                }
            }
            e.preventDefault();
        })

        $("body").on("click", "[data-month] i.fa-line-chart", function(e){

        })
    })
</script>
{template 'common/footer'}