{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
<style>
    #navbar img {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
</style>

<div id="app" v-cloak>
    <ul class="nav nav-tabs" id="navbar">
        <li role="presentation" :class="{'active': nav.op === active}" @click="active=nav.op" v-for="nav in navs">
            <a href="#" v-html="nav.content">
            </a>
        </li>  
    </ul>
    <form action="{php echo $this->createWebUrl('account');}" method="post">
        <div class="panel panel-default panel-first">
            <div class="heading">
                <span class="operate">
                    <a href="{php echo $this->createWebUrl('account', ['type' => 110]);}"><i class="fa fa-reply" title="返回"></i></a>
                </span>
            </div>
            <div class="panel-body">
                <!-- 基本信息 开始 -->
                <div v-show="active ==='base'">
                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label">名称</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="title" id="title" value="{php echo $account?$account->getTitle() :''}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            头像
                        </label>
                        <div class="col-md-10">
                            {php echo tpl_form_field_image('img', $account?$account->getImg():'');}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descr" class="col-md-2 control-label">引导关注文字</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="descr" id="descr" value="{php echo $account?$account->getDescr():''}">
                        </div>
                    </div>
                </div>
                <!-- 基本信息 结束 -->
                <!-- 任务设置 开始 -->
                <div v-show="active ==='config'">
                    <div class="form-group">
                        <label for="task_url" class="col-md-2 control-label">链接（可选）</label>
                        <div class="col-md-10">
                            <input type="task_url" class="form-control" name="task_url" id="task_url" value="{$config['url']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            二维码（可选）
                        </label>
                        <div class="col-md-10">
                            {php echo tpl_form_field_image('task_qrcode', $config['qrcode']);}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">截图示例（可选）</label>
                        <div class="col-md-10">
                            {php echo tpl_form_field_multi_image('task_images', $config['images']);}
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">详情（可选）</label>
                        <div class="col-md-10">
                        {php echo tpl_ueditor('task_desc', $config['desc']);}
                        </div>
                    </div>
                </div>
                <!-- 任务设置 结束 -->
                <!-- 完成条件设置 开始 -->
    
                <!-- 完成条件设置 结束 -->
                <!-- 高级设置 开始 -->
                <div v-show="active ==='advance'">
                    <div class="form-group">
                        <label for="scname" class="col-md-2 control-label">任务周期</label>
                        <div class="col-md-10">
                            <select  class="form-control" name="scname" id="scname">
                                <option value="{php echo zovye\Schema::DAY}" {if $account && $account->getScname() == zovye\Schema::DAY}selected{/if}>每天</option>
                                <option value="{php echo zovye\Schema::WEEK}" {if $account && $account->getScname() == zovye\Schema::WEEK}selected{/if}>每周</option>
                                <option value="{php echo zovye\Schema::MONTH}" {if $account && $account->getScname() == zovye\Schema::MONTH}selected{/if}>每月</option>
                            </select>
                            <span class="help-block">* 每天/每周/每月可完成一次该任务</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="count" class="col-md-2 control-label">一个周期内<br/><b>单个用户</b>可完成次数</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="count" id="count" value="{php echo $account?$account->getCount():'1'}">
                            <span class="help-block">* 每个用户在<b>每个周期</b>最多可完成的任务次数，0表示不限制次数</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sccount" class="col-md-2 control-label">一个周期内<br/><b>全部用户</b>可用任务次数</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="sccount" id="sccount" value="{php echo $account?$account->getSccount():'0'}">
                            <span class="help-block">* 全部用户在一个周期内完成任务总次数的最大值，0表示不限制次数</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="total" class="col-md-2 control-label"><b>单个用户</b><br/>累计最多完成任务次数</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="total" id="total" value="{php echo $account?$account->getTotal():'1'}">
                            <span class="help-block">* 每个用户最多可以完成任务次数，0表示不限制次数</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orderlimits" class="col-md-2 control-label"><b>所有用户</b><br/>累计最多可完成任务总次数</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="orderlimits" id="orderlimits" value="{php echo $account?$account->getOrderLimits():'0'}">
                            <span class="help-block">* 所有用户可以完成的任务总次数，0表示不限制次数，<b>超过后，系统会自动隐藏该公众号！</b></span>
                        </div>
                    </div> 
                </div>
                <!-- 高级设置 结束 -->
                <!-- 用户限制 开始 -->
                <div v-show="active ==='limits'">
                    <div class="form-group">
                        <label class="col-xs-12 col-md-2 col-md-2 control-label">性别</label>
                        <div class="col-md-8 col-md-8 col-lg-8 col-xs-12">
                            <label class="checkbox-inline">
                            <input type="checkbox" id="sexCheckbox1" name="limits[]" value="male" {if $limits && $limits['male'] or empty($limits)}checked{/if}> 男
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" id="sexCheckbox2" name="limits[]" value="female" {if $limits && $limits['female'] or empty($limits)}checked{/if}> 女
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" id="sexCheckbox0" name="limits[]" value="unknown_sex" {if $limits && $limits['unknown_sex'] or empty($limits)}checked{/if}> 未知
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-md-2 col-md-2 control-label">手机系统</label>
                        <div class="col-md-8 col-md-8 col-lg-8 col-xs-12">
                            <label class="checkbox-inline">
                            <input type="checkbox" id="phoneCheckbox1" name="limits[]" value="ios" {if $limits && $limits['ios'] or empty($limits)}checked{/if}> iPhone手机
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" id="phoneCheckbox2" name="limits[]" value="android" {if $limits && $limits['android'] or empty($limits)}checked{/if}> Android手机
                            </label>
                        </div>
                    </div>
                </div>
                <!-- 用户限制 结束 -->
                <!-- 其它设置 开始 -->
                <div v-show="active ==='misc'">
                    <div class="form-group">
                        <label for="orderno" class="col-md-2 control-label">排序</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="orderno" id="orderno" value="{php echo $account?$account->getOrderNo():0}">
                            <span class="help-block">* 可选，范围0 - 999，默认为0。数字越大，优先级越高。</span>
                        </div>
                    </div>
                </div>
                <!-- 其它设置 结束 -->
                <!-- 积分设置 开始 -->
                <div v-show="active ==='reward'">
                    <div class="form-group">
                        <label for="balance" class="col-md-2 control-label">积分数量 <img src="{MODULE_URL}static/img/coin.svg" class="balance"></label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="balance" id="balance" value="{$balance}" min="0" step="1">
                            <span class="help-block">* 用户提交的任务次数通过审核后，会获得指定积分</span>
                        </div>
                    </div>
                </div>
                <!-- 积分设置 结束 -->
            </div>
        </div>
      
        <div class="form-btn">
            <input type="hidden" name="op" value="save">
            <input type="hidden" name="from" :value="active">
            <template v-if="id && id > 0">
                <input type="hidden" name="id" value="{$id}">
                <button type="submit" class="btn btn-primary">保存</button>
                </template>
                <button type="submit" class="btn btn-primary" v-else>创建</button>
            <input type="hidden" name="type" value="{$type}">
            <button type="button" class="btn btn-default" onclick="location.href='{php echo $this->createWebUrl('account');}'">返回</button>
        </div>
    </form>
</div>
{template 'web/account/edit_footer'}
<script>
    require(['jquery', '{php \zovye\url(false, JS_VUE_URL);}'], function($, Vue) {
        new Vue({
            el: "#app",
            data: {
                id: parseInt(`{$id}`),
                navs:[
                    {
                        'op': 'base',
                        'content': `<img src="{php echo \zovye\Account::TASK_HEAD_IMG;}"> 基本设置`,
                    },
                    {
                        'op': 'config',
                        'content': `任务设置`,
                    },
                    {
                        'op': 'limits',
                        'content': `用户限制`,
                    },
                    {
                        'op': 'advance',
                        'content': `高级设置`,
                    },                    
                    {
                        'op': 'misc',
                        'content': `其它设置`,
                    },
                    {
                        'op': 'reward',
                        'content': `奖励设置`,
                    },
                ],
                active: '{$from}',
            },
            mounted() {
                initPage();
            }
        })
    })
</script>
{template 'common/footer'}