{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    #navbar img {
        width: 16px;
    }
</style>
<div id="app"  v-cloak>
    <ul class="nav nav-tabs" id="navbar">
        <li role="presentation" :class="{'active': nav.op === active}" @click="active=nav.op" v-for="nav in navs">
            <a href="#" v-html="nav.content">
            </a>
        </li>  
    </ul>
    <form action="{php echo $this->createWebUrl('account');}" method="post">
        <div class="panel panel-default panel-first">
            <div class="heading">
                <span class="operate">
                    <a href="{php echo $this->createWebUrl('account', ['type' => 115]);}"><i class="fa fa-reply" title="返回"></i></a>
                </span>
            </div>
            <div class="panel-body">
                <!-- 基本信息 开始 -->
                <div v-show="active === 'base'">
                    <div class="form-group">
                        <label for="select_agent" class="col-md-2 control-label">代理商</label>
                        <div class="col-md-5">
                            <select name="agentId" id="select_agent" style="width:100%;">
                                {if $agent_openid}
                                <option value="{$agent_openid}">{php echo $agent_name . "，手机号码：" . $agent_mobile}</option>
                                {/if}
                                <option value="0">&lt;无&gt;</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="keyword_agent" id="keyword_agent" placeholder="请输入手机号码或者名称查找">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default" type="button" id="find_agent">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label">名称</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="title" id="title" value="{php echo $account?$account->getTitle() :''}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            头像
                        </label>
                        <div class="col-md-10">
                            {php echo tpl_form_field_image('img', $account?$account->getImg():'');}
                        </div>
                    </div>
                </div>
                <!-- 基本信息 结束 -->
                <!-- 广告信息开始 -->
                <div  v-show="active === 'ad'">
                    <input type="hidden" name="mediaType" v-model="mediaType">
                    <div class="form-group operate" v-show="mediaType === 'video'">
                        <label class="col-md-2 control-label">视频</label>
                        <div class="col-md-10">
                            {php echo tpl_form_field_video('video', $account ? $account->getMedia() : '')}
                            <span class="help-block">* 点击 <i class="fa fa-image" @click="mediaType='images'"></i> 切换到图片广告</span>
                        </div>
                    </div>     
                    <div class="form-group operate"  v-show="mediaType === 'images'">
                        <label class="col-md-2 control-label">图片</label>
                        <div class="col-md-10">
                            {php echo tpl_form_field_multi_image('images', $account ? $account->getMedia() : []);}
                            <span class="help-block">* 点击 <i class="fa fa-youtube-play" @click="mediaType='video'"></i> 切换到视频广告</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="count" class="col-md-2 control-label">时长（秒）</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="duration" id="duration" value="{php echo $account?$account->getDuration():'1'}">
                            <span class="help-block">* 用户等待广告展示指定时长后，才能成功领取奖励</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="area" class="col-md-2 control-label">位置</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="area" id="area" value="{php echo $account?$account->getArea() :''}">
                            <span class="help-block">* 播放设备中该广告的位置索引，比如1-1,1-2,1-3...</span>
                        </div>
                    </div>
                </div>
                <!-- 广告信息结束 -->
                <!-- 商品信息 开始 -->
                <div v-show="active === 'goods'">
                    <div class="form-group">
                        <label class="col-md-2 control-label">图片</label>
                        <div class="col-md-10">
                            {php echo tpl_form_field_image('goodsImage', $goods?$goods['img'] : '');}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">详情图片</label>
                        <div class="col-md-10">
                            {php echo tpl_form_field_multi_image('gallery', $goods?$goods['gallery']:[]);}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="goodsUnitTitle" class="col-md-2 control-label">商品单位</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="goodsUnitTitle" name="goodsUnitTitle" value="{php echo $goods?$goods['unit_title'] : '个'}">
                            <span class="help-block">* 单位名称，比如：个、包、支、盒等等</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="goodsPrice" class="col-md-2 control-label">单价（元）</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" id="goodsPrice" name="goodsPrice" step="0.01" value="{php echo $goods? number_format($goods['price'] / 100, 2) : 0}">
                            <span class="help-block">* 用户使用微信支付购买时的价格，小于等于0元则表示无法购买</span>
                        </div>
                    </div>
                </div>
                <!-- 商品信息 结束-->
                <!-- 用户限制 开始 -->
                <input type="hidden" name="limits[]" value="male">
                <input type="hidden" name="limits[]" value="female">
                <input type="hidden" name="limits[]" value="unknown_sex">
                <input type="hidden" name="limits[]" value="ios">
                <input type="hidden" name="limits[]" value="android">
                <!-- 用户限制 结束 -->
                <!-- 高级设置 开始 -->
                <div v-show="active === 'advance'">
                    <div class="form-group">
                        <label for="scname" class="col-md-2 control-label">领取周期</label>
                        <div class="col-md-10">
                            <select  class="form-control" name="scname" id="scname">
                                <option value="{php echo zovye\Schema::DAY}" {if $account && $account->getScname() == zovye\Schema::DAY}selected{/if}>每天</option>
                                <option value="{php echo zovye\Schema::WEEK}" {if $account && $account->getScname() == zovye\Schema::WEEK}selected{/if}>每周</option>
                                <option value="{php echo zovye\Schema::MONTH}" {if $account && $account->getScname() == zovye\Schema::MONTH}selected{/if}>每月</option>
                            </select>
                            <span class="help-block">* 每天/每周/每月可领取一次奖励</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="count" class="col-md-2 control-label">一个周期内<br/><b>单个用户</b>可领取数量</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="count" id="count" value="{php echo $account?$account->getCount():'1'}">
                            <span class="help-block">* 每个用户在关注该公众号以后<b>每个周期</b>最多可领取的奖励数量，0表示不限制数量</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sccount" class="col-md-2 control-label">一个周期内<br/><b>全部用户</b>可领取总数</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="sccount" id="sccount" value="{php echo $account?$account->getSccount():'0'}">
                            <span class="help-block">* 全部用户在一个周期内领取总数量的最大值，0表示不限制数量</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="total" class="col-md-2 control-label"><b>单个用户</b><br/>累计最多领取数量</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="total" id="total" value="{php echo $account?$account->getTotal():'0'}">
                            <span class="help-block">* 每个用户在关注该公众号以后累计最多可领取的奖励数量，0表示不限制数量</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="totalPerDevice" class="col-md-2 control-label"><b>单台设备</b><br/>累计最多领取数量</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="totalPerDevice" id="totalPerDevice" value="{php echo $account?$account->getTotalPerDevice():'0'}">
                            <span class="help-block">* 每个用户在每台设备上累计最多可领取的奖励数量，0表示不限制数量</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orderlimits" class="col-md-2 control-label"><b>所有用户</b><br/>累计最多领取总数</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="orderlimits" id="orderlimits" value="{php echo $account?$account->getOrderLimits():'0'}">
                            <span class="help-block">* 所有用户在这个公众号领取的奖励总数量，0表示不限制数量，<b>超过后，系统会自动隐藏该公众号！</b></span>
                        </div>
                    </div> 
                </div>
                <!-- 高级设置 结束 -->
                <!-- 其它设置 开始 -->
                <div v-show="active === 'misc'">
                    <div class="form-group">
                        <label for="groupname" class="col-md-2 control-label">分组名称</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="groupname" id="groupname" value="{php echo $account?$account->getGroupName():''}">
                            <span class="help-block">* 可选，同一分组的公众号只有排序值最大的才会显示在公众号关注页面中</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orderno" class="col-md-2 control-label">排序</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="orderno" id="orderno" value="{php echo $account?$account->getOrderNo():0}">
                            <span class="help-block">* 可选，范围0 - 999，默认为0。数字越大，优先级越高。</span>
                        </div>
                    </div>
                </div>
                <!-- 其它设置 结束 -->
                <div v-show="active === 'reward'">
                <!-- 佣金设置 开始 -->
                {if \zovye\App::isCommissionEnabled() && !\zovye\App::isBalanceEnabled()}
                <div>
                    <div class="form-group">
                        <label for="commission_money" class="col-md-2 control-label">佣金（元）<img src="{MODULE_URL}static/img/yen.svg" class="yen"></label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="commission_money" id="commission_money" value="{$amount}" min="0" step="0.01">
                            <span class="help-block">* 用户通过这个公众号领取成功后，设备代理商会获得指定佣金</span>
                        </div>
                    </div>
                </div>
                {/if}
                <!-- 佣金设置 结束 -->
                {if \zovye\App::isBalanceEnabled() && !\zovye\App::isCommissionEnabled()}
                <!-- 积分设置 开始 -->
                <div>
                    <div class="form-group">
                        <label for="balance" class="col-md-2 control-label">获得积分 <img src="{MODULE_URL}static/img/coin.svg" class="balance"></label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="balance" id="balance" value="{$balance}" min="0" step="1">
                            <span class="help-block">* 用户关注这个公众号后，会获得指定积分</span>
                        </div>
                    </div>
                </div>
                <!-- 积分设置 结束 -->
                {/if}
                {if \zovye\App::isBalanceEnabled() && \zovye\App::isCommissionEnabled()}
                <!-- 佣金和积分同时存在时设置 开始 -->
                <div id="bonus" {if $bonus_type == \zovye\Account::COMMISSION}data-commission="{$amount}"{else}data-balance="{$amount}"{/if}>
                    <div class="form-group">
                        <label class="col-md-2 control-label">奖励方式</label>
                        <div class="col-md-10">
                            <label class="radio-inline">
                                <input type="radio" name="bonus_type" value="commission"
                                {if $bonus_type == \zovye\Account::COMMISSION}checked{/if}
                                onclick="changeBonus('commission')">
                                代理商获得佣金 <img src="{MODULE_URL}static/img/yen.svg" class="yen">
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="bonus_type" value="balance"
                                {if $bonus_type == \zovye\Account::BALANCE}checked{/if}
                                 onclick="changeBonus('balance')">
                                用户获得积分 <img src="{MODULE_URL}static/img/coin.svg" class="balance">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-md-2 control-label"><span class="name"></span></label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="amount" id="amount" value="{$amount}" min="0">
                            <span class="help-block">* 用户观看视频后，<span class="desc">&lt;请选择奖励方式&gt;</span></span>
                        </div>
                    </div>
                </div>
                <!-- 佣金和积分同时存在时设置 结束 -->
                {/if}
                </div>
            </div>
        </div>
      
        <div class="form-btn">
            <input type="hidden" name="op" value="save">
            <input type="hidden" name="from" :value="active">
            <template v-if="id && id > 0">
            <input type="hidden" name="id" value="{$id}">
            <button type="submit" class="btn btn-primary">保存</button>
            </template>
            <button type="submit" class="btn btn-primary" v-else>创建</button>
            <input type="hidden" name="type" value="115">
            <button type="button" class="btn btn-default" onclick="location.href='{php echo $this->createWebUrl('account', ['type' => 115]);}'">返回</button>
        </div>
    </form>
</div>
{template 'web/account/edit_footer'}
<script>
    require(['jquery', '{php \zovye\url(false, JS_VUE_URL);}'], function($, Vue) {
        new Vue({
            el: "#app",
            data: {
                id: parseInt(`{$id}`),
                navs:[
                    {
                        'op': 'base',
                        'content': `<img src="{php echo MODULE_URL . 'static/img/egg.svg'}"> 基本设置`,
                    },
                    {
                        'op': 'ad',
                        'content': `广告信息`,
                    },
                    {
                        'op': 'goods',
                        'content': `商品信息`,
                    },
                    {
                        'op': 'advance',
                        'content': `高级设置`,
                    },
                    {
                        'op': 'misc',
                        'content': `其它设置`,
                    },
                    {
                        'op': 'reward',
                        'content': `奖励设置`,
                    },
                ],
                active: '{$from}',
                mediaType: '{$media_type}',
            },
            mounted() {
                initPage();
            }
        })
    })
</script>
{template 'common/footer'}