{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    .operate .state.auth {
        margin-left: 0px;
        filter: grayscale(100%);
        opacity: 0.3;
    }
    .operate .state.auth:hover {
        filter: grayscale(0);
        opacity: 1;
    }
    .state.auth {
        color: #4CAF50;
        margin-left: 6px;
    }
    #flashGiftList .image img {
        width: 64px;
        height: 64px;
    }
    #flashGiftList .name {
        max-width: 6em;
    }
    #flashGiftList .desc {
        max-width: 10em;
    }
    #flashGiftList .fa-check {
        color:#9e9e9e;
    }
    #flashGiftList .fa-check.enabled {
        color: #4caf50;
    }
    #flashEggList img {
        width: 32px;
        height: 32px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline" action="{$search_url}" method="post" id="search-form">
          <div class="form-group">
            <label for="keywords"></label>
            <input type="text" class="form-control" name="keywords" id="keywords" placeholder="请输入帐号或名称搜索..." value="{$keywords}">
          </div>
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;搜索</button>
        </form>
    </div>
</div>
<ul class="nav nav-tabs" id="navbar">
    {loop $navs $nav}
    {if !isset($nav['enabled']) || $nav['enabled']}
    {if $nav['active']}
    <li role="presentation" class="active"><a href="#">{$nav['title']}</a></li>
    {else}
    <li role="presentation"><a href="{php echo $this->createWebUrl('account', ['type' => $nav['type']]);}">{$nav['title']}</a></li>
    {/if}
    {/if}
    {/loop}
</ul>
<div class="panel panel-default{if empty($banned)} panel-first{/if} nav-tab-item"  id="accountlist">
    <div class="heading operate">
        <div class="operate">
            <a href="{php echo $this->createWebUrl('account', ['op' => 'gift_edit'])}">
                <i class="fa fa-pencil" title="新建" ></i>
            </a>
            <a href="{php echo $this->createWebUrl('account', ['op' => 'gift_logs'])}">
                <i class="fa fa-list fa-fw" title="查看用户兑换记录"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">
        {if $list}
        <table class="table" id="flashGiftList">
            <thead>
                <th>#</th>
                <th>图片</th>
                <th>名称</th>
                <th>简介</th>
                <th>备注</th>
                <th>所属代理商</th>
                <th>启用</th>
                <th>创建时间</th>
                <th></th>
            </thead>
            <tbody>
                {loop $list $index $item}
                <tr data-id="{$item['id']}">
                    <td>
                        {php echo $index + 1}
                    </td>
                    <td class="image">
                        <img src="{$item['image']}">
                    </td>
                    <td class="name">
                        {$item['name']}
                    </td>
                    <td class="desc">
                        {$item['description']}
                    </td>
                    <td class="desc remark">
                        {$item['remark']}
                    </td>
                    <td>
                        <div style="margin-bottom:10px;">
                            {if $item['agent']}
                            <div class="agent" title="点击查看{$item['agent']['name']}全部公众号" style="display:inline-block;">
                                <div class="profile" style="background-color:{$item['agent']['level']['clr']}">
                                    <img src="{$item['agent']['avatar']}">
                                    <div class="nickname">{php echo cutstr($item['agent']['name'], 10, true);}</div>
                                </div>
                            </div>
                            {else}
                            <span style="color:gray;">&lt;平台&gt;</span>
                            {/if}
                        </div>
                    </td>
                    <td class="operate">
                        {if $item['enabled']}
                        <i class="fa fa-check enabled" title="已启用" data-op="gift_enable"></i>
                        {else}
                        <i class="fa fa-check" title="已停用" data-op="gift_enable"></i>
                        {/if}
                    </td>
                    <td>
                        {$item['createtime_formatted']}
                    </td>
                    <td class="operate">
                        <a href="{php echo $this->createWebUrl('account', ['op' => 'gift_logs', 'id' => $item['id']])}">
                            <i class="fa fa-list fa-fw" title="查看用户兑换记录"></i>
                        </a>
                        <a href="{php echo $this->createWebUrl('account', ['op' => 'gift_edit', 'id' => $item['id']])}">
                            <i class="fa fa-edit fa-fw" title="编辑"></i>
                        </a>
                        <i class="fa fa-trash fa-fw" title= "删除" data-op="gift_remove"></i>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何活动！
        </div>
        {/if}
    </div>
</div>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js')}"], function (zovye) {
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('account');}");
        zovye.op('gift_remove', function(self, next) {
            if (!confirm('确定要删除这个活动吗？')) {
                return;
            }
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id}, function(res) {
                if (res && res.status) {
                    tr.remove();
               }
            });
        })
        zovye.op('gift_enable', function(self, next) {
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id}, function(res) {
                if (res && res.status) {
                    if (res.data.enabled) {
                        tr.find('.operate i.fa-check').addClass('enabled').attr('title', '已启用');
                    } else {
                        tr.find('.operate i.fa-check').removeClass('enabled').attr('title', '已停用');
                    }
               }
            });
        })
    })
</script>
{template 'common/footer'}