<style>
  #giftDataForm .gift img {
    width: 64px;
    height: 64px;
  }
  #giftDataForm .goods {
    display: flex;
    align-items: center;
  } 
  #giftDataForm .goods div {
    margin-right: 6px;
  }
  #giftDataForm .goods img {
    width: 18px;
    height: 18px;
  }
  #giftDataForm .goods sup {
    color: red;
  }
  #giftDataForm table.table#list td {
    vertical-align: middle;
  }
</style>
<form class="form-horizontal" id="giftDataForm">
  <div class="panel-body">
    {if $list}
    <table class="table" id="list">
      <thead>
        <th>
          #
        </th>
        <th>图片</th>
        <th>名称</th>
        <th>详情</th>
        <th>状态</th>
      </thead>
      <tbody>
        {loop $list $index $gift}
        <tr>
          <td>{php echo $index + 1}</td>
          <td class="gift">
            <img src="{$gift['image']}">
          </td>
          <td>
            <div>
              {$gift['name']}
            </div>
            <div class="text-muted">
              {$gift['description']}
            </div>
          </td>
          <td>
            {loop $gift['list'] $i $item}
            <div class="goods">
              <div><img src="{$item['image']}"> </div>
              <div>
                {$item['name']} <sup>¥{$item['price']}元</sup>
              </div>
              <div>
                {if $item['acquired'] == $item['num']}
                <span style="color:green;">{$item['acquired']}/{$item['num']}</span>
                {else}
                <span style="color:gray;">{$item['acquired']}/{$item['num']}</span>
                {/if}
              </div>
            </div>
            {/loop}
          </td>
          <td>
            {if $gift['all_acquired']}
            <span style="color: green;">&lt;已完成&gt;</span>
            {else}
            <span class="text-muted">&lt;未达成&gt;</span>
            {/if}
            
          </td>
        </tr>
        {/loop}
      </tbody>
    </table>
    {else}
      <div class="text-center text-muted">
        <i class="fa fa-question-circle"></i> 暂时没有任何活动数据！
      </div> 
    {/if}
  </div>
</form>