{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    #list .data {
        position: relative;
    }
    #list .data .json {
        width: 500px;
        position: absolute;
        display: none;
        z-index: 99;
        left: 40px;
        text-align: start;
    }
    #list .data:hover .json {
        display: block;        
    }
    #list .data i {
        color: gray;
    }
    #list td i.success {
        color: #4caf50;
    }
    #list .order {
        white-space: nowrap;
    }
    #navbar img {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    {if empty($user) && empty($device)}
    <li role="presentation"class="active">
        <a href="#">
            <img src="{$account['img']}">
            <span><b>{$account['name']}</b></span>的请求日志           
        </a>
    </li>
    {else}
    <li role="presentation">
        <a href="{php echo $this->createWebUrl('account', ['op' => 'viewQueryLog', 'id' => $account['id']])}">
            <img src="{$account['img']}">
            <span>{$account['name']}</span>的请求日志
        </a>
    </li>
    {/if}
    {if $user}
    <li role="presentation"class="active">
        <a href="#">
            <span>{$user['name']}</span>           
        </a>
    </li>
    {/if}
    {if $device}
    <li role="presentation"class="active">
        <a href="#">
            <span><b>{$device['name']}</b></span>           
        </a>
    </li>
    {/if}
</ul>
<div class="panel panel-default panel-first">
    <div class="heading">
        <span class="operate">
        </span>
    </div>
    <div class="panel-body">
        {if $list}
        <table class="table" id="list">
            <thead>
                <th>#</th>
                <th style="width: 260px;">流水号</th>
                <!-- <th>公众号</th> -->
                <th>用户</th>
                <th>设备</th>
                <th class="center">请求数据</th>
                <th class="center">API响应</th>
                <th class="center">回调通知</th>
                <th style="width: 300px;">订单{if \zovye\App::isBalanceEnabled()}/积分{/if}</th>
                <th style="width: 200px;">创建时间</th>
            </thead>
            <tbody>
                {loop $list $index $e}
                <tr>
                    <td>{php echo $index + 1}</td>
                    <td>
                        {$e['request_id']}
                    </td>
                    <!-- <td>
                        <div class="profile">
                            <img src="{$e['account']['img']}">
                            <span>{$e['account']['name']}</span>
                        </div>
                    </td> -->
                    <td>
                        <a href="{php echo $this->createWebUrl('account', ['op' => 'viewQueryLog', 'id' => $account['id'], 'user' => $e['user']['id']]);}">
                            <div class="profile">
                                <img src="{$e['user']['headimgurl']}">
                                <span>{$e['user']['name']}</span>
                            </div>
                        </a>
                    </td>
                    <td>
                        <div>
                            <a href="{php echo $this->createWebUrl('account', ['op' => 'viewQueryLog', 'id' => $account['id'], 'device' => $e['device']['id']]);}">
                                <span title="{$e['device']['imei']}">{$e['device']['name']}</span>
                            </a>
                        </div>
                    </td>
                    <td class="center">
                        <div class="data">
                        <i class="fa fa-cloud-upload {if $e['request']}success{else}fail{/if}"></i>
                        <div class="json">
                            <pre>
{php echo json_encode($e['request'], JSON_PRETTY_PRINT|JSON_UNESCAPED_UNICODE);}
                            </pre>
                        </div>                            
                        </div>

                    </td>
                    <td class="data center">
                        <i class="fa fa-cloud-download {if $e['result']}success{else}fail{/if}"></i>
                        <div class="json">
                            <pre>
{php echo json_encode($e['result'], JSON_PRETTY_PRINT|JSON_UNESCAPED_UNICODE);}
                            </pre>
                        </div>
                    </td>
                    <td class="data center">
                        {if $e['cb']}
                        <i class="fa fa-check-circle-o {if $e['cb']['data']}success{else}fail{/if}"></i> {php echo date('Y-m-d H:i:s', $e['cb']['time'])}
                        <div class="json">
                            <pre>
{php echo json_encode($e['cb']['data'], JSON_PRETTY_PRINT|JSON_UNESCAPED_UNICODE);}
                            </pre>
                        </div>
                        {/if}
                        {if $e['last_cb']}
                        <span style="color: red;cursor: default;" title="注意：收到{$e['last_cb']}次回调通知！">*</span>
                        {/if}
                    </td>
                    <td>
                        {if $e['cb']['order_uid']}
                        <span class="order"> <img src="{MODULE_URL}static/img/yen.svg" class="yen">{$e['cb']['order_uid']}</span>
                        {elseif $e['cb']['serial']}
                        <span class="order"><img src="{MODULE_URL}static/img/coin.svg" class="balance" title="{$e['cb']['serial']}">{$e['balance']}</span>
                        {/if}
                    </td>
                    <td>
                        {php echo date('Y-m-d H:i:s', $e['createtime'])}
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何请求日志！
        </div>
        {/if}
    </div>
</div>
{template 'common/footer'}