{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
<style>
    #flashLuckyLogs .image img {
        width: 64px;
        height: 64px;
    }
    .lucky .desc {
        color: #9e9e9e;
        max-width: 30em;
    }
    .lucky .remark {
        color: red;
        font-style: italic;
        max-width: 30em;
    }
    .lucky .name {
        font-weight: bolder;
    }
    .finished {
        color: #4caf50;
    }
    address {
        max-width: 30em;
    }
    .delivery .name {
        color: #9e9e9e;
    }
    .delivery .sn {
        color: #9e9e9e;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline" action="{$search_url}" method="post" id="search-form">
          <div class="form-group">
            <label for="keywords"></label>
            <input type="text" class="form-control" name="keywords" id="keywords" placeholder="请输入序号或手机号码搜索..." value="{$keywords}">
          </div>
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;搜索</button>
        </form>
    </div>
</div>
<ul class="nav nav-tabs" id="navbar">
    {if $user}
    <li role="presentation">
        <a href="{php echo $this->createWebUrl('account', ['op' => 'lucky_logs'])}">抽奖活动领取记录</a>
    </li>
    <li role="presentation" class="active">
        <a href="#">{if $user}<strong>{$user['name']}</strong>的{/if}领取记录 <span style="color:red;">*</span></a>
    </li>
    {else}
    {if $lucky}
    <li role="presentation">
        <a href="{php echo $this->createWebUrl('account', ['op' => 'lucky_logs'])}">抽奖活动领取记录</a>
    </li>
    <li role="presentation" class="active">
        <a href="#"><strong>{$lucky['name']}</strong> <span style="color:red;">*</span></a>
    </li>
    {else}
    <li role="presentation" class="active">
        <a href="#">抽奖活动领取记录</a>
    </li>
    {/if}
    {/if}
</ul>
<div class="panel panel-default panel-first nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('account', ['op' => 'lucky'])}"><i class="fa fa-reply" title="返回"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $list}
        <table class="table" id="flashLuckyLogs">
            <thead>
            <th>序号</th>
            <th>图片</th>
            <th>名称</th>
            <th>用户</th>
            <th>收件人</th>
            <th>备注</th>
            <th class="text-center">状态</th>
            <th>创建时间</th>
            <th>操作</th>
            </thead>
            <tbody>
            {loop $list $index $item}
            <tr data-id="{$item['id']}">
                <td>
                    {php echo $item['serial']}
                </td>
                <td class="image">
                    <img src="{$item['lucky']['image']}">
                </td>
                <td>
                    <div class="lucky">
                        <span class="name">
                            {if empty($lucky)}
                            <a href="{php echo $this->createWebUrl('account', ['op' => 'lucky_logs', 'id' => $item['lucky']['id']])}" title="查看记录">
                            {$item['lucky']['name']}
                            </a>
                            {else}
                            {$item['lucky']['name']} 
                            {/if}
                        </span><sup class="remark">{$item['lucky']['remark']}</sup>
                        <div class="desc">
                            {$item['lucky']['description']}
                        </div>
                    </div>
                </td>
                <td>
                    <a href="{php echo $this->createWebUrl('account', array('op' => 'lucky_logs', 'user_id' => $item['user']['id']));}" title="点击查看{php echo $item['user']['nickname']?:'&lt;匿名用户&gt;'}的记录">
                    <div class="profile">
                        <img src="{$item['user']['headimgurl']}" />
                        <div>
                            <span class="nickname">
                                {if $item['user']}
                                {php echo $item['user']['nickname'] ?: '&lt;匿名用户&gt;'}
                                {else}
                                    {php echo $item['user']['nickname'] ?: '&lt;匿名用户&gt;'}
                                {/if}
                            </span>
                            <div>
                                {if $item['user']['mobile']}
                                <span class="mobile" data-mobile="{$item['user']['mobile']}" title="点击复制"><i class="fa fa-mobile"></i> {$item['user']['mobile']}</span>
                                {/if}
                            </div>
                        </div>
                    </div>
                    </a>
                </td>
                <td>
                    <address>
                        <strong>{$item['name']}</strong><br>
                        {if $item['phone_number']}{$item['phone_number']}<br>{/if}
                        {if $item['location']}{$item['location']}<br>{/if}
                        {if $item['address']}{$item['address']}<br>{/if}
                    </address>
                    <div class="delivery">
                        <span class="name">{$item['delivery']['name']}</span> <span class="sn">{$item['delivery']['sn']}</span>
                    </div>
                </td>
                <td>
                    <div class="memo">
                        {$item['delivery']['memo']}
                    </div>
                </td>
                <td>
                    <div class="status text-center">
                        {if $item['status']}
                        <span class="finished">&lt;已完成&gt;</span>
                        {else}
                        <span class="text-muted">
                            &lt;未发货&gt;
                        </span>
                        {/if}
                    </div>
                </td>
                <td>
                    {$item['createtime_formatted']}
                </td>
                <td class="o">
                    <div class="operate">
                        <i class="fa fa-truck" data-op="lucky_delivery" title="物流信息"></i>
                    </div>
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
        <div class="pull-right">
        {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何记录！
        </div>
        {/if}
    </div>
</div>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js')}"], function (zovye) {
        zovye.enableOp();
        zovye.setApiUrl("{php echo $this->createWebUrl('account');}");
        zovye.op('delivery_save', function(self, next) {
            const form = self.closest('form');
            const id = form.find('input[name=id]').val();
            const deliveryName = form.find('input[name=deliveryName]').val();
            const deliverySN = form.find('input[name=deliverySN]').val();
            const memo = form.find('input[name=memo]').val();
            const status = form.find('input[name=status]:checked').val();
            next({id, deliveryName, deliverySN, memo, status, op: 'lucky_delivery', fn: 'save'}, function(res) {
                $('#modal-message').modal('hide');
                if (res && res.status) {
                    const tr = $('#flashLuckyLogs [data-id=' + id +']');
                    if (res.data.status) {
                        tr.find('.status').html(`<span class="finished">&lt;已完成&gt;</span>`);
                    } else {
                        tr.find('.status').html(`<span class="text-muted">&lt;未发货&gt;</span>`);
                    }
                    if (res.data.delivery) {
                        tr.find('.delivery .name').html(res.data.delivery.name);
                        tr.find('.delivery .sn').html(res.data.delivery.sn);
                        tr.find('.memo').html(res.data.delivery.memo);
                    }
                }
            });

        });
    })
    $(function() {
        $('#search-form').submit(function(){
            const url = $(this).attr("action");
            const keywords = $(this).find("input[name=keywords]").val();
            location.href = url + "&keywords=" + encodeURIComponent(keywords);

            return false;
        })
    })
</script>
{template 'common/footer'}