{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20211127');}
<style>
    .bar {
        cursor: default;
        background-color: rgb(158 158 158 / 10%);
        text-align: center;
        color: #fff;
        position: relative;
    }
    .bar .content {
        cursor: default;
        background-color: #4caf50;
        min-width: 3px;
    }
    .bar .text {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active">
        <a href="#">
            {if $account}
            <div class="profile">
                <img src="{$account['img']}">
                <span class="title">
                    <b>{$account['title']}</b>提交记录
                </span>
            </div>
            {/if}
        </a>
    </li>
</ul>
<div class="panel panel-default panel-first nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('account');}"><i class="fa fa-reply" title="返回"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $list}
        <table class="table" id="qrcodelist">
            <thead>
            <tr>
                <th>#</th>
                <th>用户</th>
                <th>设备</th>
                <th>正确率</th>
                <th>订单号</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                {loop $list $index $item}
                <tr data-id="{$item['id']}">
                    <td>{php echo $index + 1}</td>
                    <td>
                        <div class="profile">
                            <img src="{$item['user']['headimgurl']}">
                            <span class="title">
                                {$item['user']['nickname']}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div title="IMEI: {$item['device']['imei']}">
                            {$item['device']['name']}
                        </div>
                    </td>
                    <td>
                        <div class="bar" title="完成 {$item['result']['num']}/{$item['total']} 题">
                            <div class="content" style="width: {$item['percent']}%;">&nbsp;</div>
                            <span class="text">{$item['percent']}%</span>
                        </div>
                    </td>
                    <td>
                        <a href="{php echo $this->createWebUrl('order', ['orderNO' => $item['order']['orderNO']])}" title="查看订单" target="_blank">
                            {$item['order']['orderNO']}
                        </a>
                    </td>
                    <td>
                        {$item['createtime_formatted']}
                    </td>
                    <td class="operate">
                        <span title="查看详情">
                            <img src="{php echo MODULE_URL . 'static/img/questionnaire.svg'}" class="icon" data-op="viewDetail">
                        </span>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何记录！
        </div>
        {/if}
    </div>
</div>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20210716')}"], function (zovye) {
        zovye.enableOp();
        zovye.enableCopy();
        zovye.setApiUrl("{php echo $this->createWebUrl('account');}");
        zovye.op('viewDetail', function(self, next) {
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id});
        })
    });
</script>