<style>
    .all {
        overflow-y: auto;
        max-height: 450px
    }
    .question {
        padding: 0 20px;
        margin: 0 0 10px;
    }

    .question:not(:first-child) {
        margin-top: 10px;
    }

    .subject {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .subject .index {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        background-color: #4e9aff;
        color: white;
        border-radius: 5px;
    }

    .subject .title {
        margin-left: 5px;
        font-weight: bold;
    }

    .option {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    .box {
        width: 15px;
        height: 15px;
        box-shadow: 0 0 2px #ccc;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .single .box {
        border-radius: 50%;
    }

    .option span {
        margin-left: 10px;
    }

    .answer .box {
        background-color: #ccc;
    }

    .answer.checked .box {
        background-color: #4caf50;
    }

    .checked:not(.answer) .box {
        background-color: #f44336;
    }

    .question .circle {
        width: 5px;
        height: 5px;
        background-color: white;
        border-radius: 50%;
    }

    .question .text {
        width: calc(100% - 30px);
        line-height: 36px;
        padding: 0 10px;
        margin-left: 30px;
        margin-top: 10px;
        border-color: #e8e9eb;
        border-radius: 0;
        text-shadow: 0 0 0;
        color: #999!important;
        box-shadow: 0 0 0;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        height: 34px;
        font-size: 14px;
        overflow: hidden;
    }

    .question .tag {
        display: none;
        padding: 2px 7px;
        border: 1px solid #4caf50;
        background-color: #8bc34a26;
        margin-left: 10px;
        font-size: 12px;
        color: #4caf50;
        border-radius: 3px;
        cursor: default;
    }
    .passed .tag {
        display: block;
    }
</style>
<div class="all">
    {loop $questions $index $question}
    <div class="question{php echo in_array($question['id'], $result) ? ' passed':''}">
        <div class="subject">
            <div class="index">{php echo $index + 1}</div>
            <span class="title">{$question['title']}</span>
            <span class="tag">回答正确</span>
        </div>
        {if $question['type'] == 'choice'}
        <div class="options{php echo $question['multi'] ? ' multi':' single'}">
            {loop $question['options'] $i $option}
            <div class="option{php echo in_array($i, $question['answer']) ? ' answer':''}{php echo in_array($option['val'], (array)$answer[$question['id']]) ? ' checked':''}">
                <div class="box">
                    {if $question['multi']}
                    <svg t="1646121351169" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2049" width="16" height="16"><path d="M369.792 704.32L930.304 128 1024 223.616 369.984 896l-20.288-20.864-0.128 0.128L0 516.8 96.128 423.68l273.664 280.64z" fill="#ffffff" p-id="2050"></path></svg>
                    {else}
                    <div class="circle"></div>
                    {/if}
                </div>
                <span>{$option['text']}</span>
            </div>
            {/loop}
        </div>
        {/if}
        {if $question['type'] == 'text'}
        <div class="text {$question['constraints']}">
            {php echo strval($answer[$question['id']])}
        </div>
        {/if}
    </div>
    {/loop}
</div>