{if $m_all}
<table class="table table-bordered table-hover" style="margin-top:1em;text-align:center;" id="history_stats">
<thead>
 <tr class="active">
    <th style="text-align:center;">月份</th>
    <th style="text-align:center;">免费</th>
    <th style="text-align:center;">支付</th>
    <th style="text-align:center;">
        {php echo \zovye\App::isUserCenterEnabled()?'余额':'其它'}
    </th>
    <th style="text-align:center;">小计</th>
</tr>                           
</thead>
{loop $m_all $i $item}
{if is_numeric($i) }
{php $total = $item['f'] + $item['p'] + $item['b']}
{php $total_x = $total_x + $total;}
<tr  data-id="{$id}" data-month="{$i}">
   <td class="operate">
       {$i}月
       <i class="fa fa-line-chart" title="查看本月统计"></i>
    </td>
    <td>{$item['f']}</td>
    <td>{$item['p']}</td>
    <td>{$item['b']}</td>
    <td>{$total}</td>
</tr>
{/if}
{/loop}
<tr>
<td colspan="5">
    <div  class="pull-right">
        总计：{$total_x}
        {php $total_x = 0;}        
    </div>
</td> 
</tr>
</table>
{else}
<div style="text-align:center;color:#ccc;">
    暂时没有统计信息！
</div> 
{/if}