{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    [v-cloak] {
        display: none;
    }
    #month_stats_chart,#year_stats_chart {
        width: 100%;
        height: 450px;
    }
    .year_title,.month_title {
        font-weight: bolder;
    }
    .gray {
        color: lightgray;
        cursor: default;
        user-select: none;
    }
    .month_label {
        margin-right: 6px;
        cursor: pointer;
        padding: 0 3px 0 3px;
    }
    .month_label:not(.current):hover {
        background-color: coral;
        color: white;
    }
    .month_label.busy:hover {
        background-color: #9e9e9e;
        color: white;
    }
    .month_label.current {
        cursor: default;
        background-color: coral;
        color: white;
    }
    .year_label {
        margin-right: 6px;
        cursor: pointer;
        padding: 0 3px 0 3px;
    }
    .year_label:not(.current):hover {
        background-color: coral;
        color: white;
    }
    .year_label.busy:hover {
        cursor: default;
        background-color: #9e9e9e;
    }
    .year_label.current {
        cursor: default;
        background-color: coral;
        color: white;
    }
    .arrow-pre,.arrow-next {
        cursor: pointer;
        user-select: none;
    }
    .arrow-pre:active,.arrow-next:active {
        color: gray;
    }
    .arrow-pre:hover,.arrow-next:hover {
        font-weight: bold;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active">
        <a href="#">全部</a>
    </li>
</ul>
<div id="app" v-cloak>
    <div class="panel panel-default nav-tab-item panel-first">
        <div class="heading">
            <span class="operate">
                <div  class="pull-right">
                    <template v-for="y in year_list" v-if="year_list.length > 0">
                        <span v-text="y + '年'" class="year_label" :class="{'current': year == y}" @click="changeYear(y)"></span>
                    </template>
                    <i :class="{'fa': true,'fa-list': year_view == 'chart', 'fa-area-chart': year_view == 'form'}" @click="toggleChartView('year')" :title="year_view=='chart'?'切换到表格':'切换到图表'"></i>
                    <i class="fa fa-reply" title="返回" @click="back()"></i>
                </div>
            </span>
        </div>
        <div class="panel-body">
            <div v-show="!year_loading && (!year_data || year_data.length === 0) && year_view=='form'" class="text-center">
                <i class="fa fa-question-circle text-muted"></i> 暂时没有任何数据
            </div>
            <template v-show="year_data && year_data.length > 0">
                <div id="year_stats_chart" v-show="year_view=='chart'"></div>
                <div v-if="year_loading && year_view == 'form'" class="text-center">
                    <i class="fa fa-spinner fa-spin"></i> 正在加载中...
                </div>
                <div style="margin-top: 2em;" v-else>
                    <table class="table" v-show="year_view=='form' && year_data && year_data.length > 0">
                        <thead>
                            <th>#</th>
                            <th>日期</th>
                            <th>出货数量</th>
                        </thead>
                        <tbody>
                            <tr v-for="(e, i) in year_data">
                                <td v-text="i+1"></td>
                                <td v-text="e.m"></td>
                                <td v-text="e.order.total"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </template>
        </div>
    </div> 
    <div class="panel panel-default">
        <div class="heading">
            <span class="operate">
                <div class="pull-right">
                    <span class="month_title" v-text="month_title"></span>
                    <template v-for="m in month_list" v-if="month_list.length > 0">
                        <span v-text="m + '月'" class="month_label" :class="{'current': month == m}" @click="changeMonth(m)"></span>
                    </template>
                    <i :class="{'fa': true,'fa-list': month_view == 'chart', 'fa-area-chart': month_view == 'form'}" @click="toggleChartView('month')" :title="month_view=='chart'?'切换到表格':'切换到图表'"></i>
                </div>
            </span>
        </div>
        <div class="panel-body">
            <div v-show="(!month_data || month_data.length == 0) && !month_loading && month_view=='form'" class="center">
                <i class="fa fa-question-circle text-muted"></i> 暂时没有任何数据
            </div>
            <template v-show="month_data && month_data.length > 0">
                <div id="month_stats_chart" v-show="month_view=='chart'"></div>
                <div v-if="month_loading && month_view == 'form'" class="center">
                    <i class="fa fa-spinner fa-spin"></i> 正在加载中...
                </div>
                <div style="margin-top: 2em;" v-else>
                    <table class="table"  v-show="month_view=='form' && month_data && month_data.length > 0">
                        <thead>
                            <th>#</th>
                            <th>日期</th>
                            <th>出货数量</th>
                        </thead>
                        <tbody>
                            <tr v-for="(e, i) in month_data">
                                <td v-text="i+1"></td>
                                <td v-text="e.title"></td>
                                <td v-text="e.order.total"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </template>
        </div>
    </div>    
</div>

<script>
        const api_url = "{php echo $this->createWebUrl('account', ['id' => $account->getId()])}";
        const back_url = "{php echo $this->createWebUrl('account');}";
        require(["{php \zovye\url(false, JS_VUE_URL);}", "{php \zovye\url(false, JS_ECHARTS_URL);}"], function (Vue, EChart) {
            const colors = ['#5470C6', '#91CC75', '#EE6666'];
            const year_option = {
                color: colors,
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                grid: {

                },
                legend: {
                    data: ['出货数量']
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    data: []
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '商品',
                        min: 0,
                        position: 'left',
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: colors[1]
                            }
                        },
                        axisLabel: {
                            formatter: '{value}'
                        }
                    },
                ],
                series: [
                    {
                        name: '出货数量',
                        type: 'bar',
                        emphasis: {
                            focus: 'series'
                        },
                        yAxisIndex: 0,
                        data: [],
                    },
                ]
            };

            const month_option = {
                color: colors,
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                grid: {

                },
                legend: {
                    data: ['出货数量']
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    data: []
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '商品',
                        min: 0,
                        position: 'left',
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: colors[1]
                            }
                        },
                        axisLabel: {
                            formatter: '{value}'
                        }
                    },
                ],
                series: [
                    {
                        name: '出货数量',
                        type: 'bar',
                        emphasis: {
                            focus: 'series'
                        },
                        yAxisIndex: 0,
                        data: [],
                    },
                ]
            };

            new Vue({
                el: '#app',
                data: {
                    month_view: localStorage.getItem('stari_agent_mcv') || 'chart',
                    month_chart: null,
                    month_title: '',
                    month_data: [],
                    month_loading: false,
                    year_view: localStorage.getItem('stari_agent_ycv') || 'chart',
                    year_chart: null,
                    year_title: '',
                    year_data: [],
                    datetime: null,
                    year_loading: false,
                    month: null,
                    year: null,
                },
                mounted() {
                    this.getBriefData();
                    this.month_chart = EChart.init(document.getElementById("month_stats_chart"));
                    this.month_chart.setOption(month_option);
                    this.year_chart = EChart.init(document.getElementById("year_stats_chart"));
                    this.year_chart.setOption(year_option);
                    window.addEventListener('resize', () => {
                        this.month_chart.resize();
                        this.year_chart.resize();
                    })
                },
                computed: {
                    year_list() {
                        if (this.datetime) {
                            return Object.keys(this.datetime);
                        }
                        return [];
                    },
                    month_list() {
                        if (this.datetime && this.year) {
                            return this.datetime[this.year] || [];
                        }
                        return [];
                    }
                },
                watch: {
                    year_loading(v) {
                        if (this.year_chart) {
                            setTimeout(() => {
                                if (this.year_loading && new Date() - this.year_loading > 2000) {
                                    this.year_chart.showLoading();
                                } else {
                                    this.year_chart.hideLoading();
                                }
                            }, 2000);
                        }
                    },
                    month_loading(v) {
                        if (this.month_chart) {
                            setTimeout(() => {
                                if (this.month_loading && new Date() - this.month_loading > 2000) {
                                    this.month_chart.showLoading();
                                } else {
                                    this.month_chart.hideLoading();
                                }
                            }, 2000);
                        }
                    }
                },
                methods: {
                    back() {
                        window.location.href = back_url;
                    },
                    toggleChartView($w) {
                        if ($w === 'month') {
                            this.month_view = (this.month_view === 'chart' ? 'form' : 'chart');
                            localStorage.setItem('stari_agent_mcv', this.month_view);
                            Vue.nextTick(() => {
                                this.month_chart && this.month_chart.resize();
                            })
                        } else if ($w === 'year') {
                            this.year_view = (this.year_view === 'chart' ? 'form' : 'chart');
                            localStorage.setItem('stari_agent_ycv', this.year_view);
                            Vue.nextTick(() => {
                                this.year_chart && this.year_chart.resize();
                            })
                        }
                    },
                    changeMonth(m) {
                        if (!this.month_loading) {
                            this.month = parseInt(m);
                            this.getMonthData(this.month);
                        }
                    },
                    changeYear(y) {
                        if (!this.year_loading) {
                            this.year = parseInt(y);
                            this.getYearData(this.year);
                            if (this.month_list.length > 0) {
                                this.month = this.month_list[this.month_list.length - 1];
                                this.getMonthData(this.month);
                            } else {
                                this.month = null;
                            }
                        }
                    },
                    getMonthOfYear(year, index = 0) {
                        if (index < this.month_list.length) {
                            const month = this.month_list[index];
                            $.get(api_url, { op: 'statistics_year', year, month }).then(res => {
                                this.year_loading = new Date();
                                if (res.status) {
                                    return res.data || [];
                                } else {
                                    this.year_loading = false;
                                    return [];
                                }
                            }).then(data => {
                                this.initYearChart(data);
                                this.getMonthOfYear(year, index + 1);
                            });
                        } else {
                            this.year_loading = false;
                        }
                    },
                    getYearData(year = '') {
                        if (!this.year_loading) {
                            this.year_loading = new Date();
                            this.resetYearChart();
                            this.getMonthOfYear(year);
                        }
                    },
                    getDayOfMonth(month, index = 1) {
                        if (index < 32) {
                            $.get(api_url, { op: 'statistics_month', year: this.year, month, day:index }).then(res => {
                                this.month_loading = new Date();
                                if (res.status) {
                                    return res.data || [];
                                } else {
                                    this.month_loading = false;
                                    return [];
                                }
                            }).then(data => {
                                this.initMonthChart(data);
                                this.getDayOfMonth(month, index + 1);
                            });
                        } else {
                            this.month_loading = false;
                        }
                    },
                    getMonthData(month = '') {
                        if (!this.month_loading) {
                            this.month_loading = new Date();
                            this.resetMonthChart();
                            this.getDayOfMonth(month);
                        }
                    },
                    getBriefData() {
                        $.get(api_url, { op: 'statistics_brief' }).then(res => {
                            if (res && res.status) {
                                return res.data || [];
                            }
                            return [];
                        }).then(data => {
                            this.datetime = data;
                            if (!this.year && this.year_list.length > 0) {
                                this.changeYear(this.year_list[this.year_list.length - 1]);
                            }
                        })
                    },
                    resetYearChart() {
                        this.year_data = [];
                        year_option.xAxis.data = [];
                        year_option.series[0].data = [];
                        this.year_chart && this.year_chart.setOption(year_option, true);
                    },
                    initYearChart(data) {
                        if (data['title']) {
                            this.year_title = data['title'];
                        }
                        if (data['year']) {
                            this.year_list = data['year'];
                        }
                        for (const key in (data['list'] || {})) {
                            this.year_data.push(data['list'][key]);
                            year_option.xAxis.data.push(key);
                            year_option.series[0].data.push(data['list'][key]['order']['total']);
                        }
                        this.year_chart.setOption(year_option, true);
                    },
                    resetMonthChart() {
                        this.month_data = [];
                        month_option.xAxis.data = [];
                        month_option.series[0].data = [];
                        this.month_chart && this.month_chart.setOption(month_option, true);
                    },
                    initMonthChart(data) {
                        if (data['title']) {
                            this.month_title = data['title'];
                        }
                        for (const key in (data['list'] || {})) {
                            this.month_data.push(Object.assign({}, {'title': key}, data['list'][key]));
                            month_option.xAxis.data.push(key);
                            month_option.series[0].data.push(data['list'][key]['order']['total']);
                        }
                        this.month_chart.setOption(month_option, true);
                    }
                }
            })
        })
    </script>
{template 'common/footer'}