{if $m_all}
<table class="table table-bordered table-hover" style="margin-top:1em;text-align:center;" id="history_stats">
<thead>
 <tr class="active">
    <th style="text-align:center;">月份</th>
    <th style="text-align:center;">免费</th>
    <th style="text-align:center;">支付</th>
    <th style="text-align:center;">小计</th>
    <th class="text-center">操作</th>
</tr>                           
</thead>
{loop $m_all $i $item}
{if is_numeric($i) }
{php $total = $item['f'] + $item['p']}
{php $total_x = $total_x + $total;}
<tr  data-id="{$id}" data-month="{$i}">
   <td class="operate">
       {$i}月
    </td>
    <td>{$item['f']}</td>
    <td>{$item['p']}</td>
    <td>{$total}</td>
    <td class="operate">
        <i class="fa fa-area-chart fa-fw" data-op="showMonthStats"  title="查看{$i}的统计"></i>
    </td>
</tr>
{/if}
{/loop}
<tr>
<td colspan="6">
    <div  class="pull-right">
        总计：{$total_x}
        {php $total_x = 0;}        
    </div>
</td> 
</tr>
</table>
{else}
<div class="text-center text-muted">
    <i class="fa fa-question-circle"></i> 暂时没有统计信息！
</div> 
{/if}