{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    [data-op] {
        cursor: pointer;
    }
    .val:hover {
        color: #2196f3;
        text-decoration: underline;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active"><a href="#">车队成员</a></li>
</ul>
<div class="panel panel-default panel-first">
    <div class="panel-body">
        {if $list}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="center">#</th>
                <th class="center">名称</th>
                <th>用户</th>
                <th>手机号码</th>
                <th class="center">帐户余额</th>
                <th class="center">透支额度</th>
                <th class="center">备注</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $index $member}
            <tr data-id="{$member['id']}">
                <td class="center">{php echo $index + 1}</td>
                <td class="center">{$member['name']}</td>
                <td>
                    {if $member['user']}
                    <div class="profile">
                        <img src="{$member['user']['headimgurl']}" />
                        <div>
                                <span class="nickname">
                                    {php echo $member['user']['nickname']?:'&lt;匿名用户&gt;'}
                                </span>
                            <div>
                                {if $member['user']['mobile']}
                                <span class="mobile" data-mobile="{$member['user']['mobile']}" title="点击复制"><i class="fa fa-mobile"></i> {$member['user']['mobile']}</span>
                                {/if}
                            </div>
                        </div>
                    </div>
                    {/if}
                </td>
                <td>{$member['mobile']}</td>
                <td class="center">
                    {php echo number_format($member['balance'] / 100, 2, '.', '')}
                </td>
                <td class="center" data-user="{$member['user']['id']}">
                    <div data-op="editCredit">
                        <span class="val">
                            {php echo number_format($member['credit'] / 100, 2, '.', '')}
                        </span>
                    </div>
                </td>
                <td class="center">
                    <div class="remark">
                            <span>
                                {$member['remark']}
                            </span>
                    </div>
                </td>
                <td>{$member['createtime_formatted']}</tr>
            </tr>
            {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何成员！
        </div>
        {/if}
    </div>
</div>

<script>
    const api_url = "{php echo $this->createWebUrl('team');}";
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20210717')}"], function (zovye) {
        zovye.enableOp();
        zovye.enableCopy('mobile');
        zovye.setApiUrl(api_url);
        zovye.op('editCredit', function(self, next) {
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id});
        });
        zovye.op('saveCredit', function(self, next) {
            const id = self.closest('[data-id]').data('id');
            const val = $('input[name=price]').val();
            next({id, val}, function() {
                $('[data-user='+id+'] .val').html(val);
                $('#modal-message').modal('hide');
            })
        });
    });

</script>
{template 'common/footer'}