{if $data}
<div style="min-width:700px;min-height:400px;width:100%;height:100%;" id="{$chartid}">
</div>
<script type="text/javascript">
   require(["{php \zovye\url(false, JS_ECHARTS_URL);}"], function(echarts){
        const chart = echarts.init(document.getElementById("{$chartid}"));
        const option = JSON.parse('{php echo json_encode($data);}');
        chart.setOption(option);
        window.addEventListener("resize", function () {
            chart.resize();
        });
    })
</script>
{else}
<div class="text-center text-muted">
    暂时没有统计数据！
</div> 
{/if}