{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    table#list th,table#list td {
        text-align: center;
    }
    .panel-body {
        text-align: center;
    }
    .panel-body .loading{
        color: gray;
    }
    #stats {
        height: 269px;
    }
    #agents_chart, #accounts_chart, #devices_chart {
        height: 440px;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation"  class="active"><a href="#">首页</a></li>
    {if $commission_enabled}
    <li role="presentation" ><a href="{php echo $this->createWebUrl('order', array('op'=>'stats'));}">营收统计</a></li>
    <li role="presentation" ><a href="{php echo $this->createWebUrl('withdraw', array('op'=>'stats'));}">提现统计</a></li>
    <li role="presentation" ><a href="{php echo $this->createWebUrl('order', array('op'=>'export'));}">订单导出</a></li>
    <li role="presentation" ><a href="{php echo $this->createWebUrl('agent', array('op'=>'commissionExport'));}">佣金明细</a></li>
    <li role="presentation" ><a href="{php echo $this->createWebUrl('account', array('op'=>'platformStats'));}">平台分成</a></li>
    {/if}
</ul>
<div class="panel panel-default panel-first nav-tab-item">
    <div class="panel-body" id="stats">
        <span class="loading"><i class="fa fa-spinner fa-pulse"></i> 正在加载...</span>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" id="agents_chart">
        <span class="loading"><i class="fa fa-spinner fa-pulse"></i> 正在加载...</span>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" id="accounts_chart">
        <span class="loading"><i class="fa fa-spinner fa-pulse"></i> 正在加载...</span>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" id="devices_chart">
        <span class="loading"><i class="fa fa-spinner fa-pulse"></i> 正在加载...</span>
    </div>
</div>

<script>
    $(function(){
        const url = "{$url}";
        $.getJSON(url, {'op': 'stats'}).then(function(res) {
            if (res && res.status && res.data && res.data.content) {
                $('#stats').html(res.data.content);
            }
        })
        $.getJSON(url, {'op': 'agents_chartdata'}).then(function(res){
            if (res && res.status && res.data && res.data.content) {
                $('#agents_chart').html(res.data.content);
            }
        })
        $.getJSON(url, {'op': 'accounts_chartdata'}).then(function(res){
            if (res && res.status && res.data && res.data.content) {
                $('#accounts_chart').html(res.data.content);
            }
        })
        $.getJSON(url, {'op': 'devices_chartdata'}).then(function(res){
            if (res && res.status && res.data && res.data.content) {
                $('#devices_chart').html(res.data.content);
            }
        })
    })
</script>

{template 'common/footer'}