{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
<style>
    [v-cloak] {
        display: none;
    }

    .device-list {
        position: relative;
    }

    .year.active {
        font-weight: bolder;
    }

    .operate .btn {
        padding: 0;
        border: 0;
    }

    .toolbar {
        display: flex;
        align-items: center;
    }

    .toolbar .year {
        cursor: pointer;
        text-decoration: underline;
        margin-left: 3px;
        color: #ccc;
    }

    .toolbar .year:hover {
        color: #3f51b5;
    }

    .toolbar .year.active {
        color: #3f51b5;
    }

    #app .toolbar .agent {
        float: right;
        width: unset;
        overflow: hidden;
    }

    #app .toolbar .agent img {
        width: 30px;
        height: 30px;
        left: 0;
    }
    
    #app table .agent {
        cursor: pointer;
    }

    #app .device-total {
        cursor: pointer;
    }

    #app .device-total:hover {
        color: #3f51b5;
    }

    #app .summary {
        float: right;
    }

    #app .date-title {
        color: #ccc;
    }

    #app .date-title.active {
        color: #3f51b5;
    }

    #app .sort:not(.desc) {
        cursor: pointer;
    }

    #app .desc::after {
        content: "\f0d7";
        color: #FF5722;
        margin-left: 3px;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation"><a href="{php echo $this->createWebUrl('homepage', array('op'=>'default'));}">首页</a></li>
    <li role="presentation" class="active"><a href="#">排行榜</a></li>
    <li role="presentation"><a href="{php echo $this->createWebUrl('order', array('op'=>'stats'));}">营收统计</a></li>
    <li role="presentation"><a href="{php echo $this->createWebUrl('withdraw', array('op'=>'stats'));}">提现统计</a>
    </li>
    <li role="presentation"><a href="{php echo $this->createWebUrl('order', array('op'=>'export'));}">订单导出</a></li>
    <li role="presentation"><a
            href="{php echo $this->createWebUrl('agent', array('op'=>'commission_export'));}">收入明细</a></li>
    <li role="presentation"><a
            href="{php echo $this->createWebUrl('account', array('op'=>'platformStats'));}">平台分成</a></li>
</ul>
{if $years}
<div id="app" v-cloak>
    <div class="panel panel-default nav-tab-item">
        <div class="heading">
            <div class="operate toolbar">
                <div class="profile agent selected" style="position:relative" v-if="agent">
                    <img :src="agent.avatar">
                    <span v-text="agent.name"></span>
                    &nbsp;
                </div>
                <div>
                    <span v-for="y in yearList" class="year" :class="{'active': year == y}" :title="y+'年'"
                          @click="changeYear(y)">
                        {{y}}
                    </span>
                </div>
                <div>
                    <input name="datelimit[start]" type="hidden" value="{php echo $s_start_date}"/>
                    <input name="datelimit[end]" type="hidden" value="{php echo $s_end_date}"/>
                    <button class="btn btn-default daterange daterange-date" type="button">
                    <span class="date-title" :class="{'active': !year}">
                        {if empty($s_start_date) && empty($s_end_date)}
                        {else}
                        {$s_start_date} 至 {$s_end_date}
                        {/if}
                    </span> <i class="fa fa-calendar"></i>
                    </button>
                </div>
                <div>
                    <i class="fa fa-reply" title="返回" @click="back()" v-if="agent"></i> 
                    <i class="fa fa-exchange" :title="view === 'agent' ? '查看设备排行榜':'查看代理商排行榜'" @click="change" v-else></i>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="text-center text-muted" v-show="loading">
                <i class="fa fa-question-circle"></i> 正在加载中...
            </div>
            <table class="table table-bordered" id="list" v-if="(view === 'agent') && !loading">
                <thead>
                <tr class="active">
                    <td class="center">#</td>
                    <td>代理商</td>
                    <td class="center" >设备总数</td>
                    <td class="center">
                        <span :class="{'sort': true, 'fa desc': sort === 'total'}" @click="sort='total'">订单总数</span>
                    </td>
                    <td class="center">
                        <span :class="{'sort': true, 'fa desc': sort === 'price'}" @click="sort='price'">订单金额</span>
                    </td>
                    <td class="center">
                        <span :class="{'sort': true, 'fa desc': sort === 'amount'}" @click="sort='amount'">
                            {if \zovye\App::isFuelingDeviceEnabled()}
                            加注数量(升)
                            {else}
                            出货数量
                            {/if}
                        </span>
                    </td>
                </tr>
                </thead>
                <tr v-for="(item, index) in agentList.list">
                    <td class="center">{{index + 1}}</td>
                    <td>
                        <div v-if="item.agent" title="查看代理商设备排行榜" @click="search(item.agent)">
                            <div class="profile agent selected" style="position:relative">
                                <img :src="item.agent.avatar">
                                <span v-text="item.agent.name"></span>
                            </div>
                        </div>
                    </td>
                    <td class="center">
                        <span class="device-total" @click="search(item.agent)">
                        {{item.devices_total}}
                        </span>
                    </td>
                    <td class="center">
                        <span class="order-total">
                            {{item.order_total}}
                        </span>
                    </td>
                    <td class="center">
                        {{item.price}}
                    </td>
                    <td class="center">
                        {{item.amount}}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="summary" v-if="agentList.summary">
                            <div class="item">
                                订单合计：{{agentList.summary.order}}
                            </div>
                            <div class="item">
                                金额合计：¥ {{agentList.summary.price}}
                            </div>
                            <div class="item">
                                数量合计：{{agentList.summary.amount}}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="device-list" v-if="(agent || view === 'device') && !loading">
                <table class="table table-bordered" id="list">
                    <thead>
                    <tr class="active">
                        <td class="center">#</td>
                        <td>设备</td>
                        <td>IMEI</td>
                        <td class="center">
                            <span :class="{'sort': true, 'fa desc': sort === 'total'}" @click="sort='total'">
                                订单总数
                            </span>
                        </td>
                        <td class="center">
                            <span :class="{'sort': true, 'fa desc': sort === 'price'}" @click="sort='price'">
                                订单金额
                            </span>
                        </td>
                        <td class="center">
                            <span  :class="{'sort': true, 'fa desc': sort === 'amount'}" @click="sort='amount'">
                                {if \zovye\App::isFuelingDeviceEnabled()}
                                加注数量(升)
                                {else}
                                出货数量
                                {/if}
                            </span>
                        </td>
                    </tr>
                    </thead>
                    <tr v-for="(item, index) in deviceList.list">
                        <td class="center">{{index + 1}}</td>
                        <td>
                            <div v-if="item.device">
                                {{item.device.name}}
                            </div>
                        </td>
                        <td>
                            <div v-if="item.device">
                                {{item.device.imei}}
                            </div>
                        </td>
                        <td class="center">
                            <span class="order-total">
                                {{item.order_total}}
                            </span>
                        </td>
                        <td class="center">
                            {{item.price}}
                        </td>
                        <td class="center">
                            {{item.amount}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="summary" v-if="deviceList.summary">
                                <div class="item">
                                    订单合计：{{deviceList.summary.order}}
                                </div>
                                <div class="item">
                                    金额合计：¥ {{deviceList.summary.price}}
                                </div>
                                <div class="item">
                                    数量合计：{{deviceList.summary.amount}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{else}
<div class="panel panel-default nav-tab-item">
    <div class="panel-body">
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时没有数据！
        </div>
    </div>
</div>
{/if}

<script>
    const vuejsUrl = "{php \zovye\url(false, JS_VUE_URL);}";
    const apiUrl = "{$api_url}";
    require(['jquery', 'util', vuejsUrl, "daterangepicker"], function ($, util, Vue) {
        new Vue({
            el: "#app",
            data: {
                loading: false,
                start: '{$s_start_date}',
                end: '{$s_end_date}',
                sort: 'price',
                years: JSON.parse(`{php echo json_encode($years)}`),
                agentList: {},
                deviceList: {
                    years: [],
                },
                year: null,
                agent: null,
                view: 'agent',
            },
            watch: {
                loading(v) {
                    if (v) {
                        util.loading();
                    } else {
                        util.loaded();
                    }
                },
                sort() {
                    this.reload();
                },
                view() {
                    this.reload();
                },
                year() {
                    this.reload();
                },
            },
            computed: {
                yearList() {
                    if (this.deviceList.years.length > 0) {
                        return this.deviceList.years;
                    }
                    return this.years;
                }
            },
            mounted() {
                this.initDateCtrl();
                this.getAgentList(this.start, this.end);
            },
            methods: {
                back() {
                    this.agent = null;
                    this.view = 'agent';
                    if (this.year) {
                        this.getAgentList(this.year, this.year);
                    } else {
                        this.getAgentList(this.start, this.end);
                    }
                },
                change() {
                    if (this.agent) {
                        this.back();
                        return;
                    }
                    this.view = this.view === 'agent' ? 'device' : 'agent';
                },
                reload() {
                    if (this.agent) {
                        if (this.year) {
                            this.getDeviceList(this.agent.id, this.year, this.year);
                        } else {
                            this.getDeviceList(this.agent.id, this.start, this.end);
                        }
                    } else {
                        if (this.view === 'agent') {
                            if (this.year) {
                                this.getAgentList(this.year, this.year);
                            } else {
                                this.getAgentList(this.start, this.end);
                            }                            
                        } else {
                            if (this.year) {
                                this.getDeviceList(0, this.year, this.year);
                            } else {
                                this.getDeviceList(0, this.start, this.end);
                            }
                        }
                    }
                },
                getAgentList(begin, end) {
                    const self = this;
                    self.loading = true;

                    self.agentList = {};
                    self.deviceList = { years:[]};
                    $.getJSON(apiUrl, {fn: 'agent', begin, end, sort: self.sort}).then(res => {
                        if (res && res.status) {
                            self.agentList = res.data;
                            self.begin = res.data.begin;
                            self.end = res.data.end;
                            self.sort = res.data.sort;
                            if (self.begin && self.end) {
                                $('.date-title').text(self.begin + ' 至 ' + self.end)
                            } else {
                                $('.date-title').text('')
                            }
                        }
                        self.loading = false;
                    })
                },
                changeYear(year) {
                    this.year = year;
                    $('.daterangepicker .ranges .active').removeClass('active');
                },
                search(agent) {
                    if (agent) {
                        this.agent = agent;
                        this.view = 'device';
                        if (this.year) {
                            this.getDeviceList(agent.id, this.year, this.year);
                        } else {
                            this.getDeviceList(agent.id, this.start, this.end);
                        }
                    }
                },
                getDeviceList(id, begin, end) {
                    const self = this;
                    self.loading = true;
                    self.deviceList = {
                        years: [],
                    };
                    $.getJSON(apiUrl, {fn: 'device', id, begin, end, sort: this.sort}).then(res => {
                        if (res && res.status) {
                            self.deviceList = res.data;
                            self.sort = res.data.sort;
                        }
                        self.loading = false;
                    })
                },
                initDateCtrl() {
                    const self = this;
                    $(".daterange.daterange-date").each(function () {
                        const elm = this;
                        $(this).daterangepicker({
                            startDate: $(elm).prev().prev().val() || moment("不限", "Y"),
                            endDate: $(elm).prev().val() || moment("不限", "Y"),
                            format: "YYYY-MM-DD",
                            clear: 1
                        }, function (start, end) {
                            self.year = null;
                            start = start.toDateStr().indexOf("0000-01-01") != -1 ? "" : start.toDateStr();
                            end = end.toDateStr().indexOf("0000-01-01") != -1 ? "" : end.toDateStr();
                            const html = (start === "" ? "" : start) + (start === "" && end === "" ? "" : (" 至 " + end))
                            $(elm).find(".date-title").html(html);
                            $(elm).prev().prev().val(start);
                            $(elm).prev().val(end);
                            self.start = start;
                            self.end = end;
                            self.reload();
                        })
                    })
                }
            }
        })
    })
</script>
{template 'common/footer'}