#devicelist .device-qrcode {
    position: relative;
}
#devicelist .devicename {
    position: relative;
}
#devicelist .address {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 999;
    padding: 6px 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    overflow: hidden;
    left: 60px;
    line-height: 2em;
    transition: all 0.3s;
    box-shadow: 5px 5px 1px rgb(158 158 158 / 50%);
}
#devicelist .devicename:hover .address {
    display: flex;
}
#devicelist .address .li {
    margin: 6px;
    width: 100%;
    text-align: left;
}
#devicelist .address .title {
    font-weight: 800;
    padding: 3px 6px;
    color: #fff;
}
#devicelist .address .web.title {
     background: #4caf50;
}
#devicelist .address .agent.title {
     background: #ffc107;
}
#devicelist .address .addr {
    border-bottom: 1px solid #000;
    width: 100%;
}
#devicelist i.allowed {
    color:green;
}
#devicelist td.status {
    transition: all 1s;
}
#devicelist .app {
    width: 2em;
    cursor: pointer;
    position: relative;
}
#devicelist .status:hover .app .devcie-detail {
    display: flex;
}
#devicelist .app .devcie-detail {
    cursor: default;
    position: absolute;
    z-index: 99;
    overflow: hidden;
    background-color: #fff;
    padding: 16px;
    border: 1px solid #9E9E9E;
    display: none;
    flex-direction: column;
    min-width: 300px;
    top: 20px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}
#devicelist .app .devcie-detail .detail-seg {
    text-align: start;
    margin: 10px 0;
    white-space: nowrap;
}
#devicelist .app .devcie-detail .detail-seg .title{
    font-weight: bold;
}
#devicelist .devcie-detail .bar{
    display: inline-block;
    width: 130px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    text-align: center;
    vertical-align: top;
    font-size: smaller;
    overflow: hidden;
}
#devicelist .devcie-detail .sig div{
    color: #fff;
    background: #009688;
}
#devicelist .devcie-detail .qoe div{
    color: #fff;
    background: #ff5722;
}
#devicelist .app.loading{
    color: rgba(0, 0, 0, .1);
    display: none;
}
#devicelist .device.loading{
    color: rgba(0, 0, 0, .1);
    display: none;
}
#devicelist .status i.loading{
    color: rgba(0, 0, 0, .6);
}
#devicelist tr .getway {
    visibility: hidden;
    white-space: nowrap;
}
#devicelist tr:hover .getway{
    visibility: visible;
}
#devicelist tr:hover .getway i {
    color: #ccc;        
}
#devicelist [data-url] {
    cursor: pointer;
}
#devicelist td.sat{
    width: 15em;
    font-size: 1em;
}
#devicelist .status {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}
#devicelist .devicename {
    cursor: default
}
#devicelist .devicename img {
    width: 15px;
}
#devicelist .tags {
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
#devicelist .first-tag {
    position: relative;
}
#tagslist {
    display: flex;
    z-index: 99;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#devicelist .tagslist {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    width: max-content;
    max-width: 300px;
    padding: 10px;
    z-index: 99;
    background: #fff;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    top: 36px;
    left: 0;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}
#devicelist .tags-list:hover .tagslist {
    display: flex;
}
.zovye_qrcode:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -2px, 0);
}
#devicelist .imei img.qrcode {
    width: 1.5em;
    height: 1.5em;
}
#devicelist sup.bluetooth {
    color: #2196f3;
}
#devicelist sup.vdevice {
    color: #4caf50;
}    
#devicelist .status .error {
    color: red;
}
.zovye_qrcode:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -2px, 0);
}
table#cargolanes th, table#cargolanes td{
    text-align: center;
    vertical-align: middle;
}
table#cargolanes div.loading{
    vertical-align: middle;
}
table#cargolanes div.loading i{
    font-size: 1em;
    color: #4CAF50;
}
[v-cloak] {
    display: none;
}
.tag-page-btn {
    vertical-align: middle;
    padding: 6px;
    cursor: pointer;
}
.tag-page-btn[disabled] {
    color: #ccc;
    cursor: default;
}
#other label {
    cursor: pointer;
    padding-left: 6px;
}
.badge {
    margin-left: 6px;
    background-color: #009688;
}
.init-loading {
    text-align: center;
    color: gray;
    margin: 10%;
}
.maintance {
    color: #f44336;
}
.busy .operate i {
    visibility: hidden;
}
.busy i {
    color: #ccc;
}
.operate [data-op="showMonthStats"],[data-op=setNormal]  {
    cursor: pointer;
}
span.card_status {
    padding-left: 6px;
    color: rgb(76 175 80 / 48%);
    cursor: pointer;
}
span.card_status:hover {
    color: #4caf50;
}
span.card_status:active i {
    transform: translate3d(0, 1px, 0);
}
#sms_card_status tr td:first-child {
    font-weight: 800;
}
.door i {
    border: 1px solid #fff;
    background: #8bc34a;
    color: #fff;
    font-style: normal;
    padding: 0 3px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.door i:hover {
    border-color: #9e9e9e;
    border-bottom: 4px solid #9e9e9e;
}
.door i:active {
    background-color: #4CAF50;
    color: #8bc34a;
}
.offline tr.property {
    color: #9e9e9e;
}
.val {
    color: #9e9e9e;
    font-style: italic;
    margin-right: 3px;
}
.charging .val {
    color: #333;
}
.charging .charger-status .title {
    color: #ffc107;
}
.idle .charger-status .title {
    color: #4CAF50;
}
.malfunction .charger-status .title {
    color: #f44336;
}

.opreate i[data-op=start] {
    color: #ffc107;
}

.opreate i[data-op=stop] {
    color: #f44336;
}