<form  class="form-horizontal" method="post" id="wxAppForm">
    <div class="form-group">
        <label for="wxAppName" class="col-md-2 control-label">名称</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="wxAppName" name="wxAppName" value="{php echo $wxapp?$wxapp->getName() : ''}" required>
            <span class="help-block">* 小程序名称</span>
        </div>
    </div>
    <div class="form-group">
        <label for="wxAppKey" class="col-md-2 control-label">AppID</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="wxAppKey" name="wxAppKey" value="{php echo $wxapp?$wxapp->getKey() : ''}" required>
            <span class="help-block">* 微信AppID(小程序ID)</span>
        </div>
    </div>
    <div class="form-group">
        <label for="wxAppSecret" class="col-md-2 control-label">AppSecret</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="wxAppSecret" name="wxAppSecret" value="{php echo $wxapp?$wxapp->getSecret() : ''}" required>
            <span class="help-block">* 微信AppSecret(小程序密钥)</span>
        </div>
    </div>
    <div class="form-group pull-right">
        <div class="col-md-12">
            {if $wxapp}
            <input type="hidden" name="id" value="{php echo $wxapp?$wxapp->getId() : 0}">
            {/if}
            <button type="button" class="btn btn-primary" onclick="saveWxApp()">
                {if $wxapp}保存{else}创建{/if}
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
        </div>
    </div>
</form>
