<style>
    #addGoodsForm fieldset[disabled] label, #addGoodsForm fieldset[disabled] input, #addGoodsForm fieldset[disabled] table{
        color: gray;
    }
    .modal-open #material-Modal{
        z-index: 9999;
    }
    #goodslist .way span {
        background-color: gray;
        color: #fff;
        padding: 3px 6px;
        cursor: default;
        width: 40px;
        display: inline-block;
        margin: 1px;
    }
    #goodslist .way span:not(.allowed) {
        background-color: #ccc;
        cursor: not-allowed;
    }
    #goodslist .way span.free.allowed {
        background-color: #4CAF50;
    }
    #goodslist .way span.pay.allowed {
        background-color: #FF5722;
    }
    #goodslist th:not(:nth-child(2)), #goodslist td:not(:nth-child(2)) {
        text-align: center;
        vertical-align: middle;
    }
    #goodslist .lottery {
        color: coral;
    }
    #goodslist a .profile{
        cursor: pointer;
    }
    #goodslist .goods img {
        width: 30px;
    }
    #search-form {
        display: none;
    }
    #goodslist tr:hover .index {
        display: none;       
    }
    #goodslist tr .check {
        display: none;
        color: green;       
    }
    #goodslist tr td:nth-child(2) {
        cursor: pointer;
    }
    #goodslist tr:hover td:nth-child(2) {
        color: green;
    }
    #goodslist tr:hover .check {
        display: inline;
    }
</style>
{template "web/goods/nav"}
    <div class="panel panel-default nav-tab-item">
        <div class="heading">
        </div>
        <div class="panel-body">
            <div id="search-bar">
                <div class="text-input">
                    <span>根据条件搜索商品 ...</span>
                    <span class="button"><i class="fa fa-search"></i>&nbsp;搜索</span>
                </div>
            </div>
            <div id="search-form">
                <form action="{php echo $this->createWebUrl('goods', array('op'=>'default'));}" method="post">
                    <div class="form-group">
                        <label for="agent_search_result" class="col-md-2 control-label">所属代理商</label>
                        <div class="col-md-5">
                            <select name="agentId" id="agent_search_result" style="width:100%;">
                                <option value="" {if empty($s_agentId)} selected="selected"{/if}>&lt;不限&gt;</option>
                                <option value="-1" {if $s_agentId == -1} selected="selected"{/if}>&lt;平台&gt;</option>
                                {if $s_agent}
                                <option value="{$s_agent['id']}" selected="selected">{$s_agent['name']}{if $s_agent['mobile']}，手机号码：{$s_agent['mobile']}{/if}</option>
                                {/if}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="keyword_agent" id="keyword_agent" placeholder="请输入手机号码或者名称查找...">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default" type="button" id="search_agent" title="搜索代理商"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">关键字</label>
                        <div class="col-md-6">
                            <input name="s_keywords"  class="form-control" type="text" value="{$s_keywords}" style="width: 100%;"/>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;搜索</button>
                            <button class="btn btn-default btn-close" title="清除搜索"><i class="fa fa-ban" style="color: gray;"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            {if $goods_list}
            <table class="table" id="goodslist">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>单位</th>
                    <th>图片</th>
                    <th>领取方式</th>
                    <th>单价</th>
                    <th>所属代理商</th>
                    <th style="text-align:center;">创建时间</th>
                </tr>
                </thead>
                <tbody>
                {loop $goods_list $index $item}
                <tr data-goods="{$item['id']}" data-name="{$item['name']}" data-title="{$item['unit_title']}" data-price="{php echo number_format($item['price'] / 100, 2)}">
                    <td style="width:40px;">
                        <span class="index">
                            {php echo $index + 1}
                        </span>
                        <span class="check">
                            <i class="fa fa-check"></i>
                        </span>                        
                    </td>
                    <td class="name">
                        {$item['name']}
                        {if $item['lottery']}
                        <span class="lottery" title="固定货道商品">
                            <i class="fa fa-fw fa-ticket"></i>
                        </span>
                        {/if}
                    </td>
                    <td>
                        {$item['unit_title']}
                    </td>
                    <td class="goods">
                        <img src="{$item['img']}" />
                    </td>
                    <td class="way">
                        <span class="free{if $item['allowFree']} allowed{/if}">关注</span>
                        <span class="pay{if $item['allowPay']} allowed{/if}">支付</span>
                    </td>
                    <td>
                        <span{if !$item['allowPay']} style="color:#666;"{/if}>
                        {if $item['allowPay']}
                        {$item['price_formatted']}
                        {else}
                        <del>{$item['price_formatted']}</del>
                        {/if}
                        </span>
                    </td>
                    <td>
                        {if $item['agent']}
                        {if empty($s_agent) || $s_agent['id'] != $item['agent']['id']}
                        <a filter data-name="agentId" data-val="{$item['agent']['id']}" href="{php echo $this->createWebUrl('goods', ['op'=>'goods', 'agentId'=>$item['agent']['id']]);}">
                            <div class="agent" title="点击查看{$item['agent']['name']}全部商品" style="display:inline-block;">
                                {else}
                                <div class="agent" style="display:inline-block;">
                                    {/if}
                                    <div class="profile" style="background-color:{$item['agent']['level']['clr']}">
                                        <img src="{$item['agent']['headimgurl']}">
                                        <div class="nickname">{php echo cutstr($item['agent']['name'], 10, true);}</div>
                                    </div>
                                </div>
                                {if empty($s_agent) || $s_agent['id'] != $item['agent']['id']}
                        </a>
                        {/if}
                        {else}
                            {if $s_agentId != -1}
                            <a filter data-name="agentId" data-val="-1" href="{php echo $this->createWebUrl('goods', ['op'=>'goods', 'agentId'=>-1]);}" title="点击查看所有平台商品">
                                <span style="color:gray;">&lt;平台&gt;</span>
                            </a>
                            {else}
                            <span style="color:gray;">&lt;平台&gt;</span>
                            {/if}                        
                        {/if}
                    </td>
                    <td style="text-align:center;">
                        {$item['createtime_formatted']}
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
            <div class="pull-right">
                {$pager}
            </div>
            {else}
            <div class="text-center text-muted">
                暂时还没有任何商品！
            </div>
            {/if}
        </div>
    </div>
<script>
    //搜索
    backer = parseInt("{$backer}");
    agentId = parseInt("{$s_agent['id']}");
    if (backer) {
        $('#search-bar').trigger('click');
    }
</script>