<form class="form-horizontal" id="addGoodsForm">
    {if !isset($goods) || $goods['id'] > 0}
    <div class="form-group">
        <label for="find_agent_select" class="col-md-2 control-label">所属代理商</label>
        <div class="col-md-5">
            <select name="agentId" id="find_agent_select" style="width:100%;">
                {if $goods && $goods['agent']}
                <option value="{$goods['agent']['id']}">{php echo $goods['agent']['name'] . "，手机号码：" . $goods['agent']['mobile']}</option>
                {/if}
                <option value="0">&lt;无&gt;</option>
            </select>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="find_keywords" id="find_keywords" placeholder="请输入手机号码或者名称查找">
        </div>
        <div class="col-md-2">
            <button class="btn btn-default" type="button" id="find_agent">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label for="goodsName" class="col-md-2 control-label">商品名称</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="goodsName" name="goodsName" value="{php echo $goods?$goods['name'] : ''}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">图片</label>
        <div class="col-md-10">
            {php echo tpl_form_field_image('goodsImg', $goods?$goods['img'] : '');}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">详情图片</label>
        <div class="col-md-10">
            {php echo tpl_form_field_image('detailImg', $goods?$goods['detailImg'] : '');}
        </div>
    </div>
    <div class="form-group">
        <label for="goodsUnitTitle" class="col-md-2 control-label">商品单位</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="goodsUnitTitle" name="goodsUnitTitle" value="{php echo $goods?$goods['unit_title'] : ''}" required>
            <span class="help-block">* 单位名称，比如：个、包、支、盒等等，默认单位名称是“包”</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">领取方式</label>
        <div class="col-md-10">
            <label class="checkbox-inline">
                <input type="checkbox" name="allowFree" value="balance" {if empty($goods) || $goods['allowFree']}checked{/if}> 关注领取
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="allowPay" value="price" {if empty($goods) || $goods['allowPay']}checked{/if}> 支付领取
            </label>
        </div>
    </div>
    <fieldset {if $goods && !$goods['allowPay']}disabled{/if} id="price">
    <div class="form-group">
        <label for="goodsPrice" class="col-md-2 control-label">单价（元）</label>
        <div class="col-md-10">
            <input type="number" class="form-control" id="goodsPrice" name="goodsPrice" step="0.01" value="{php echo $goods? number_format($goods['price'] / 100, 2) : 0}">
            <span class="help-block">* 用户使用微信支付购买时的价格</span>
        </div>
    </div>
    <div class="form-group">
        <label for="costPrice" class="col-md-2 control-label">成本价（元）</label>
        <div class="col-md-10">
            <input type="number" class="form-control" id="costPrice" name="costPrice" step="0.01" value="{php echo $goods? number_format($goods['costPrice'] / 100, 2) : 0}">
            <span class="help-block">* 商品成本价格(可以不填写)</span>
        </div>
    </div>
    <div class="form-group">
        <label for="discountPrice" class="col-md-2 control-label">新用户首单优惠（元）</label>
        <div class="col-md-10">
            <input type="number" class="form-control" id="discountPrice" name="discountPrice" step="0.01" value="{php echo $goods? number_format($goods['discountPrice'] / 100, 2) : 0}">
            <span class="help-block">* 商品优惠价格(可以不填写)</span>
        </div>
    </div>
    </fieldset>
    {if empty($goods['agent'])}
    <div class="form-group">
        <label for="syncAll" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <label class="checkbox-inline">
                <input type="checkbox" id="syncAll" name="syncAll" value="1" {if $goods && $goods['sync']}checked{/if}> 复制该商品到所有代理商
            </label>
        </div>
    </div>
    {/if}
    <div class="form-group pull-right">
        <div class="col-md-12">
            {if $goods}
            <input type="hidden" name="goodsId" value="{php echo $goods?$goods['id'] : -1}">
            {/if}
            <button type="button" class="btn btn-primary" onclick="api.saveGoods()">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
        </div>
    </div>
</form>