{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active">
        <a href="#">
            <img src="{MODULE_URL}static/img/gas.svg" class="icon">
            {if $goods}
             编辑商品
            {else}
             新建商品
            {/if}
        </a>
    </li>
</ul>
<form id="addGoodsForm" method="POST" action="{php echo $this->createWebUrl('goods', ['op' => 'saveGoods'])}">
    <div class="panel panel-default panel-first">
        <div class="heading">
            <span class="operate">
                <a href="{php echo $this->createWebUrl('goods');}"><i class="fa fa-reply" title="返回"></i></a>
            </span>
        </div>
        <div class="panel-body">
                {if !isset($goods) || $goods['id'] > 0}
                <div class="form-group">
                    <label for="find_agent_select" class="col-md-2 control-label">所属代理商</label>
                    <div class="col-md-5">
                        <select name="agentId" id="find_agent_select" style="width:100%;">
                            {if $goods && $goods['agent']}
                            <option value="{$goods['agent']['id']}">{php echo $goods['agent']['name'] . "，手机号码：" . $goods['agent']['mobile']}</option>
                            {/if}
                            <option value="0">&lt;无&gt;</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="find_keywords" id="find_keywords" placeholder="请输入手机号码或者名称查找">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="button" id="find_agent">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                {/if}
                <div class="form-group">
                    <label for="goodsName" class="col-md-2 control-label">商品名称</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="goodsName" name="goodsName" value="{php echo $goods?$goods['name'] : ''}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">图片</label>
                    <div class="col-md-10">
                        {php echo tpl_form_field_image('goodsImg', $goods?$goods['img'] : '');}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">详情图片</label>
                    <div class="col-md-10">
                        {php echo tpl_form_field_multi_image('gallery', $goods?$goods['gallery']:[]);}
                    </div>
                </div>
                <div class="form-group">
                    <label for="goodsUnitTitle" class="col-md-2 control-label">商品单位</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="goodsUnitTitle" name="goodsUnitTitle" value="{php echo $goods?$goods['unit_title'] : '升'}" required>
                        <span class="help-block">* 单位名称，比如：个、包、支、盒等等，默认单位名称是“升”</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="goodsPrice" class="col-md-2 control-label">单价（元）</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" id="goodsPrice" name="goodsPrice" step="0.01" value="{php echo $goods? number_format($goods['price'] / 100, 2) : 0}">
                        <span class="help-block">* 用户使用微信支付购买时的价格</span>
                    </div>
                </div>

                <input type="hidden" name="allowPay" value="_pay">
                <input type="hidden" name="type" value="fueling">
        </div>
    </div>
    <div class="form-group pull-right">
        <div class="col-md-12">
            {if $goods}
            <input type="hidden" name="goodsId" value="{php echo $goods?$goods['id'] : -1}">
            <button type="submit" class="btn btn-primary">保存</button>
            {else}
            <button type="submit" class="btn btn-primary">确定</button>
            {/if}
            <a href="{php echo $this->createWebUrl('goods');}">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </a>                
        </div>
    </div>
</form>
<script>
    $(function() {
        $('body').on('click', '#find_agent', function() {
            const ownerId = $('select[name=agentId]').val();
            const keywords = $('input[name=find_keywords]').val();
            util.loading();
            $.get("{php echo $this->createWebUrl('agent', array('id'=>$id));}", {op:'search', keyword:keywords}, function(res){
                let html = '';
                if(res.status) {
                    const list = res.data || [];
                    list.forEach(function(e) {
                        html += '<option value="_1*" _**!_>_2*，手机号码：_3*</option>'
                            .replace('_1*', e.id)
                            .replace('_2*', e.name)
                            .replace('_3*', e.mobile)
                            .replace('_**!_', e.id === ownerId ? 'selected' : '');
                    })
                }
                html += '<option value="0"><无></option>';
                $('#find_agent_select').html(html);

            }, 'json').complete(function(){
                util.loaded();
            })
        })
    })
</script>
{template 'common/footer'}