<form class="form-horizontal" id="editQuotaForm">
    <ul class="nav nav-tabs" id="navbar">
        <li role="presentation" :class="{'active': active == 'free'}" @click="active='free'"><a href="#">免费</a></li>
        <li role="presentation" :class="{'active': active == 'pay'}" @click="active='pay'"><a href="#">支付</a></li>
    </ul>
    <div class="panel panel-default nav-tab-item" :class="{'panel-first': active == 'free'}" v-show="active == 'free'">
        <div class="panel-body">
            <div class="form-group">
                <label for="free-day" class="col-md-2 control-label">每日限额</label>
                <div class="col-md-10">
                    <input type="number" class="form-control" id="free-day" name="free-day" v-model="quota.free.day">
                    <span class="help-block">* 每个用户每天领取的数量不能超过指定的值，0表示不限制</span>
                </div>
            </div>
            <div class="form-group">
                <label for="free-all" class="col-md-2 control-label">全部限额</label>
                <div class="col-md-10">
                    <input type="number" class="form-control" id="free-all" name="free-all" v-model="quota.free.all">
                    <span class="help-block">* 单个用户全部领取的数量不能超过指定的值，0表示不限制</span>
                </div>
            </div>
        </div>
    </div>
     <div class="panel panel-default nav-tab-item" :class="{'panel-first': active == 'pay'}" v-show="active == 'pay'">
         <div class="panel-body">
             <div class="form-group">
                 <label for="pay-day" class="col-md-2 control-label">每日限额</label>
                 <div class="col-md-10">
                     <input type="number" class="form-control" id="pay-day" name="pay-day" v-model="quota.pay.day">
                     <span class="help-block">* 每个用户每天购买的数量不能超过指定的值，0表示不限制</span>
                 </div>
             </div>
             <div class="form-group">
                 <label for="pay-all" class="col-md-2 control-label">全部限额</label>
                 <div class="col-md-10">
                     <input type="number" class="form-control" id="pay-all" name="pay-all" v-model="quota.pay.all">
                     <span class="help-block">* 单个用户全部购买的数量不能超过指定的值，0表示不限制</span>
                 </div>
             </div>
         </div>
     </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align: right;">
            <input type="hidden" name="goodsId" value="{$goods['id']}">
            <button type="button" class="btn btn-primary" data-op="saveGoodsQuota">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
        </div>
    </div>
</form>

<script>
    require(['jquery', '{php \zovye\url(false, JS_VUE_URL);}'], function($, Vue) {
        new Vue({
            el: "#editQuotaForm",
            data: {
                active: "free",
                quota: {
                    "free":{
                        "day":0,
                        "all":0,
                    },
                    "pay":{
                        "day":0,
                        "all":0,
                    }
                }
            },
            mounted() {
                this.quota = JSON.parse(`{$quota_str}`);
                console.log(this.quota);
            },
        })
    })
</script>