{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20201108');}
{if $op == 'default'}
<style>
    #list .goods img{
        width: 100px;
    }
    #list div.owner{
        display: flex;
    }
</style>
{template 'web/adv/nav'}
<div class="panel panel-default nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('adv', array('op'=>'add','type'=>zovye\Advertising::PASSWD));}">
                <i class="fa fa-fw fa-pencil" title="添加口令"></i>
            </a>
        </span>
    </div>
    <div class="panel-body">
        {if $advs}
        <table class="table" id="list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>审核</th>
                    <th>代理商</th>
                    <th>提醒文字</th>
                    <th>口令内容</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $advs $index $item}
                <tr data-id="{$item['id']}" class="{$item['state_formatted']}">
                    <td>
                        {php echo $index + 1}
                    </td>
                    <td>
                        {$item['title']}
                    </td>
                    <td>
                        {if $item['review']}
                        <div class="review">
                            {if $item['review']['result'] == zovye\ReviewResult::WAIT}
                            <a href="{php echo $this->createWebUrl('adv', array('op'=>'reviewpassed', 'type'=>$item['type'], 'id'=>$item['id']));}"><i class="fa fa-check" title="通过审核"></i></a>
                            <a href="{php echo $this->createWebUrl('adv', array('op'=>'reviewrejected', 'type'=>$item['type'], 'id'=>$item['id']));}"><i class="fa fa-close" title="拒绝发布"></i></a>
                            {/if}
                        </div>
                        {/if}
                        {if $item['review'] && $item['review']['result'] != zovye\ReviewResult::PASSED}
                             {if $item['review']['result'] == zovye\ReviewResult::REJECTED}
                                <i class="fa fa-times" style="color:#f44336" title="已拒绝"></i>
                            {/if}
                        {else}
                            <i class="fa fa-check-square-o" style="color:#8BC34A" title="已通过"></i>
                        {/if}
                    </td>
                    <td>
                        <div  class="owner">
                            {if $item['agent']}
                                {if $filter_agent && $filter_agent->getId() == $item['agent']['id']}
                                    <div class="agent" title="{$item['agent']['name']}">
                                        <div class="profile" style="background-color:{$item['agent']['level']['clr']}">
                                            <img src="{$item['agent']['avatar']}">
                                            <div class="nickname">{php echo cutstr($item['agent']['name'], 10, true);}</div>   
                                        </div>
                                    </div>
                                {else}
                                    {if $filter_media}
                                    <a href="{php echo $this->createWebUrl('adv', ['agentId'=>$item['agent']['id'], 'type'=>$type, 'media'=>$filter_media]);}" title="点击查看{$item['agent']['name']}的{$item['media_formatted']}广告">
                                    {else}
                                    <a href="{php echo $this->createWebUrl('adv', ['agentId'=>$item['agent']['id'], 'type'=>$type]);}" title="点击查看{$item['agent']['name']}的广告">
                                    {/if}
                                      <div class="agent">
                                            <div class="profile" style="background-color:{$item['agent']['level']['clr']}">
                                                <img src="{$item['agent']['avatar']}">
                                                <div class="nickname">{php echo cutstr($item['agent']['name'], 10, true);}</div>   
                                            </div>
                                        </div>                 
                                    </a>
                                {/if}
                            {else}
                                <div style="color:#CCC;">
                                {if isset($filter_agentId)}
                                &lt;平台&gt;
                                {else}
                                    {if $filter_media}
                                    <a href="{php echo $this->createWebUrl('adv', ['agentId'=> 0, 'type'=>$type, 'media'=>$filter_media]);}" title="点击查看所有平台{$item['media_formatted']}广告">
                                    &lt;平台&gt;
                                    </a>
                                    {else}
                                    <a href="{php echo $this->createWebUrl('adv', ['agentId'=> 0, 'type'=>$type]);}" title="点击查看所有平台广告">
                                    &lt;平台&gt;
                                    </a>
                                    {/if}
                                {/if}
                                </div>
                            {/if}
                        </div>
                    </td>
                    <td>
                        {$item['code']}
                    </td>
                    <td>
                        {$item['text']}
                    </td>
                    <td>{$item['createtime_formatted']}</td>
                    <td class="operate">
                        <div class="btn-group">
                          <a class="btn btn-default" href="{php echo $this->createWebUrl('adv', array('op' => 'assign', 'type' => $type, 'id' => $item['id'], 'from_type' => $item['type']));}" title="分配设备"><i class="fa fa-wrench{php echo $item['assigned']?'':' active'}"> </i></a>
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="fa fa-caret-down"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{php echo $this->createWebUrl('adv', array('type' => $item['type'], 'op' => 'edit', 'id' => $item['id'], 'from_type'=> $item['type']));}"><i class="fa fa-edit fa-fw"></i> 编辑</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" data-op="ban"><i class="fa fa-ban fa-fw"></i> <span>{if $item['state']==zovye\Advertising::NORMAL}禁用？{else}启用？{/if}</span></a></li>
                            <li><a href="{php echo $this->createWebUrl('adv', array('type' => $item['type'], 'op' => 'remove', 'id' => $item['id'], 'from_type' => $item['type']));}" onclick="return confirm('确定要删除这个广告吗？');"><i class="fa fa-trash-o fa-fw"></i> 删除？</a></li>
                          </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
    {else}
        <div class="text-center text-muted">
            暂时没有任何内容！
        </div>
    {/if}
    </div>
</div>
{template 'web/adv/foot'}
{elseif $op == 'add' || $op == 'edit'}
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active"><a href="#">
        <i class="fa {$media_data[$media]['icon']}"></i> 
        {if $op=='edit'}编辑{else}添加{/if}{php echo zovye\Advertising::desc($type)}{$media_data[$media]['title']}
    </a></li>
</ul>
<form action="{php echo $this->createWebUrl('adv', array('type'=>$type));}" method="post">
    <div class="panel panel-default panel-first">
        <div class="heading">
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">广告名称</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="title" id="title" value="{$title}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="text" class="col-md-2 control-label">口令内容</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="code" id="code" value="{$code}" required>
                    <span class="help-block">* 自动复制的口令内容</span>
                </div>
            </div>
            <div class="form-group">
                <label for="text" class="col-md-2 control-label">提示语</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="text" id="text" value="{$text}" required>
                    <span class="help-block">* 提醒用户口令已复制，尽快去完成任务</span>
                </div>
            </div>
        </div>
    </div> 
    <div class="form-btn">
        <input type="hidden" name="from_type" value="{$from_type}">
        <input type="hidden" name="from_op" value="{$op}">
        <input type="hidden" name="op" value="save">
        {if $op=='edit'}
        <input type="hidden" name="id" value="{$id}">
        <button type="submit" class="btn btn-primary">保存</button>
        {else}
        <button type="submit" class="btn btn-primary">创建</button>
        {/if}                    
        <a role="button" class="btn btn-default" href="{php echo $this->createWebUrl('adv', array('type' => $type));}">返回</a>
    </div>     
</form>
{/if}
{template 'common/footer'}