<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>账户</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <style>
            .profile {
                height: 100px;
            }
            .account {
                display: flex;
                font-size: large;
                flex-direction: column;
                align-items: center;
            }
            .account .money {
                color: #FF5722;
                margin-top: 10px
            }
        </style>
    </head>
    <body>
        <div class="profile">

        </div>
        <div class="account">
            <span>账户余额</span>
            <span class="money">¥{$balance_formatted}元</span>
        </div>
    </body>
</html>