<div id="price_detail" style="height: 300px;overflow: auto;">
    <table class="table">
        <tbody>
        <tr>
            <td>交易流水号</td>
            <td>{$data['ser']}</td>
        </tr>
        <tr>
            <td>模式</td>
            <td>{php echo $data['solo'] ? '联网' : '单机'}</td>
        </tr>
        <tr>
            <td>开始时间</td>
            <td>{php echo date('Y-m-d H:i:s', $data['begin'])}</td>
        </tr>
        <tr>
            <td>结束时间</td>
            <td>{php echo date('Y-m-d H:i:s', $data['end'])}</td>
        </tr>
        <tr>
            <td>全部用时</td>
            <td>{$data['time_total_formatted']}</td>
        </tr>
        <tr>
            <td>单价</td>
            <td>{php echo number_format($data['price'] / 100, 2, '.', '')}</td>
        </tr>
        <tr>
            <td>加注量</td>
            <td>{$data['amount'] / 1000}L</td>
        </tr>
        <tr>
            <td>总金额</td>
            <td>{php echo number_format($data['price_total'] / 100, 2, '.', '')}</td>
        </tr>
        <tr>
            <td>停止原因</td>
            <td>
                {if $data['reason'] == 2}
                超时停止
                {elseif $data['reason'] == 3}
                挂枪停止
                {elseif $data['reason'] == 4}
                远程停止
                {elseif $data['reason'] == 5}
                余额不足
                {elseif $data['reason'] == 7}
                停电终止
                {elseif $data['reason'] == 9}
                设备正忙
                {/if}
            </td>
        </tr>
        <tr>
            <td>卡号</td>
            <td>{$data['card']}</td>
        </tr>
        </tbody>
    </table>
</div>