{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation"><a href="{php echo $this->createWebUrl('homepage', array('op'=>'default'));}">首页</a></li>
    <li role="presentation" class="active"><a href="#">营收统计</a></li>
    <li role="presentation"><a href="{php echo $this->createWebUrl('withdraw', array('op'=>'stats'));}">提现统计</a>
    </li>
    <li role="presentation"><a href="{php echo $this->createWebUrl('order', array('op'=>'export'));}">订单导出</a></li>
    <li role="presentation"><a
            href="{php echo $this->createWebUrl('agent', array('op'=>'commission_export'));}">收入明细</a></li>
    <li role="presentation"><a
            href="{php echo $this->createWebUrl('account', array('op'=>'platformStats'));}">平台分成</a></li>
</ul>
{if $years}
<div id="app">
    <div class="panel panel-default nav-tab-item">
        <div class="heading">
            <span class="operate">
                <div>
                    <span v-for="year in years">
                        {{year}}
                    </span>
                </div>
                <i class="fa fa-reply" title="返回" @click="agent=null" v-show="agent"></i>
            </span>        
        </div>
        <div class="panel-body">
                <table class="table table-bordered" id="list" v-if="!agent">
                    <thead>
                    <tr class="active">
                        <td class="center">排名</td>
                        <td>代理商</td>
                        <td class="center">金额</td>
                        <td class="center">数量</td>
                    </tr>
                    </thead>
                    <tr v-for="(item, index) in agentList.list">
                        <td class="center">{{index + 1}}</td>
                        <td>
                            <div v-if="item.agent" @click="view(item.agent)">
                                <div class="profile agent" style="position:relative">
                                    <img :src="item.agent.avatar">
                                    <span v-text="item.agent.name"></span>
                                </div> 
                            </div>
                        </td>
                        <td class="center">
                            {{item.price}}
                        </td>
                        <td class="center">
                            {{item.total}}
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered" id="list" v-if="agent">
                    <thead>
                    <tr class="active">
                        <td class="center">排名</td>
                        <td>设备</td>
                        <td>IMEI</td>
                        <td class="center">金额</td>
                        <td class="center">数量</td>
                    </tr>
                    </thead>
                    <tr v-for="(item, index) in deviceList.list">
                        <td class="center">{{index + 1}}</td>
                        <td>
                            <div v-if="item.device">
                                {{item.device.name}}
                            </div>
                        </td>
                        <td>
                            <div v-if="item.device">
                                {{item.device.imei}}
                            </div>
                        </td>
                        <td class="center">
                            {{item.price}}
                        </td>
                        <td class="center">
                            {{item.total}}
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</div>
{else}
<div class="text-center text-muted">
    <i class="fa fa-question-circle"></i> 暂时没有数据！
</div>
{/if}

<script>
    const vuejsUrl = "{php \zovye\url(false, JS_VUE_URL);}";
    const apiUrl = "{$api_url}";
    require(['jquery', 'util', vuejsUrl], function ($, util, Vue) {
        new Vue({
            el: "#app",
            data: {
                agentList: {
                    list: [],
                    title: '',
                },
                deviceList: {
                    list: [],
                    title: '',
                },
                agent: null,
            },
            mounted() {
                this.getAgentList();
            },
            methods: {
                getAgentList() {
                    const self = this;
                    $.getJSON(apiUrl, {fn: 'agent'}).then(res => {
                        if (res && res.status) {
                            self.agentList = res.data;
                        }
                    })
                },
                view(agent) {
                    if (agent) {
                        this.agent = agent;
                        this.getDeviceList(agent.id);
                    }
                },
                getDeviceList(id) {
                    const self = this;
                    self.deviceList = [];
                    $.getJSON(apiUrl, {fn: 'device', id}).then(res => {
                        if (res && res.status) {
                            self.deviceList = res.data;
                        }
                    })
                }
            }
        })
    })
</script>
{template 'common/footer'}