{if $m_all}
<table class="table table-bordered table-hover" style="margin-top:1em;text-align:center;">
    <thead>
    <tr class="active">
        <th class="text-center">月份</th>
        <th class="text-center">免费</th>
        <th class="text-center">支付</th>
        {if \zovye\App::isBalanceEnabled()}
        <th class="text-center">积分</th>
        {/if}
        <th class="text-center">小计</th>
        <th class="text-center">操作</th>
    </tr>
    </thead>
    {loop $m_all $i $item}
    <tr  data-fetchid="{$device_id}" data-month="{$item['month']}">
        <td>{$i}</td>
        <td>{$item['free']}</td>
        <td>{$item['pay']}</td>
        {if \zovye\App::isBalanceEnabled()}
        <td>{$item['balance']}</td>
        {/if}
        <td>{$item['total']}</td>
        <td class="operate">
            <i class="fa fa-wrench fa-fw" data-op="repairMonthStats"  title="修复{$i}的出货统计"></i>
            <i class="fa fa-area-chart fa-fw" data-op="showMonthStats"  title="查看{$i}的出货统计"></i>
        </td>
    </tr>
    {/loop}
    <tr>
        <td colspan="6">
            <div  class="pull-right">
                总计：{$total}
            </div>
        </td>
    </tr>
</table>
{else}
<div class="text-center text-muted">
    <i class="fa fa-question-circle"></i> 暂时没有统计信息！
</div>
{/if}