<style>
    .test_btn {
        position: relative;
    }
    .test_btn .qrcode {
        position: relative;
    }
</style>
<div style="max-height: 300px;overflow: auto;">
    {if $params['cargo_lanes']}
    <table class="table table-bordered cargolanes operate" id="cargolanes">
        <thead>
            <th>{if $is_fueling_device}枪号{else}货道{/if}</th>
            <th>商品名称</th>
            <th>容量</th>
            <th>当前数量</th>
            <th>操作</th>
        </thead>
        <tbody>
            {loop $params['cargo_lanes'] $index $item}
            <tr data-fetchid="{$device_id}">
                <td>
                    {php echo $index + 1}
                </td>
                <td>
                    <span {if empty($item['goods_id'])}class="text-gray"{/if}>
                        {$item['goods_name']}
                        {if $item['goods_id'] > 0}
                        <sup class="id" title="商品ID">{$item['goods_id']}</sup>
                        {/if}
                    </span>
                </td>
                <td>
                    {if $is_fueling_device}{php echo number_format($item['capacity'] / 100, 2, '.', '')}{else}{$item['capacity']}{/if} {$item['goods_unit_title']}
                </td>
                <td class="lane-data">
                    {if $is_fueling_device}{php echo number_format($item['num'] / 100, 2, '.', '')}{else}{$item['num']}{/if} {$item['goods_unit_title']}
                    {if $item['auto']}
                    <sup class="auto" title="自动补货">*</sup>
                    {/if}
                </td>
                <td class="test_btn">
                    {if $item['qrcode_url']}
                    <div class="qrcode">
                        <i class="fa fa-qrcode"></i>
                        <div class="image">
                            <img src="{$item['qrcode_url']}" alt="{$item['qrcode_url']}">
                        </div>
                    </div>

                    {/if}
                    {if !$is_bluetooth_device}
                    <i class="fa fa-sign-out" data-op="deviceTestLaneN" data-params="{$index}" title="测试"></i>
                    {/if}
                    <i class="fa fa-level-up" data-op="deviceReset" data-params="{$index}" data-name="{if $is_fueling_device}枪号{else}货道{/if}" title="重置商品数量"></i>
                </td>
            </tr>
            {/loop}
        </tbody>
    </table>
    {else}
    <div class="text-center text-muted">
        <i class="fa fa-question-circle"></i> 请检查设备型号是否正确！
    </div>
    {/if}
</div>