
<style>
    .heading .operate {
        position: relative;
    }
    .heading .operate img {
        display: none;
        position: absolute;
        width: 150px;
        box-shadow: 1px;
        box-shadow: 3px 2px 0 2px rgb(158 158 158 / 30%);
    }
    .heading .operate:hover img {
        display: block;
    }
</style>
<div id="app" :data-app="appId">
    <ul class="nav nav-tabs" id="navbar">
        <li role="presentation" :class="{active: active === i}" v-for="(e,i) in data" style="margin-bottom: -2px;">
            <a href="#" @click="active = i">
                <strong v-text="i+1"></strong>号枪
            </a>
        </li>
    </ul>
    <div class="panel panel-default panel-first nav-tab-item">
        <div class="heading">
            <span class="operate">
                <i class="fa fa-qrcode"></i>
                <template v-for="(e, i) in data">
                    <img :src="e.qrcode" v-if="active == i">
                </template>
            </span>
        </div>
        <div class="panel-body" :class="data[active] ? data[active].status : ''">
            <table class="table table-condensed" data-fetchid="{$device_id}" v-if="data.length > 0">
                <tbody>
                    <tr v-for="(e,i) in (data[active].properties || [])" class="property" :key="e.title">
                        <td v-html="e.title"></td>
                        <td v-html="e.val" class="center" style="min-width: 100px;"></td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function(){
        if (!window.hidden_bs_model) {
            window.hidden_bs_model = true;
            window.timer = {};

            $('body').on('hidden.bs.modal', function(e) {
                const timerId = $(e.target).find('[data-app]').data('app');
                if (window.timer[timerId]) {
                    clearInterval(timer[timerId]);
                    window.timer[timerId] = null;
                }
               $('.modal').each((i, e) => {
                    if ($(e).is(':hidden')) {
                        $(e).remove();
                    }
                });
            })
        }
    })
    require(['jquery', '{php \zovye\url(false, JS_VUE_URL);}'], function($, Vue) {
        const api_url = "{php echo $this->createWebUrl('charging', ['id' => $device_id]);}";
        new Vue({
            el: "#app",
            data: {
                appId: new Date().getTime(),
                data: [],
                active: 0,
            },
            mounted() {
                this.getData();
                window.timer[this.appId] = setInterval(this.getData, 3000);
            },
            methods: {
                getData() {
                    const self = this;
                    $.getJSON(api_url, {op: 'charger'}).then(res => {
                        if (res && res.status) {
                            self.data = res.data;
                        }
                    })
                },
            },
        })
    })
</script>