{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
{template 'web/common/header'}
<style>
    code {
        word-break: break-all;
    }
</style>

<ul class="nav nav-tabs" id="navbar">
{loop $navs $nav_op $nav_title}
{if 'event' == $nav_op}
<li role="presentation"  class="active"><a href="#">{$nav_title}</a></li>
{else}
<li role="presentation"><a href="{php echo $this->createWebUrl('device', array('op' => $nav_op,  'id' => $device ? $device->getId() : 0));}">{$nav_title}</a></li>
{/if}
{/loop}
</ul>
<div class="panel panel-default nav-tab-item">
    <div class="heading">
        <span class="operate">
            {if $enabled}
            <a href="{php echo $this->createWebUrl('device', array('op' => $nav_op,  'enable'=>0, 'id' => $device ? $device->getId() : 0));}"><i class="fa fa-pause" title="停止记录消息报文" style="color: #f44336;"></i></a>
            {else}
            <a href="{php echo $this->createWebUrl('device', array('op' => $nav_op,  'enable'=>1, 'id' => $device ? $device->getId() : 0));}"><i class="fa fa-play" title="开始记录消息报文" style="color: #4caf50;"></i></a>
            {/if}
            <a href="{php echo $this->createWebUrl('device', array('op' => $nav_op,  'detail'=>1, 'id' => $device ? $device->getId() : 0));}"><i class="fa fa-cog" title="查看消息报文内容"></i></a>
            <a href="{php echo $this->createWebUrl('device', array('op' => 'delete_logs', 'id' => $device ? $device->getId() : 0));}"><i class="fa fa-trash" title="清除日志"></i></a>
        </span>        
    </div>
    <div class="panel-body">
        {if $events}
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>事件</td>
                    <td>时间</td>
                </tr>
            </thead>
            <tbody>
                {loop $events $index $item}
                <tr>
                    <td>{$item['id']}</td>
                    <td>{$item['title']}</td>
                    <td>
                        {$item['createtime_formatted']}
                    </td>
                </tr>
                {if $item['extra']}
                <tr>
                    <td colspan="3">
                        <code>
                            {$item['extra']}
                        </code>
                    </td>
                </tr>
                {/if}
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何日志！
        </div>
        {/if}
    </div>
</div>
{template 'common/footer'}