{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20201108');}
{template 'web/common/header'}

<ul class="nav nav-tabs" id="navbar">
{loop $navs $nav_op $nav_title}
{if $op == $nav_op}
<li role="presentation"  class="active"><a href="#">{$nav_title}</a></li>
{else}
<li role="presentation"><a href="{php echo $this->createWebUrl('device', array('op' => $nav_op,  'id' => $device ? $device->getId() : 0, 'eid' => \zovye\request::op('eid'), 'version_id' => \zovye\request::op('version_id')));}">{$nav_title}</a></li>
{/if}
{/loop}
</ul>
<div class="panel panel-default nav-tab-item">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('device', array('op' => $nav_op,  'detail'=>1, 'id' => $device ? $device->getId() : 0, 'eid' => \zovye\request::op('eid'), 'version_id' => \zovye\request::op('version_id')));}"><i class="fa fa-cog" title="查看消息报文内容"></i></a>
        </span>        
    </div>
    <div class="panel-body">
{if DEBUG}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>警告，</strong> 模块当前处于调试模式！如果需要关闭事件记录，请到zovye/include/constants.php中修改DEBUG常量值为FALSE！
</div>
{else}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>注意，</strong> 当前DEBUG模式已关闭。如果需要开启设备事件记录，请到zovye/include/constants.php中修改DEBUG常量值为TRUE!
  </div>
{/if}
        {if $events}
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>事件</td>
                    <td>时间</td>
                </tr>
            </thead>
            <tbody>
                {loop $events $index $item}
                <tr>
                    <td>{$item['id']}</td>
                    <td>{$item['title']}</td>
                    <td>
                        {$item['createtime_foramtted']}
                    </td>
                </tr>
                {if $item['extra']}
                <tr>
                    <td colspan="3">
                        <code>
                            {$item['extra']}
                        </code>
                    </td>
                </tr>
                {/if}
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何日志！
        </div>
        {/if}
    </div>
</div>
{template 'common/footer'}