{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20201108');}
<style>
    #devicelist i.allowed {
        color: green;
    }

    #devicelist td.status {
        transition: all 1s;
    }

    #devicelist .app {
        position: relative;
    }

    #devicelist .status:hover .app .devcie-detail {
        display: flex;
    }

    #devicelist .app .devcie-detail {
        position: absolute;
        z-index: 99;
        overflow: hidden;
        background-color: #fff;
        padding: 16px;
        border: 1px solid #9E9E9E;
        border-radius: 6px;
        display: none;
        flex-direction: column;
        width: 300px;
        top: 20px;
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    }

    #devicelist .app .devcie-detail .detail-seg {
        text-align: start;
        margin: 10px 0;
        white-space: nowrap;
    }

    #devicelist .app .devcie-detail .detail-seg .title {
        font-weight: bold;
    }

    #devicelist .devcie-detail .bar {
        display: inline-block;
        width: 130px;
        background-color: #f5f5f5;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        text-align: center;
        vertical-align: top;
        font-size: smaller;
        overflow: hidden;
    }

    #devicelist .devcie-detail .sig div {
        color: #fff;
        background: #009688;
    }

    #devicelist .devcie-detail .qoe div {
        color: #fff;
        background: #ff5722;
    }

    #devicelist .app.loading {
        color: rgba(0, 0, 0, .1);
        display: none;
    }

    #devicelist .device.loading {
        color: rgba(0, 0, 0, .1);
        display: none;
    }

    #devicelist .status i.loading {
        color: rgba(0, 0, 0, .6);
    }

    #devicelist tr .getway {
        visibility: hidden;
    }

    #devicelist tr:hover .getway {
        visibility: visible;
        color: rgb(238, 238, 238);
    }

    #devicelist [data-url] {
        cursor: pointer;
    }

    #devicelist td.sat {
        width: 15em;
    }

    #devicelist .devicename {
        cursor: default
    }

    .zovye_qrcode:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transform: translate3d(0, -2px, 0);
    }

    #devicelist .imei img.qrcode {
        width: 1.5em;
        height: 1.5em;
    }

    #devicelist sup {
        color: #009688;
    }

    .zovye_qrcode:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transform: translate3d(0, -2px, 0);
    }

    table#cargolanes th,
    table#cargolanes td {
        text-align: center;
        vertical-align: middle;
    }

    table#cargolanes div.loading {
        vertical-align: middle;
        line-height: 2em;
    }

    table#cargolanes div.loading i {
        font-size: 1em;
        color: #4CAF50;
    }

    .fb-img {
        width: 100px;
        cursor: pointer;
    }

    ul.images-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
</style>
<link rel="stylesheet" href="https://cdn.staticfile.org/viewerjs/1.9.0/viewer.min.css">
<div class="panel panel-default">
    <div class="panel-body">
        <form class="" action="{php echo $this->createWebUrl('device', ['op'=>'feed_back'])}" method="post"
            id="the_form">
            <div class="form-group">
                <label for="select_device" class="col-md-2 ">设备</label>
                <div class="col-md-5">
                    <select name="device_id" id="select_device" style="width:100%;">
                        <option value="0">&lt;不限&gt;</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="keyword_device" id="keyword_device"
                        placeholder="请输设备ＩＭＥＩ号查找">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="button" id="find_device">查找</button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 ">日期</label>
                <div class="col-md-8">
                    <input name="datelimit[start]" type="hidden" value="{php echo $s_date}" />
                    <input name="datelimit[end]" type="hidden" value="{php echo $e_date}" />
                    <button class="btn btn-default daterange daterange-date" type="button">
                        <span class="date-title">
                            {if empty($s_date) && empty($e_date)}
                            不限时间
                            {else}
                            {$s_date} 至{$e_date}
                            {/if}
                        </span> <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <button id="btn_search" type="submit" class="btn btn-primary">查找</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table" id="devicelist">
            <thead>
                <tr>
                    <th>#</th>
                    <th>设备名称</th>
                    <th>代理商</th>
                    <th>信息</th>
                    <th>图片</th>
                    <th>反馈人</th>
                    <th>日期</th>
                    <th>状态</th>
                    <th>处理信息</th>
                </tr>
            </thead>
            <tbody>
                {loop $data $index $d}
                <tr data-fetchid="{$d['id']}" class="{$d['model']}">
                    <td class="operate">
                        {php echo $index + 1}
                    </td>
                    <td>
                        <div>
                            {$d['device']['name']}
                        </div>
                    </td>
                    <td>
                        <div class="agent" title="{$d['agent']['level']['title']}">
                            <div class="profile" style="background-color: {$d['agent']['level']['clr']}">
                                <img src="{$d['agent']['headimgurl']}" alt="">
                                <span>{$d['agent']['name']}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        {$d['text']}
                    </td>
                    <td>
                        <ul class="images-list">
                            {loop $d['pics'] $p}
                            <li>
                                <img src="{$p}" class="fb-img" />
                            </li>
                            {/loop}
                        </ul>
                    </td>
                    <td>
                        <div class="profile">
                            <img src="{$d['user']['headimgurl']}" />
                            <span class="nickname">
                                {php echo $d['user']['nickname'] ?: '&lt;匿名用户&gt;'}
                            </span>
                        </div>
                    </td>
                    <td class="sat operate">
                        {$d['createtime']}
                    </td>
                    <td id="J_status{$d['id']}" class="operate">
                        {if $d['remark'] == ''}
                        <i class="fa fa-wrench" title="处理" data-op="dealFB"></i>
                        {else}
                        <i class="fa fa-info-circle disabled" title="已处理"></i>
                        {/if}
                    </td>
                    <td id="J_remark{$d['id']}">
                        {$d['remark']}
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {if empty($data)}
        <div class="text-center text-muted">
            暂时还没有任何记录！
        </div>
        {/if}
    </div>
</div>

<script>
    let device_id = parseInt('{php echo $device_id}');
    $(function () {
        $('#find_device').click(function () {
            $.get("{php echo $this->createWebUrl('device');}", {
                op: 'search',
                keyword: $('input[name=keyword_device]').val(),
            }, function (res) {
                let html = '';
                if (res.status) {
                    const list = res.data || [];
                    var isSelected = '';
                    list.forEach(function (e) {
                        isSelected = '';
                        if (e.id == device_id) {
                            isSelected = 'selected = "selected"';
                        }
                        html += '<option value="_1*" _4*>_2*，IMEI：_3*</option>'
                            .replace('_1*', e.id)
                            .replace('_2*', e.name)
                            .replace('_3*', e.imei)
                            .replace('_4*', isSelected);
                    })
                }
                isSelected = '';
                if (0 == device_id) {
                    isSelected = 'selected = "selected"';
                }
                html += '<option value="0" ' + isSelected + '><不限></option>';
                $('#select_device').html(html);

            }, 'json').complete(function () {
                open_id = '';
            })
        })

        require(['https://cdn.staticfile.org/viewerjs/1.9.0/viewer.min.js'], function (Viewer) {
            $('.images-list').each((i, e) => {
                new Viewer(e);
            })
        })

        require(['daterangepicker'], function () {
            $(function () {
                $(".daterange.daterange-date").each(function () {
                    var elm = this;
                    $(this).daterangepicker({
                        startDate: $(elm).prev().prev().val() || moment("不限", "Y"),
                        endDate: $(elm).prev().val() || moment("不限", "Y"),
                        format: "YYYY-MM-DD",
                        clear: 1
                    }, function (start, end) {
                        start = start.toDateStr().indexOf("0000-01-01") != -1 ? "" : start.toDateStr();
                        end = end.toDateStr().indexOf("0000-01-01") != -1 ? "" : end.toDateStr();
                        var html = (start == "" ? "不限时间" : start) + (start == "" && end === "" ? "" : (" 至" + end))
                        $(elm).find(".date-title").html(html);
                        $(elm).prev().prev().val(start);
                        $(elm).prev().val(end);
                    })
                })
            })
        })

        $('#the_form').submit(function (e) {
            const params = new URLSearchParams();
            const agent = $.trim($(this).find('select[name=agent_openid]').val());
            if (agent) {
                params.append("agent_openid", agent);
            }
            const device = $.trim($(this).find('select[name=device_id]').val());
            if (device) {
                params.append("device_id", device);
            }
            const nickname = $.trim($(this).find('input[name=nickname]').val());
            if (nickname) {
                params.append("nickname", nickname);
            }
            const start = $.trim($(this).find('input[name="datelimit[start]"]').val());
            if (start) {
                params.append("datelimit[start]", start);
            }
            const end = $.trim($(this).find('input[name="datelimit[end]"]').val());
            if (end) {
                params.append("datelimit[end]", end);
            }

            location.href = $(this).attr("action") + "&" + params.toString();

            setTimeout(function () { util.loading() }, 1000);
            e.preventDefault();
        });

        $('#btn_export').on('click', function (e) {
            e.preventDefault();
            $('#val_export').val(1);
            $('#the_form').submit();
        })

        $('#find_agent').trigger('click');
        $('#find_device').trigger('click');

        const api = {
            url: "{php echo $this->createWebUrl('device');}",
        }

        api.showResult = function (params, url, loading, cb) {
            loading && util.loading();
            $.getJSON(url || api.url, params).done(function (res) {
                loading && util.loaded();
                if (res) {
                    if (typeof cb == 'function') {
                        if (cb(res)) {
                            return;
                        }
                    }
                    if (res.status) {
                        if (res.data && res.data.content) {
                            const dlg = util.dialog(res.data.title || '', res.data.content);
                            dlg.modal('show');
                        }
                    }
                    if (res.message && res.type) {
                        util.message(res.message, '', res.type);
                    }
                    if (res.data && res.data.msg) {
                        util.message(res.data.msg, '', res.status ? 'success' : 'error');
                    }
                }
            }).fail(function () {
                loading && util.loaded();
            })
        }

        api.dealFB = function (deviceid) {
            api.showResult({ op: 'add_fb', id: deviceid });
        }

        $("body").on('click', '[data-op]', function (e) {
            const op = $(this).data('op');
            if (op && api[op]) {
                const id = $(this).closest('tr').data('fetchid');
                const params = $(this).data('params');
                api[op](id, params);
            }
            e.preventDefault();
        })
    })
</script>
{template 'common/footer'}