{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active"><a href="#">普通分组</a></li>
    {if \zovye\App::isChargingDeviceEnabled()}
    <li role="presentation"><a href="{php echo $this->createWebUrl('charging');}">充电桩分组</a></li>
    {/if}
</ul>
<div class="panel panel-default panel-first">
    <div class="heading">
        <span class="operate">
            <a href="{php echo $this->createWebUrl('device', array('op'=>'new_group_add'));}"><i class="fa fa-pencil" title="创建分组"></i></a>
            <a href="{php echo $this->createWebUrl('device');}"><i class="fa fa-reply" title="返回设备列表"></i></a>
        </span>
    </div>
    <div class="panel-body">
        {if $groups}
        <table class="table" id="grouplist">
            <thead>
            <th>#</th>
            <th>名称</th>
            <th>代理商</th>
            <th class="center">设备数量</th>
            <th>创建时间</th>
            <th>操作</th>
            </thead>
            <tbody>
            {loop $groups $index $item}
            <tr data-id="{$index}">
                <td>
                    {php echo $index + 1}
                    <span style="margin-left: 2em;"> 分组ID：{$item['id']}</span>
                </td>
                <td class="group">
                    <span class="groupname" {if $item['clr']} style="background-color:{$item['clr']}"{/if}>{$item['title']}</span>
                </td>
                <td>
                    {if $item['agent']}
                        <div class="agent" style="display:inline-block;">
                            <div class="profile" style="background-color:{$item['agent']['level']['clr']}">
                                <img src="{$item['agent']['avatar']}">
                                <div class="nickname">{$item['agent']['name']}</div>
                            </div>
                        </div>
                    {else}
                    <span style="color:gray;">&lt;平台&gt;</span>
                    {/if}
                </td>
                <td class="center">{php echo intval($item['total'])}</td> 
                <td>
                    {$item['createtime_formatted']}
                </td>
                <td class="operate">
                    <a href="{php echo $this->createWebUrl('device',array('id'=>$item['id'],'op'=>'new_group_edit'));}">
                        <i class="fa fa-edit" title="编辑"></i>
                    </a>
                    <a href="{php echo $this->createWebUrl('device',array('id'=>$item['id'],'op'=>'new_group_remove'));}" onclick="if(!confirm('确定要删除这个分组吗？')){return false;}">
                        <i class="fa fa-trash-o" title="删除这个分组？"></i>
                    </a>                    
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
        <div style="float:right;">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何分组！
        </div>
        {/if}
    </div>
</div>
{template 'common/footer'}