{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
{template 'web/common/header'}
<style>
    .goods img {
        width: 60px;
        height: 60px;
    }
    .inc {
        color: #4caf50;
    }
    .dec {
        color: #ff5722;
    }
    tr.item {
        border-left: 4px solid #ccc;
    }
    .index {
        text-align: center;
    }
    .code {
        white-space: nowrap;
        color: #9e9e9e;
    }
    .code.success i {
        color: #4caf50;
    }
    .code.error i {
        color: #ff5722;
    } 
    .lane {
        color: gray;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    {loop $navs $nav_op $nav_title}
    {if 'payload' == $nav_op}
    <li role="presentation"  class="active"><a href="#">{$nav_title}</a></li>
    {else}
    <li role="presentation"><a href="{php echo $this->createWebUrl('device', array('op' => $nav_op,  'id' => $device ? $device->getId() : 0));}">{$nav_title}</a></li>
    {/if}
    {/loop}
</ul>
<div class="panel panel-default nav-tab-item">
    <div class="panel-body">
        {if $logs}
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>商品</td>
                    <td class="center">货道</td>
                    <td class="center">原库存</td>
                    <td class="center">变动</td>
                    <td class="center">剩余</td>
                    <td>原因</td>
                    <td>流水号</td>
                    <td>时间</td>
                </tr>
            </thead>
            <tbody>
            {loop $logs $index $item}
            <tr class="item" style="border-left-color: {$item['clr']};">
                <td class="index" style="color:{$item['clr']}">{php echo $index + 1}</td>
                <td>
                    <div class="goods">
                        <img src="{$item['goods']['img']}">
                        {$item['goods']['name']}
                        <sup class="id" title="商品ID">{$item['goods']['id']}</sup>
                    </div>                    
                </td>
                <td class="center">
                    <span class="lane">[ {php echo $item['lane']} ]</span>
                </td>
                <td class="center">
                    {php echo $is_fueling ? number_format($item['org']/100, 2, '.', '') : $item['org']}
                </td>
                <td class="center">
                    {if $item['num']>0}
                    <span class="inc">
                        +{php echo $is_fueling ? number_format($item['num']/100, 2, '.', '') : $item['num']}
                    </span>                    
                    {else}
                    <span class="dec">
                        {php echo $is_fueling ? number_format($item['num']/100, 2, '.', '') : $item['num']}
                    </span>                    
                    {/if}
                </td>
                <td class="center"  >
                    {php echo $is_fueling ? number_format($item['new']/100, 2, '.', '') : $item['new']}
                </td>
                <td>
                    {$item['reason']}
                </td>
                <td>
                    <div class="code{if $verified[$item['code']]} success{else} error{/if}">
                        {if $verified[$item['code']]}
                        <i class="fa fa-check-circle-o"></i> 
                        {else}
                        <i class="fa fa-times-circle-o"></i> 
                        {/if}
                        {$item['code']} 
                    </div>
                </td>            
                <td>
                    {$item['createtime_formatted']}
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
        <div class="pull-right">
            {$pager}
        </div>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何记录！
        </div>
        {/if}
    </div>
</div>

{template 'common/footer'}