<form class="form-horizontal" id="editScheduleForm" onkeydown="if(event.keyCode===13) {api.saveScheduleTask();return false;}">
    <div class="form-group" v-if="mode=='normal'">
        <label class="col-md-2 control-label">每天出货时间：</label>
        <div class="col-md-10">
            <div class="col-md-4" style="padding-left:0;">
                <input type="number" class="form-control" name="h" id="h" min="0" max="23" value="0">
                <span class="help-block">* 小时，有效范围：0 ~ 23</span>
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" name="m" id="m" min="0" max="59" value="0">
                <span class="help-block">* 分钟，有效范围： 0 ~ 59</span>
            </div>
            <div class="col-md-4" style="padding-right:0;">
                <input type="number" class="form-control" name="s" id="s" min="0" max="59" value="0">
                <span class="help-block">* 秒，有效范围： 0 ~ 59）</span>
            </div>
        </div>
    </div>
    <div class="form-group" v-else>
        <label for="spec" class="col-md-2 control-label">CRON表达式：</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="spec" id="spec" value="">
            <span class="help-block">* 请按秒、分、时、天、月、星期的格式输入CRON表达式
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align: right;">
            <input type="hidden" name="deviceId" value="{php echo $device->getId()}">
            <button type="button" class="btn btn-primary" onclick="api.saveScheduleTask()">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
        </div>
    </div>
    <div class="operate">
        <i class="fa fa-exchange" @click="mode=mode=='spec'?'normal':'spec'" title="切换"></i>
    </div>
</form>

<script>
    require(['jquery', 'util', vuejsUrl], function ($, util, Vue) {
        const app = new Vue({
            el: '#editScheduleForm',
            data: {
                mode: 'normal',
            },
        })
    })
</script>