<div id="scheduleTaskList">
    <table class="table" v-if="list.length > 0">
        <thead>
            <th>#</th>
            <th>计划任务</th>
            <th class="center">已执行次数</th>
            <th>下次执行时间</th>
            <th>创建时间</th>
            <th>操作</th>
        </thead>
        <tbody>
            <tr v-for="(e,index) in list">
                <td>{{index + 1}}</td>
                <td>
                    <span :title="e.desc">
                         {{e.spec}}
                    </span>
                </td>
                <td class="center">{{e.total}}</td>
                <td>
                    <span v-if="e.next">{{e.next}}</span>
                    <span v-else class="text-muted">&lt;已取消&gt;</span>
                </td>
                <td>{{e.formatted_createtime}}</td>
                <td class="operate">
                    <i class="fa fa-trash" @click="remove(e)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center text-muted" v-else>
        <i class="fa fa-question-circle"></i> 暂时还没有任何任务！
    </div>
</form>

<script>
    const api_url = "{$api_url}";
    require(['jquery', 'util', vuejsUrl], function ($, util, Vue) {
        const app = new Vue({
            el: '#scheduleTaskList',
            data: {
                list: [],
            },
            mounted() {
                this.getList();
            },
            methods: {
                getList() {
                    const self = this;
                    $.getJSON(api_url, {fn: "list"}).then(res => {
                        if (res && res.status) {
                            self.list = res.data;
                        }
                    })
                },
                remove({id}) {
                    const self = this;
                    $.getJSON(api_url, {fn: "remove", tid: id}).then(res => {
                        if (res && res.status) {
                            const index = self.list.findIndex(e => e.id === id);
                            if (index !== undefined) {
                                self.list.splice(index, 1);
                            }
                        }
                        util.message(res.data.msg, '', res.status ? 'success' : 'error');
                    })
                }
            }
        })
    })
</script>