<form class="form-horizontal">
{if $lastUpgradeInfo}
  <div class="form-group">
    <label class="col-md-2 control-label">上次推送</label>
    <div class="col-md-10">
        <div class="form-control" style="color:#f44336;overflow: scroll;">
            版本：{$lastUpgradeInfo['title']}({$lastUpgradeInfo['version']}) 网址：{$lastUpgradeInfo['url']}
            <span>
                日期：{php echo date('Y-m-d H:i:s', $lastUpgradeInfo['time']);}
            </span>
        </div>
        
    </div>
</div>
{/if}
  <div class="form-group">
    <label class="col-md-2 control-label">可用版本</label>
    <div class="col-md-10">
        <select  class="form-control" id="version_list">
            {loop $all $index $item}
            <option value="{$item['id']}">{$item['title']}({$item['version']}) => {$item['url']}</option>
            {/loop}
        </select>      
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="button" class="btn btn-primary" onclick="api.upgrade({$device_id})">立即更新</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
    </div>
  </div>
</form>
