<form class="form-horizontal" id="addPrizeForm">
  <div class="form-group">
    <label for="title" class="col-md-2 control-label">奖品名称</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="title" name="title" value="{$prizeData['title']}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="balance" class="col-md-2 control-label">{php echo \zovye\settings('user.balance.title')?:'数量'}({php echo \zovye\settings('user.balance.unit')?:'个'})</label>
    <div class="col-md-10">
      <input type="number" class="form-control" id="balance" name="balance" min="1" value="{$prizeData['balance']}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="percent" class="col-md-2 control-label">机率值％</label>
    <div class="col-md-10">
      <input type="number" class="form-control" id="percent" name="percent" min="1" value="{$prizeData['percent']}" required>
      <span class="help-block">指定期望中奖机率，实际中奖机率根据全部有效奖品机率值之和动态计算</span>
    </div>
  </div>  
  <div class="form-group">
    <label for="maxcount" class="col-md-2 control-label">最多中奖次数</label>
    <div class="col-md-10">
        <input type="number" class="form-control" id="maxcount" name="maxcount" value="{$prizeData['maxcount']}">
        <span class="help-block">０表示无限制</span>
    </div>
  </div>
  <div class="form-group">
    <label for="percent" class="col-md-2 control-label">时间限制</label>
    <div class="col-md-10">
        <span class="col-md-2 checkbox">
            <label>
              <input type="checkbox" name="validdate" {if $prizeData['begin'] && $prizeData['end']}checked{/if}>启用
            </label>
        </span>
        <span class="col-md-4">{php echo tpl_form_field_date('begin', $prizeData['begin']);}</span>
        <span class="col-md-1" style="color:#ccc;"><i class="fa fa-arrows-h"></i></span>
        <span class="col-md-4">{php echo tpl_form_field_date('end', $prizeData['end']);}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="percent" class="col-md-2 control-label">奖品图片</label>
    <div class="col-md-10">
      {php echo tpl_form_field_image('pic', $prizeData['pic']);}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10"  style="text-align: right;">
        <input type="hidden" name="id" value="{$prizeData['id']}">
        <button type="button" class="btn btn-primary" onclick="savePrize('voucher')">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
    </div>
  </div>
</form>