{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125');}
<style>
    #special fieldset[disabled] label, #special2 fieldset[disabled] input, #special2 fieldset[disabled] table{
        color: gray;
    }
    .btn-success {
        background-color: #9E9E9E;
        border-color: #9E9E9E;
    }
</style>
{template "web/settings/nav"}
<form action="{php echo $this->createWebUrl('settings');}" method="post">
    <div class="panel panel-default nav-tab-item" id="special">
        <div class="heading">
            <span class="operate">
            </span>
        </div>
        <div class="panel-body">

        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="page" value="ads">
        <input type="hidden" name="op" value="save">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20231125')}"], function (zovye) {
        zovye.enableInputMask();
        zovye.enableCopy();
    })
</script>
{template 'common/footer'}