{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<style>
    .right-content {
        overflow: hidden;
    }
</style>
{template "web/settings/nav"}
<form action="{php echo $this->createWebUrl('settings');}" method="post">
    <div class="panel panel-default nav-tab-item">
        <div class="heading">
            <span class="operate">
            </span>
        </div>
        <div class="panel-body">
            <div class="seg" id="ctrlserv" style="padding-top: 3em;">
                <div class="title">远程服务</div>
                <div class="form-group">
                    <div class="page_item">
                        <span>程序版本</span>
                        <span title="build date: {$build}" class="duration">{$version}</span>
                    </div>
                    {if $formatted_now}
                    <div class="page_item">
                        <span>当前时间</span>
                        <span class="duration">{php echo $formatted_now ?: 'n/a'}</span>
                    </div>
                    {/if}
                    {if $formatted_duration}
                    <div class="page_item">
                        <span>运行时长</span>
                        <span class="duration">{php echo $formatted_duration ?: 'n/a'}</span>
                    </div>
                    {/if}
                    {if $queue}
                    <div class="page_item">
                        <span>任务队列</span>
                        <span class="duration">{php echo $queue['size']} {php echo empty($queue['max_size']) ? '' : '/' . $queue['max_size']}（最后更新： {php echo date('Y-m-d H:i:s', $queue['updatetime'])}）</span>
                    </div>
                    {/if}
                </div>
                <div class="seg-divider"></div>
                <div class="form-group">
                    <label for="controlAddr" class="col-md-2 control-label">api url</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="controlAddr" id="controlAddr"
                            value="{$settings['ctrl']['url']}">
                        <span class="help-block">* 服务器地址</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="appKey" class="col-md-2 control-label">app id</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="appKey" id="appKey"
                            value="{$settings['ctrl']['appKey']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="appSecret" class="col-md-2 control-label">app secret</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control inputMask" name="appSecret" id="appSecret"
                            value="{$settings['ctrl']['appSecret']}">
                    </div>
                </div>
                <div class="seg-divider"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">回调网址</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url"><i class="fa fa-paste" title="复制网址" data-url="{$cb_url}"></i> {$cb_url}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkSign" id="checkSign" value="1" {if $settings['ctrl']['checkSign']}checked{/if}>
                                检查消息签名是否正确<span style="color:gray;">（签名错误则忽略通知消息）</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {if \zovye\App::isChargingDeviceEnabled()}
            <div class="seg">
                <div class="title">充电桩API服务</div>
                <div class="form-group">
                    <div class="page_item">
                        <span>程序版本</span>
                        <span title="build date: {$charging['server']['build']}" class="duration">{$charging['server']['version']}</span>
                    </div>
                </div>
                <div class="seg-divider"></div>
                <div class="form-group">
                    <label for="ChargingServerURL" class="col-md-2 control-label">api url</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="ChargingServerURL" id="ChargingServerURL"
                            value="{$charging['server']['url']}">
                        <span class="help-block">* 服务器地址</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ChargingServerAccessToken" class="col-md-2 control-label">access token</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control inputMask" name="ChargingServerAccessToken" id="ChargingServerAccessToken"
                            value="{$charging['server']['access_token']}">
                    </div>
                </div>
            </div>
            {/if}
            <div class="seg">
                <div class="title">本地服务</div>
                <div class="form-group">
                    {if $migrate}
                    <div class="page_item">
                        <span>立即升级</span>
                        <span class="duration operate">
                            <i class="fa fa-flash" title="点击立即升级" data-op="migrate"></i>
                        </span>
                    </div>
                    {else}
                    <div class="page_item">
                        <span>重置升级</span>
                        <span class="duration operate">
                            <i class="fa fa-reply-all" title="点击重置升级" data-op="reset"></i>
                        </span>
                    </div>
                    {/if}
                    {if $is_locked}
                    <div class="page_item">
                        <span>锁定状态</span>
                        <span class="duration operate">已锁定
                            <i class="fa fa-lock" title="点击解除锁定" data-op="unlock"></i>
                        </span>
                    </div>
                    {/if}
                    <div class="page_item">
                        <span>刷新域名</span>
                        <span class="duration operate">
                            <i class="fa fa-refresh" title="刷新域名相关配置" data-op="refresh"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="seg" id="app_">
                <div class="title">系统设置</div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ZovyeAppFirstEnable" value="1" {if $settings['app']['first']['enabled']}checked{/if}>
                                用户登录后直接进入模块首页
                            </label>
                        </div>
                    </div>
                </div>
                <!-- <div class="seg-divider"></div>
                <div class="form-group" v-cloak>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="MultiDomainEnable" value="1" :checked = "enabled">
                                启用多域名负载均衡机制
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mainUrl" class="col-md-2 control-label">主域名</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">{php echo \zovye\_W('sitescheme')}</span>
                            <input type="text" class="form-control" name="mainUrl" id="mainUrl" value="{php echo $settings['app']['domain']['main'] ?? \zovye\_W('siteroot')}" required>
                        </div>
                    </div>
                </div>
                <div class="form-group" v-for="(url,i) in list">
                    <label :for="'bakUrl' + (i + 1)" class="col-md-2 control-label" v-text="'备用域名' + (i + 1)"></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">{php echo \zovye\_W('sitescheme')}</span>
                            <input type="text" class="form-control" name="bakUrl[]" :id="'bakUrl'+(i+1)" :value="url">
                            <span class="input-group-addon operate"><i class="fa fa-ban" @click="remove(i)" title="删除"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bakUrl" class="col-md-2 control-label"></label>
                    <div class="col-md-10 operate">
                        <i class="fa fa-plus" @click="add" title="增加更多域名"></i>
                    </div>
                </div> -->
            </div>
            <div class="seg">
                <div class="title">蓝牙协议</div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            {loop $bluetooth $index $protocol}
                            <label>
                                <input type="checkbox" name="protocol[{$protocol['name']}]" value="1" {if \zovye\Config::app('bluetooth.'.$protocol['name'].'.enabled', true)}checked{/if}>
                                {$protocol['title']}
                            </label>
                            {/loop}
                        </div>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">皮肤</div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            {loop $themes $index $theme}
                            <label>
                                <input type="checkbox" name="theme[{$theme['name']}]" value="1" {if \zovye\Config::app('theme.'.$theme['name'].'.enabled', true)}checked{/if}>
                                {$theme['name']}
                            </label>
                            {/loop}
                        </div>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">功能选项</div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="vDevice" id="v-device" value="1" {if $settings['device']['v-device']['enabled']}checked{/if}>
                                开启虚拟设备功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lotteryGoods" id="v-lottery-goods" value="1" {if $settings['goods']['lottery']['enabled']}checked{/if}>
                                开启彩票商品功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="tsGoods" id="v-ts-goods" value="1" {if $settings['goods']['ts']['enabled']}checked{/if}>
                                开启计时商品功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="idCardVerify" id="v-idcard-verify" value="1" {if $settings['idcard']['verify']['enabled']}checked{/if}>
                                开启实名认证功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="bluetoothDevice" id="bluetoothDevice" value="1" {if $settings['device']['bluetooth']['enabled']}checked{/if}>
                                开启蓝牙设备支持
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="goodsVoucher" id="goodsVoucher" value="1" {if $settings['goods']['voucher']['enabled']}checked{/if}>
                                开启提货码功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="agentWxApp" id="agentWxApp" value="1" {if $settings['agent']['wx']['app']['enabled']}checked{/if}>
                                开启代理商独立小程序功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Inventory" id="Inventory" value="1" {if $settings['inventory']['enabled']}checked{/if}>
                                开启库存管理功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="UserBalance" id="UserBalance" value="1" {if \zovye\App::isBalanceEnabled()}checked{/if}>
                                开启用户积分功能 <img src="{MODULE_URL}static/img/coin.svg" class="balance">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="DeviceWithDoor" id="DeviceWithDoor" value="1" {if \zovye\App::isDeviceWithDoorEnabled()}checked{/if}>
                                开启带门锁设备支持功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ChargingDeviceEnabled" id="ChargingDeviceEnabled" value="1" {if \zovye\App::isChargingDeviceEnabled()}checked{/if}>
                                开启充电桩设备支持功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="FuelingDeviceEnabled" id="FuelingDeviceEnabled" value="1" {if \zovye\App::isFuelingDeviceEnabled()}checked{/if}>
                                开启尿素加注设备支持功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="DeviceScheduleEnabled" id="DeviceScheduleEnabled" value="1" {if \zovye\App::isDeviceScheduleTaskEnabled()}checked{/if}>
                                开启设备定时出货功能 （需要gate v3.6.25版本支持）
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="GoodsExpireAlert" id="GoodsExpireAlert" value="1" {if \zovye\App::isGoodsExpireAlertEnabled()}checked{/if}>
                                开启货道商品过期提示功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="KeeperCommissionLimitEnabled" id="KeeperCommissionLimitEnabled" value="1" {if \zovye\App::isKeeperCommissionLimitEnabled()}checked{/if}>
                                开启运营人员补货数量限制功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="KeeperCommissionOrderDistinguishEnabled" id="KeeperCommissionOrderDistinguishEnabled" value="1" {if \zovye\App::isKeeperCommissionOrderDistinguishEnabled()}checked{/if}>
                                启用运营人员佣金区分支付/免费分开设置
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="DevicePayConfigEnabled" id="DevicePayConfigEnabled" value="1" {if \zovye\App::isDevicePayConfigEnabled()}checked{/if}>
                                启用设备独立支付配置（只微信v3版本的子商户模式）
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="DeviceLaneQRCodeEnabled" id="DeviceLaneQRCodeEnabled" value="1" {if \zovye\App::isDeviceLaneQRCodeEnabled()}checked{/if}>
                                启用设备货道专用二维码功能
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">第三方吸粉平台</div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="wxPlatform" id="wxPlatform" value="1" {if $settings['account']['wx']['platform']['enabled']}checked{/if}>
                                开户微信第三方平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="douyin" id="douyin" value="1" {if $settings['account']['douyin']['enabled']}checked{/if}>
                                开启抖音吸粉功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="jfbFAN" id="jfbFAN" value="1" {if $settings['jfb']['fan']['enabled']}checked{/if}>
                                开启准粉吧平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="moscalesFAN" id="moscalesFAN" value="1" {if $settings['moscale']['fan']['enabled']}checked{/if}>
                                开启公锤平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="yunfenbaFAN" id="yunfenbaFAN" value="1" {if $settings['yunfenba']['fan']['enabled']}checked{/if}>
                                开启云粉吧平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="AQiinfoFAN" id="AQiinfoFAN" value="1" {if $settings['AQiinfo']['fan']['enabled']}checked{/if}>
                                开启阿旗平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ZJBaoFAN" id="ZJBaoFAN" value="1" {if $settings['zjbao']['fan']['enabled']}checked{/if}>
                                开启纸巾宝平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="MeiPaFAN" id="MeiPaFAN" value="1" {if $settings['meipa']['fan']['enabled']}checked{/if}>
                                开启美葩平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="kingFAN" id="kingFAN" value="1" {if $settings['king']['fan']['enabled']}checked{/if}>
                                开启金粉吧平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="sntoFAN" id="sntoFAN" value="1" {if $settings['snto']['fan']['enabled']}checked{/if}>
                                开启史莱姆平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="yfbFAN" id="yfbFAN" value="1" {if $settings['yfb']['fan']['enabled']}checked{/if}>
                                开启粉丝宝平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="wxWorkFAN" id="wxWorkFAN" value="1" {if $settings['wxWork']['fan']['enabled']}checked{/if}>
                                开启企业微信拉接（阿旗）平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="youFenFAN" id="youFenFAN" value="1" {if $settings['YouFen']['fan']['enabled']}checked{/if}>
                                开启友粉平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="mengMoFenFAN" id="mengMoFenFAN" value="1" {if $settings['MengMo']['fan']['enabled']}checked{/if}>
                                开启涨啊平台接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="yiDaoFAN" id="yiDaoFAN" value="1" {if $settings['YiDao']['fan']['enabled']}checked{/if}>
                                开启壹道传媒接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="weiSureFAN" id="weiSureFAN" value="1" {if $settings['weiSure']['fan']['enabled']}checked{/if}>
                                开启微保车险推广功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="cloudFIFAN" id="cloudFIFAN" value="1" {if $settings['cloudFI']['fan']['enabled']}checked{/if}>
                                开启中科在线吸粉功能
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">定制功能</div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="goodsPackage" id="goodsPackage" value="1" {if $settings['custom']['goodsPackage']['enabled']}checked{/if}>
                                商品套餐功能（该功能需要手机端特定皮肤支持）
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="mustFollow" id="mustFollow" value="1" {if $settings['custom']['mustFollow']['enabled']}checked{/if}>
                                购买商品需要先关注公众号（该功能需要手机端特定皮肤支持）
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="useAccountQRCode" id="useAccountQRCode" value="1" {if $settings['custom']['useAccountQRCode']['enabled']}checked{/if}>
                                使用授权公众号二维码替换屏幕设备二维码（关注公众号以后再进入设备页面）
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="DonatePay" id="DonatePay" value="1" {if $settings['custom']['DonatePay']['enabled']}checked{/if}>
                                启用轻松筹爱心捐款功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="zeroBonus" id="zeroBonus" value="1" {if $settings['custom']['bonus']['zero']['enabled']}checked{/if}>
                                启用随机零佣金功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="deviceBriefPage" id="deviceBriefPage" value="1" {if $settings['custom']['device']['brief-page']['enabled']}checked{/if}>
                                启用设备信息大屏功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="sponsorAd" id="sponsorAd" value="1" {if \zovye\App::isSponsorAdEnabled()}checked{/if}>
                                启用赞助商轮播广告功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="smsPromoEnabled" id="smsPromoEnabled" value="1" {if \zovye\App::isSmsPromoEnabled()}checked{/if}>
                                启用国外短信领取功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="teamEnabled" id="teamEnabled" value="1" {if \zovye\App::isTeamEnabled()}checked{/if}>
                                启用充电桩车队功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="flashEggEnabled" id="flashEggEnabled" value="1" {if \zovye\App::isFlashEggEnabled()}checked{/if}>
                                启用闪蛋定制功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="promoterEnabled" id="promoterEnabled" value="1" {if \zovye\App::isPromoterEnabled()}checked{/if}>
                                启用推销员佣金功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="GDCVMachineEnabled" id="GDCVMachineEnabled" value="1" {if \zovye\App::isGDCVMachineEnabled()}checked{/if}>
                                启用广东省避孕药具发放机接入功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="MultiGoodsItemEnabled" id="MultiGoodsItemEnabled" value="1" {if \zovye\App::isMultiGoodsItemEnabled()}checked{/if}>
                                启用商品包含多个物品功能（可设置每个商品实际参与佣金计算的物品数量）
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="getUserBalanceByMobileEnabled" id="getUserBalanceByMobileEnabled" value="1" {if \zovye\App::getUserBalanceByMobileEnabled()}checked{/if}>
                                启用使用手机号码打通用户积分
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="TKPromotingEnabled" id="TKPromotingEnabled" value="1" {if \zovye\App::isTKPromotingEnabled()}checked{/if}>
                                启用泰康保险推荐功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="longPressOrderEnabled" id="longPressOrderEnabled" value="1" {if \zovye\App::isLongPressOrderEnabled()}checked{/if}>
                                启用公众号长按自动出货功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="puaiEnabled" id="puaiEnabled" value="1" {if \zovye\App::isPuaiEnabled()}checked{/if}>
                                启用蒲爱定制功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="allCodeEnabled" id="allCodeEnabled" value="1" {if \zovye\App::isAllCodeEnabled()}checked{/if}>
                                允许扫码器创建免费订单
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="appOnlineBonusEnabled" id="appOnlineBonusEnabled" value="1" {if \zovye\App::isAppOnlineBonusEnabled()}checked{/if}>
                                启用根据APP在线时长计算代理商奖励功能
                            </label>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="deviceQoeBonusEnabled" id="deviceQoeBonusEnabled" value="1" {if \zovye\App::isDeviceQoeBonusEnabled()}checked{/if}>
                                启用根据设备电量支付代理商电费佣金功能
                            </label>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="page" value="ctrl">
        <input type="hidden" name="op" value="save">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20231125001')}"], function (zovye) {
        zovye.enableOp();
        zovye.enableCopy();
        zovye.setApiUrl("{php echo $this->createWebUrl('settings');}");
        zovye.op('reset', function(self, next) {
            if (confirm('确定要重置升级吗？')) {
                next();
            }
        })
        zovye.op('refresh', function(self, next) {
            if (confirm('确定要以当前域名刷新相关配置吗？')) {
                next();
            }
        })
        zovye.enableInputMask();
    });
    require(["{php \zovye\url(false, JS_VUE_URL);}"], function(Vue) {
        new Vue({
            el: "#app",
            data: {
                enabled: "{php echo $settings['app']['domain']['enabled'] ? 1 : 0}",
                list: [],
            },
            created() {
                {loop (array)$settings['app']['domain']['bak'] $url}
                this.list.push("{$url}")
                {/loop}
            },
            methods: {
                add() {
                    this.list.push('');
                },
                remove(i) {
                    this.list.splice(i, 1);
                }
            }
        })
    })
</script>
{template 'common/footer'}