{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20231125');}
<style>
    fieldset[disabled] label,
    fieldset[disabled] select,
    fieldset[disabled] input{
        color: gray;        
    }
    .imagelist, .mpnewslist {
        display: flex;
        flex-wrap: wrap;
    }
    .imagelist img, .mpnewslist img{
        width: 200px;
    }
    
    div[data-media_id] {
        position: relative;
        margin: 3px;
        border: 6px solid #fff;
        cursor: pointer;
        overflow: hidden;
    }
    
    div[data-media_id][selected] {
        border-color: #FF5722;
        box-shadow: 3px 3px 3px 0 grey;
    }
    
    div[data-media_id]:hover {
        background: rgba(158, 158, 158, 0.10);
        border-color: rgba(255, 152, 0, 0.6);
        box-shadow: 3px 3px 3px 0 grey;
    }
    
    div[data-media_id] span{
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(255, 152, 0, 0.6);
        color: #fff;
        width: 100%;
        text-align: center;
        text-shadow: 1px 1px #000;
    }
</style>
{template "web/settings/nav"}
<form action="{php echo $this->createWebUrl('settings');}" method="post" id="config-form">
    <div class="panel panel-default nav-tab-item">
        <div class="heading">
            <span class="operate">
            </span>
        </div>
        <div class="panel-body">
            <div class="seg"  id="special2">
                <div class="title">微擎会员积分</div>
                <div class="form-group">
                    <label for="special2" class="col-md-2 control-label">启用</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="we7credit" value="1" {if $settings['we7credit']['enabled']}checked{/if}>
                            使用微擎会员积分
                          </label>
                        </div>
                    </div>
                </div>
                <fieldset {if !$settings['we7credit']['enabled']}disabled{/if}>
                <div class="form-group">
                    <label for="credit_val" class="col-md-2 control-label">领取或购买后改变会员积分</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="credit_val" id="credit_val" value="{$settings['we7credit']['val']}">
                        <span class="help-block">* 会员免费领取或购买成功后，增加或者减少会员积分</span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-2 control-label">积分类型</label>
                    <div class="col-md-10">
                        <select name="credit_type" style="width: 100%;">
                            {loop $credit_types $index $typename}
                            <option value="{$typename}"{if $settings['we7credit']['type']==$typename} selected{/if}> {$typename} </option>
                            {/loop}
                        </select>
                        <span class="help-block">* 请指定微擎积分类型，默认使用微擎credit1积分</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="credit_require" class="col-md-2 control-label">领取最低积分要求</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="credit_require" id="credit_require" value="{$settings['we7credit']['require']}">
                        <span class="help-block">* 会员的积分低于最低要求值时，无法免费领取</span>
                    </div>
                </div>
                </fieldset>
            </div>
            <div class="seg">
                <div class="title">推送</div>
                <div class="form-group">
                    <label for="pushAccountMsg" class="col-md-2 control-label">领取或购买后推送公众号消息</label>
                    <div class="col-md-10">
                        <select class="col-md-9" id="pushAccountMsg" name="pushAccountMsg_type" style="width: 80%;">
                            <option value="none" {if empty($settings['misc']['pushAccountMsg_type']) || $settings['misc']['pushAccountMsg_type'] == 'none'}selected{/if}>不推送</option>
                            <option value="text" {if $settings['misc']['pushAccountMsg_type'] == 'text'}selected{/if}>文本</option>
                            <option value="image" {if $settings['misc']['pushAccountMsg_type'] == 'image'}selected{/if}>图片</option>
                            <option value="mpnews" {if $settings['misc']['pushAccountMsg_type'] == 'mpnews'}selected{/if}>图文</option>
                        </select>
                        <input type="hidden" name="pushAccountMsg_val" value="{$settings['misc']['pushAccountMsg_val']}">
                        <span class="col-md-2"><button type="button" class="btn btn-default" id="pushAccountMsgConfig">消息设置</button></span>
                    </div>                        
                </div>
                <fieldset id="pushAccountMsgDelayGroup" {if empty($settings['misc']['pushAccountMsg_type']) || $settings['misc']['pushAccountMsg_type']}disabled{/if}>
                    <div class="form-group">
                        <label for="pushAccountMsgDelay" class="col-md-2 control-label">延迟推送消息（秒）</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" name="pushAccountMsg_delay" id="pushAccountMsgDelay" value="{$settings['misc']['pushAccountMsg_delay']}">
                            <span class="help-block">* 用户领取或购买成功，　系统等待几秒后推送消息, 0表示不等待</span>
                        </div>
                    </div>                    
                </fieldset>
                <div class="form-group">
                    <label for="success_url" class="col-md-2 control-label">领取或购买<b>成功</b>后，转跳指定网址</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="success_url" id="success_url" value="{$settings['misc']['redirect']['success']['url']}">
                        <span class="help-block">* 空白表示不转跳</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fail_url" class="col-md-2 control-label">领取或购买<b>失败</b>后，转跳指定网址</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="fail_url" id="fail_url" value="{$settings['misc']['redirect']['fail']['url']}">
                        <span class="help-block">* 空白表示不转跳</span>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">分配设备</div>
                <div class="form-group">
                    <label for="advsAssignMultilMode" class="col-md-2 control-label">混合模式</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="advsAssignMultilMode" id="advsAssignMultilMode" value="1" {if $settings['advs']['assign']['multi']}checked{/if}>
                                分配设备时，允许混合选择设备
                          </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">活码</div>
                <div class="form-group">
                    <label for="default_url" class="col-md-2 control-label">缺省转跳网址</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="default_url" id="default_url" value="{$settings['misc']['qrcode']['default_url']}">
                        <span class="help-block">* 请以http://或者https://开头，用户没有匹配到任何转跳网址时，转跳到这个网址</span>
                    </div>
                </div>    
            </div>
            <div class="seg">
                <div class="title">数据大屏</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        销售数据
                    </label>
                    <div class="col-md-10">
                        <dev class="input-group">
                            <span class="form-control operate text-url"><i class="fa fa-paste" title="复制网址" data-url="{$data_url}"></i> {$data_url}</span>
                            <div class="input-group-addon operate" title="进入设置">
                                <a href="{php echo $this->createWebUrl('settings', ['page'=>'data_vw'])}"><i class="fa fa-gears"></i></a>
                            </div>
                        </dev>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">订单通知</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">API Key</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url"><i class="fa fa-paste" title="复制" data-url="{$app_key}"></i> {$notify_app_key}</span>
                        <input type="hidden" name="orderNotifyAppKey" value="{$app_key}"> 
                        <span class="help-block">* 用户第三方接口鉴别身份</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">订单类型</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="orderNotifyFree" value="free" {if $orderNotifyFree}checked{/if}> 免费订单
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="orderNotifyPay" value="pay" {if $orderNotifyPay}checked{/if}> 支付订单
                        </label>
                        <span class="help-block">* 请选择需要通知的订单类型</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="orderNotifyUrl" class="col-md-2 control-label">通知URL</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="orderNotifyUrl" id="orderNotifyUrl" value="{$order_notify_url}">
                        <span class="help-block">* 由第三方提供，当指定类型的订单创建后，调用此第三方接口。注：第三方接口返回字符串"Ok"（不包含引号）表示已处理</span>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">库存访问接口</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">API Key</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url"><i class="fa fa-paste" title="复制" data-url="{$inventory_access_key}"></i> {$inventory_access_key}</span>
                        <input type="hidden" name="inventoryAccessKey" value="{$inventory_access_key}">
                        <span class="help-block">* 用户于鉴别第三方用户身份</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">API URL</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url"><i class="fa fa-paste" title="复制网址" data-url="{$inventory_api_url}"></i> {$inventory_api_url}</span>
                        <span class="help-block">* 第三方调用该接口操作指定代理商库存数据，必要参数: mobile(代理商手机号码), goods(商品ID), num(变动数量), key(API key)</span>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">第三方接口</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">API网址</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url"><i class="fa fa-paste" title="复制网址" data-url="{$api_url}"></i> {$api_url}</span>
                        <span class="help-block">* 使用HTTP GET请求，必要参数：appkey，免费订单：device(设备编号)，user(第三方用户唯一UID)，支付订单：num(数量)，price(金额), orderUID(订单号))等等</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">API Key</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url"><i class="fa fa-paste" title="复制" data-url="{$app_key}"></i> {$app_key}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="account" class="col-md-2 control-label">公众号UID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="account" id="account" value="{$account}">
                        <span class="help-block">* 第三方APP请求产生的订单，关联到该公众号账号上，并受指定公众号的吸粉规则限制</span>
                    </div>
                </div> 
            </div>
            <div class="seg">
                <div class="title">设备上传</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">API URL</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="deviceUploadApiUrl" value="{$settings['device']['upload']['url']}">
                        <span class="help-block">* 设备信息上传的第三方接口地址，指定后可在设备页面一键上传设备信息</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">app key</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="deviceUploadAppKey" value="{$settings['device']['upload']['key']}">
                        <span class="help-block">* 第三方平台提供的appkey</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">app secret</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="deviceUploadAppSecret" value="{$settings['device']['upload']['secret']}">
                        <span class="help-block">* 第三方平台提供的appsecret</span>
                    </div>
                </div>
            </div>
            {if \zovye\App::isDonatePayEnabled()}
            <div class="seg">
                <div class="title">轻松筹爱心捐款</div>
                <div class="form-group">
                    <div class="form-group">
                        <label class="col-md-2 control-label">提示语</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="donatePayTitle" id="donatePayTitle" value="{$donatePay['title']}">
                            <span class="help-block">* 捐款入口提示语</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">说明文字</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="donatePayDesc" id="donatePayDesc" value="{$donatePay['desc']}">
                            <span class="help-block">* 捐款方式及用途说明文字</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">转跳网址</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="donatePayUrl" id="donatePayUrl" value="{$donatePay['url']}">
                            <span class="help-block">* 捐款支付页面URL，使用占位符{url}替换支付结果转跳页面URL</span>
                        </div>
                    </div>
                </div>
            </div>
            {/if}
            {if \zovye\App::isZeroBonusEnabled()}
            <div class="seg">
                <div class="title">零佣金</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">订单类型</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="zeroBonusOrderFree" value="free" {if empty($settings['custom']['bonus']['zero']['order']) || $settings['custom']['bonus']['zero']['order']['f']}checked{/if}> 免费订单
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="zeroBonusOrderPay" value="pay" {if empty($settings['custom']['bonus']['zero']['order']) || $settings['custom']['bonus']['zero']['order']['p']}checked{/if}> 支付订单
                        </label>
                        <span class="help-block">* 请勾选零佣金订单是否包括免费订单和支付订单</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zeroBonus" class="col-md-2 control-label">概率(%)</label>
                    <div class="col-md-10">
                        <input type="number" step="0.01" class="form-control" name="zeroBonus" id="zeroBonus" value="{$settings['custom']['bonus']['zero']['v']}">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            {/if}
            {if \zovye\App::isGDCVMachineEnabled()}
            <div class="seg">
                <div class="title">广东省避孕药具发放机接入</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">API URL</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="GDCVMachineApiUrl" value="{$GDCVMachine['url']}">
                        <span class="help-block">* 平台API网址</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">厂家代号</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="GDCVMachineAgentCode" value="{$GDCVMachine['agent']}">
                        <span class="help-block">* 平台提供的厂家代号</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">appId</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="GDCVMachineAppId" value="{$GDCVMachine['appId']}">
                        <span class="help-block">* 平台提供给厂商的appId</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">token</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="GDCVMachineToken" value="{$GDCVMachine['token']}">
                        <span class="help-block">* 平台提供给厂商的token</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">免费赠送关联公众号</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="GDCVMachineAccountUID" value="{$GDCVMachine['account']}">
                        <span class="help-block">* 填写公众号UID，免费领取用户的限制使用该公众号的限制规则，未设置用户无法免费领取</span>
                    </div>
                </div>
            </div>
            {/if}
            {if \zovye\App::isTKPromotingEnabled()}
            <div class="seg">
                <div class="title">泰康保险</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">app id</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="TKAppId" value="{$Tk['id']}">
                        <span class="help-block">* 泰康分配的app id</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">app secret</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="TKAppSecret" value="{$Tk['secret']}">
                        <span class="help-block">* 泰康分配的app secret</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">关联公众号</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="TKAccountUID" value="{$Tk['account_uid']}">
                        <span class="help-block">* 填写公众号UID，使用该公众号的限制规则，未设置用户无法领取</span>
                    </div>
                </div>
            </div>
            {/if}
        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="page" value="misc">
        <input type="hidden" name="op" value="save">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
<script>
    const title = {
        text: '设置文本',
        image: '选择图片',
        mpnews: '设置图文',
    }
    
    function change_btn_status(){
        const typename = $('#pushAccountMsg').val();
        $('fieldset#pushAccountMsgDelayGroup').attr('disabled', typename === 'none');
        if(typename === 'none') {
            $('#pushAccountMsgConfig').hide();
        } else {
            $('#pushAccountMsgConfig').show();
            $('#pushAccountMsgConfig').text(title[typename]);
            $('#pushAccountMsgConfig').data('type', typename);
            const media = $('input[name=pushAccountMsg_val]').data('media');
            $('#pushAccountMsgConfig').removeClass('btn-default btn-danger btn-success').
            addClass(media && media.type === typename ? 'btn-success' : 'btn-danger');
        }
    }
    
    function saveMsgText() {
        const text = $('input[id=msgText]').val();
        $('input[name=pushAccountMsg_val]').data('media', {
            type: 'text',
            val: text,
        })
        change_btn_status();
        $('#modal-message').modal('hide');
    }
    
    $(function(){
        $('[data-url]').each(function(){
              util.clip(this, $(this).data('url'));
        })
        $('#special2 input[name=we7credit]').click(function(){
            $('#special2 fieldset').attr('disabled', !$(this).is(':checked'));
        })
        const media = JSON.parse(`{php echo json_encode($media);}`);
        if(media) {
            $('input[name=pushAccountMsg_val]').data('media', media);
        }

        $('#config-form').submit(function(){
            const typename = $('[name=pushAccountMsg_type]').val();
            const media = $('input[name=pushAccountMsg_val]').data('media');
            if(typename !== 'none' && (!media || typename !== media.type)) {
                $('#pushAccountMsgConfig').trigger('click');
                return false;
            }
            $('input[name=pushAccountMsg_val]').val(media.val);
            return true;
        });
        
        $('body').on('click', 'div[data-media_id]', function(){
            const media_id = $(this).data('media_id');
            $('input[name=pushAccountMsg_val]').data('media', {
                type: $('#pushAccountMsg').val(),
                val: media_id,
            })
            change_btn_status();
            $('#modal-message').modal('hide');
        })
        
        $('#pushAccountMsgConfig').click(function(){
            const typename = $(this).data('type');
            const media = $('input[name=pushAccountMsg_val]').data('media');
            $.getJSON("{php echo $this->createWebUrl('settings')}", {op:'accountMsgConfig', typename: typename, media: media}).then(function(res){
                if(res) {
                    if(res.status) {
                        const dlg = util.dialog(res.data.title || '设置', res.data.content);
                        dlg.modal('show')
                    }else{
                        if(res.data && res.data.msg) {
                            util.message(res.data.msg, '', 'error');
                        }
                    }
                }
            })
        })

        $('#pushAccountMsg').change(function(){
            change_btn_status();
            $('input[name=pushAccountMsg_val]').val('');
        })

        change_btn_status();
    })
</script>
{template 'common/footer'}