{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    .btn-success {
        background-color: #9E9E9E;
        border-color: #9E9E9E;
    }
    .btn-danger {
        background-color: #9E9E9E;
        border-color: #9E9E9E;
    }    
</style>
{template "web/settings/nav"}
<form action="{php echo $this->createWebUrl('settings');}" method="post">
    <div class="panel panel-default nav-tab-item">
        <div class="panel-body">
            <div class="seg">
                <div class="title">短信接口设置</div>
                   <div class="form-group">
                        <label for="smsAppkey" class="col-md-2 control-label">AppKey</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control inputMask" name="smsAppkey" id="smsAppkey" value="{$settings['notice']['sms']['appkey']}">
                            <span class="help-block">* 默认使用聚合短信服务</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-2 control-label">短信API接口</label>
                        <div class="col-md-10" style="color:gray;">
                           <span>{$settings['notice']['sms']['url']}</span>
                        </div>
                    </div>
                <div class="form-group">
                    <label for="smsAppkey" class="col-md-2 control-label">短信验证码模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control inputMask" name="smsVerify" id="smsVerify" value="{$settings['notice']['sms']['verify']}">
                    </div>
                </div>
            </div>
            {if \zovye\App::isFuelingDeviceEnabled()}
            <div class="seg">
                <div class="title">订单通知</div>
                <div class="form-group">
                    <label for="order_tplid" class="col-md-2 control-label">微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="order_tplid" id="order_tplid" value="{$settings['notice']['order_tplid']}">
                        <span class="help-block">* 新订单结算后，通过微信公众号给<b>代理商</b>推送通知</span>
                    </div>
                </div>          
            </div>
            {/if}
            <div class="seg">
                <div class="title">缺货通知</div>
                <div class="form-group">
                    <label for="remainWarningDelay" class="col-md-2 control-label">通知间隔（小时）</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="remainWarningDelay" id="remainWarningDelay" value="{$settings['notice']['delay']['order']}">
                        <span class="help-block">* 默认一小时之内不重复通知</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="reload_tplid" class="col-md-2 control-label">微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="reload_tplid" id="reload_tplid" value="{$settings['notice']['reload_tplid']}">
                        <span class="help-block">* 当设备需要补货时，通过微信公众号给<b>代理商</b>推送通知</span>
                    </div>
                </div>                 
                <div class="form-group">
                    <label for="reloadSMSTplid" class="col-md-2 control-label">短信通知模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="reloadSMSTplid" id="reloadSMSTplid" value="{$settings['notice']['reload_smstplid']}">
                        <span class="help-block">* 当设备需要补货时，通过短信给<b>运营人员</b>发送短信通知</span>
                    </div>
                </div>               
            </div>
            <div class="seg">
                <div class="title">设备故障</div>
                <div class="form-group">
                    <label for="deviceErrorDelay" class="col-md-2 control-label">通知间隔（小时）</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="deviceErrorDelay" id="deviceErrorDelay" value="{$settings['notice']['delay']['deviceerr']}">
                        <span class="help-block">* 默认一小时之内不重复通知</span>
                    </div>
                </div>                
                <div class="form-group">
                    <label for="deviceErrorTplid" class="col-md-2 control-label">微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="deviceErrorTplid" id="deviceErrorTplid" value="{$settings['notice']['deviceerr_tplid']}">
                        <span class="help-block">* 当设备发生异常时，通过微信公众号给<b>代理商</b>推送通知</span>
                    </div>
                </div>                 
            </div>
            <div class="seg">
                <div class="title">设备上线下线</div>
                <div class="form-group">
                    <label for="deviceOnlineDelay" class="col-md-2 control-label">通知间隔（分）</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="deviceOnlineDelay" id="deviceOnlineDelay" value="{$settings['notice']['delay']['deviceOnline']}">
                        <span class="help-block">* 默认一秒之内不重复通知</span>
                    </div>
                </div>                
                <div class="form-group">
                    <label for="deviceErrorTplid" class="col-md-2 control-label">微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="deviceOnlineTplid" id="deviceOnlineTplid" value="{$settings['notice']['deviceOnline_tplid']}">
                        <span class="help-block">* 当设备上下线时，通过微信公众号给<b>代理商</b>推送通知</span>
                    </div>
                </div>                 
            </div>
            <div class="seg">
                <div class="title">代理申请</div>
                <div class="form-group">
                    <label for="agentReqTplid" class="col-md-2 control-label">代理申请通知<br/>微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="agentReqTplid" id="agentReqTplid" value="{$settings['notice']['agentReq_tplid']}">
                        <span class="help-block">* 用户提交代理申请后，通过微信公众号给<b>管理员</b>推送通知</span>
                    </div>
                </div>                
                <div class="form-group">
                    <label for="agentResultTplid" class="col-md-2 control-label">代理申请结果<br/>微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="agentResultTplid" id="agentResultTplid" value="{$settings['notice']['agentresult_tplid']}">
                        <span class="help-block">* 当代理商申请通过后，通过微信公众号给<b>用户</b>推送通知</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="authorizedAdminUser" class="col-md-2 control-label">审核管理员</label>
                    <div class="col-md-8">
                        <input type="hidden" name="authorizedAdminUser" value="{$settings['notice']['authorizedAdminUser']['id']}">
                        <input type="text" class="form-control" id="authorizedAdminUser" value="{$settings['notice']['authorizedAdminUser']['nickname']}" readonly>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success" onclick="showAuthUserDlg()" title="搜索管理员"><i class="fa fa-user"></i></button>
                        <button type="button" class="btn btn-danger" onclick="setAuthAdmin()" title="清除管理员"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>

            <div class="seg">
                <div class="title">提现审核</div>
                <div class="form-group">
                    <label for="withdrawTplid" class="col-md-2 control-label">提现审核申请<br/>微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="withdrawTplid" id="withdrawTplid" value="{$settings['notice']['withdraw_tplid']}">
                        <span class="help-block">* 代理商申请提现，通过微信公众号给<b>管理员</b>推送通知</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="withdrawAdminUser" class="col-md-2 control-label">指定用户</label>
                    <div class="col-md-8">
                        <input type="hidden" name="withdrawAdminUser" value="{$settings['notice']['withdrawAdminUser']['id']}">
                        <input type="text" class="form-control" id="withdrawAdminUser" value="{$settings['notice']['withdrawAdminUser']['nickname']}" readonly>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success" onclick="showWithdrawDlg()" title="搜索用户"><i class="fa fa-user"></i></button>
                        <button type="button" class="btn btn-danger" onclick="setWithdraw()" title="清除用户"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">广告审核</div>
                <div class="form-group">
                    <label for="advReviewTplid" class="col-md-2 control-label">广告审核申请<br/>微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="advReviewTplid" id="advReviewTplid" value="{$settings['notice']['advReviewTplid']}">
                        <span class="help-block">* 代理商上传或修改广告后，通过微信公众号给<b>管理员</b>推送通知</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="advReviewResultTplid" class="col-md-2 control-label">广告审核结果<br/>微信消息模板ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="advReviewResultTplid" id="advReviewResultTplid" value="{$settings['notice']['advReviewResultTplid']}">
                        <span class="help-block">* 管理员审核广告结果，通过微信公众号给<b>代理商</b>推送通知</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="reviewAdminUser" class="col-md-2 control-label">审核管理员</label>
                    <div class="col-md-8">
                        <input type="hidden" name="reviewAdminUser" value="{$settings['notice']['reviewAdminUser']['id']}">
                        <input type="text" class="form-control" id="reviewAdminUser" value="{$settings['notice']['reviewAdminUser']['nickname']}" readonly>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success" onclick="showUserDlg()" title="搜索管理员"><i class="fa fa-user"></i></button>
                        <button type="button" class="btn btn-danger" onclick="setAdmin()" title="清除管理员"><i class="fa fa-times"></i></button>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="page" value="notice">
        <input type="hidden" name="op" value="save">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
<script>
    $(function(){
        const maskE = $('<div title="点击编辑">×××已隐藏×××</div>');
        $('form .inputMask').each(function(){
            const self = $(this);
            const x = maskE.clone();
            x.attr('class', self.attr('class')).click(function(){
                x.hide();
                self.show().focus();
            })
            x.insertBefore(self);
            self.removeClass('inputMask').hide();
            self.blur(function(){
                x.show();
                self.hide();
            })
        })
    })
</script>
{template 'web/common/search_user'}
<script>
    searchDlg.init('user', function(admin, typename){
        if(admin && admin.id) {
            if(typename === 'auth') {
                setAuthAdmin(admin.id, admin.nickname)
            }else if (typename === 'review') {
                setAdmin(admin.id, admin.nickname)
            } else if (typename === 'withdraw') {
                setWithdraw(admin.id, admin.nickname)
            }
        }
    })
    
    function setAuthAdmin(id, nickname) {
        $('input[name=authorizedAdminUser]').val(id);
        $('input[id=authorizedAdminUser]').val(nickname);
    }
    function showAuthUserDlg() {
        searchDlg.choose('auth');
    }   
    function setAdmin(id, nickname) {
        $('input[name=reviewAdminUser]').val(id);
        $('input[id=reviewAdminUser]').val(nickname);
    }
    function showUserDlg() {
        searchDlg.choose('review');
    }

    function setWithdraw(id, nickname) {
        $('input[name=withdrawAdminUser]').val(id);
        $('input[id=withdrawAdminUser]').val(nickname);
    }
    function showWithdrawDlg() {
        searchDlg.choose('withdraw');
    }
</script>
{template 'common/footer'}