{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
<style>
    .btn-success {
        background-color: #9E9E9E;
        border-color: #9E9E9E;
    }
    .btn-danger {
        background-color: #9E9E9E;
        border-color: #9E9E9E;
    }    
</style>
{template "web/settings/nav"}
<form action="{php echo $this->createWebUrl('settings');}" method="post">
    <div class="panel panel-default nav-tab-item">
        <div class="panel-body">
            <div class="seg">
                <div class="title">订单通知</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">选择事件</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="orderSucceed" value="1" {if $config['order']['type']['succeed']}checked{/if}> 成功订单
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="orderFailed" value="1" {if $config['order']['type']['failed']}checked{/if}> 异常订单
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">通知对象</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="agentForOrder" value="1" {if $config['order']['target']['agent']}checked{/if}> 代理商
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="keeperForOrder" value="1" {if $config['order']['target']['keeper']}checked{/if}> 运营人员
                        </label>
                        <span class="help-block">* 订单创建后，通过微信公众号给指定人员推送通知</span>
                    </div>
                </div>     
            </div>
            <div class="seg">
                <div class="title">设备事件</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">选择事件</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="deviceOnline" value="1" {if $config['device']['event']['online']}checked{/if}> 上线
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="deviceOffline" value="1" {if $config['device']['event']['offline']}checked{/if}> 下线
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="deviceError" value="1" {if $config['device']['event']['error']}checked{/if}> 故障
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="deviceLowBattery" value="1" {if $config['device']['event']['low_battery']}checked{/if}> 电量低
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="deviceLowReamin" value="1" {if $config['device']['event']['low_remain']}checked{/if}> 缺货
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">通知对象</label>
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="agentForDevice" value="1" {if $config['device']['target']['agent']}checked{/if}> 代理商
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="keeperForDevice" value="1" {if $config['device']['target']['keeper']}checked{/if}> 运营人员
                        </label>
                        <span class="help-block">* 当设备发生特定事件时，通过微信公众号给指定人员推送通知</span>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">代理申请</div>
                <div class="form-group">
                    <label for="authorizedAdminUser" class="col-md-2 control-label">审核管理员</label>
                    <div class="col-md-8">
                        <input type="hidden" name="authorizedAdminUser" value="{$config['auth']['user']['id']}">
                        <input type="text" class="form-control" id="authorizedAdminUser" value="{$config['auth']['user']['name']}" readonly>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success" onclick="showAuthUserDlg()" title="搜索管理员"><i class="fa fa-user"></i></button>
                        <button type="button" class="btn btn-danger" onclick="setAuthAdmin()" title="清除管理员"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>

            <div class="seg">
                <div class="title">提现审核</div>
                <div class="form-group">
                    <label for="withdrawAdminUser" class="col-md-2 control-label">指定用户</label>
                    <div class="col-md-8">
                        <input type="hidden" name="withdrawAdminUser" value="{$config['withdraw']['user']['id']}">
                        <input type="text" class="form-control" id="withdrawAdminUser" value="{$config['withdraw']['user']['name']}" readonly>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success" onclick="showWithdrawDlg()" title="搜索用户"><i class="fa fa-user"></i></button>
                        <button type="button" class="btn btn-danger" onclick="setWithdraw()" title="清除用户"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">广告审核</div>
                <div class="form-group">
                    <label for="reviewAdminUser" class="col-md-2 control-label">审核管理员</label>
                    <div class="col-md-8">
                        <input type="hidden" name="reviewAdminUser" value="{$config['review']['user']['id']}">
                        <input type="text" class="form-control" id="reviewAdminUser" value="{$config['review']['user']['name']}" readonly>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success" onclick="showUserDlg()" title="搜索管理员"><i class="fa fa-user"></i></button>
                        <button type="button" class="btn btn-danger" onclick="setAdmin()" title="清除管理员"><i class="fa fa-times"></i></button>
                    </div>
                </div>                
            </div>    
        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="page" value="notice">
        <input type="hidden" name="op" value="save">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
<script>
    $(function(){
        const maskE = $('<div title="点击编辑">×××已隐藏×××</div>');
        $('form .inputMask').each(function(){
            const self = $(this);
            const x = maskE.clone();
            x.attr('class', self.attr('class')).click(function(){
                x.hide();
                self.show().focus();
            })
            x.insertBefore(self);
            self.removeClass('inputMask').hide();
            self.blur(function(){
                x.show();
                self.hide();
            })
        })
    })
</script>
{template 'web/common/search_user'}
<script>
    searchDlg.init('user', function(admin, typename){
        if(admin && admin.id) {
            if(typename === 'auth') {
                setAuthAdmin(admin.id, admin.nickname)
            }else if (typename === 'review') {
                setAdmin(admin.id, admin.nickname)
            } else if (typename === 'withdraw') {
                setWithdraw(admin.id, admin.nickname)
            }
        }
    })
    
    function setAuthAdmin(id, nickname) {
        $('input[name=authorizedAdminUser]').val(id);
        $('input[id=authorizedAdminUser]').val(nickname);
    }
    function showAuthUserDlg() {
        searchDlg.choose('auth');
    }   
    function setAdmin(id, nickname) {
        $('input[name=reviewAdminUser]').val(id);
        $('input[id=reviewAdminUser]').val(nickname);
    }
    function showUserDlg() {
        searchDlg.choose('review');
    }

    function setWithdraw(id, nickname) {
        $('input[name=withdrawAdminUser]').val(id);
        $('input[id=withdrawAdminUser]').val(nickname);
    }
    function showWithdrawDlg() {
        searchDlg.choose('withdraw');
    }
</script>
{template 'common/footer'}