{template 'common/header'}
{if DEBUG}
<!--<div class="alert alert-warning alert-dismissible" role="alert">-->
<!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--  <strong>警告，</strong> 模块当前处于调试模式！请修改模块目录下，zovye/include/constants.php中的DEBUG常量值！-->
<!--</div>-->
{/if}
{php \zovye\url(true, 'static/css/common.css?v=20231125001');}
<style>
    [data-op] {
        cursor: pointer;
    }
</style>
{template "web/settings/nav"}
<form action="{php echo $this->createWebUrl('settings');}" method="post">
    <div class="panel panel-default nav-tab-item" id="special">
        <div class="heading">
            <span class="operate">
            </span>
        </div>
        <div class="panel-body">
            <div class="seg">
                <div class="title">扫呗</div>
                <div class="form-group">
                    <label for="lcsw" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lcsw" id="lcsw" value="1" {if $payment['lcsw']}checked{/if}>
                                是否启用
                            </label>
                        </div>
                    </div>
                </div>
                <fieldset {if empty($payment['lcsw'])}disabled{/if} name="lcsw">
                    <div class="form-group">
                        <label for="merchant_no" class="col-md-2 control-label">商户号</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="merchant_no" id="merchant_no" value="{$payment['lcsw']['merchant_no']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="terminal_id" class="col-md-2 control-label">终端号</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="terminal_id" id="terminal_id" value="{$payment['lcsw']['terminal_id']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="access_token" class="col-md-2 control-label">密钥</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control inputMask" name="access_token" id="access_token" value="{$payment['lcsw']['access_token']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">场景</label>
                        <div class="col-md-10">
                            <label class="checkbox-inline" title="用户使用微信公众号支付时，是否使用扫呗收款">
                                <input type="checkbox" name="lcswWxH5" value="1" {if empty($payment['lcsw']) || $payment['lcsw']['app']['wx']['h5']}checked{/if}>
                                微信h5
                            </label>
                            <label class="checkbox-inline" title="用户使用微信小程序支付时，是否使用扫呗收款">
                                <input type="checkbox" name="lcswWxMiniApp" value="1" {if empty($payment['lcsw']) || $payment['lcsw']['app']['wx']['mini_app']}checked{/if}>
                                微信小程序
                            </label>
                            <label class="checkbox-inline" title="用户使用支付宝支付时，是否使用扫呗收款">
                                <input type="checkbox" name="lcswAli" value="1" {if empty($payment['lcsw']) || $payment['lcsw']['app']['ali']}checked{/if}>
                                支付宝
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="seg">       
                {if $payment['SQB']}
                <div class="title">收钱吧</div>
                <div class="form-group">
                    <label for="SQB" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="SQB" id="SQB" value="1" checked>
                                是否启用
                            </label>
                        </div>
                    </div>
                </div>
                <fieldset name="SQB">
                    <div class="form-group">
                        <label for="vendor_key" class="col-md-2 control-label">终端名称</label>
                        <div class="col-md-10">
                            <span class="form-control">{$payment['SQB']['title']}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vendor_key" class="col-md-2 control-label">终端号</label>
                        <div class="col-md-10">
                            <span class="form-control">{$payment['SQB']['sn']}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-md-2 control-label">终端密钥</label>
                        <div class="col-md-10">
                            <span class="form-control inputMask">{$payment['SQB']['key']}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">场景</label>
                        <div class="col-md-10">
                            <label class="checkbox-inline" title="用户使用微信公众号支付时，是否使用收钱吧收款">
                                <input type="checkbox" name="SQBWxH5" value="1" {if $payment['SQB']['app']['wx']['h5']}checked{/if}>
                                微信h5
                            </label>
                            <label class="checkbox-inline" title="用户使用微信小程序支付时，是否使用收钱吧收款">
                                <input type="checkbox" name="SQBWxMiniApp" value="1" {if $payment['SQB']['app']['wx']['mini_app']}checked{/if}>
                                微信小程序
                            </label>
                            <label class="checkbox-inline" title="用户使用支付宝支付时，是否使用收钱吧收款">
                                <input type="checkbox" name="SQBAli" value="1" {if $payment['SQB']['app']['ali']}checked{/if}>
                                支付宝
                            </label>
                        </div>
                    </div>
                </fieldset>
                {else}
                <div class="title">收钱吧</div>
                <div class="form-group">
                    <label for="SQB" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="SQB" id="SQB" value="1">
                                是否启用
                            </label>
                        </div>
                    </div>
                </div>
                <fieldset name="SQB" disabled>
                    <div class="form-group">
                        <label for="vendor_sn" class="col-md-2 control-label">AppID</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="app_id" value="">
                            <span class="help-block">* 服务商AppID，仅用于激活，*** 不会保存到当前系统中 ***</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vendor_sn" class="col-md-2 control-label">序列号</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="vendor_sn" id="vendor_sn" value="">
                            <span class="help-block">* 服务商序列号，仅用于激活，*** 不会保存到当前系统中 ***</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vendor_key" class="col-md-2 control-label">密钥</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="vendor_key" id="vendor_key">
                            <span class="help-block">* 服务商密钥，仅用于激活，*** 不会保存到当前系统中 ***</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-md-2 control-label">激活码</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="code" id="code">
                            <span class="help-block">* 终端激活码，服务商后台生成</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">场景</label>
                        <div class="col-md-10">
                            <label class="checkbox-inline" title="用户使用微信公众号支付时，是否使用收钱吧收款">
                                <input type="checkbox" name="SQBWxH5" value="1" checked>
                                微信h5
                            </label>
                            <label class="checkbox-inline" title="用户使用微信小程序支付时，是否使用收钱吧收款">
                                <input type="checkbox" name="SQBWxMiniApp" value="1" checked>
                                微信小程序
                            </label>
                            <label class="checkbox-inline" title="用户使用支付宝支付时，是否使用收钱吧收款">
                                <input type="checkbox" name="SQBAli" value="1" checked>
                                支付宝
                            </label>
                        </div>
                    </div>
                </fieldset>
                {/if}
            </div>
            <div class="seg">
                <div class="title">微信支付</div>
                <div class="form-group">
                    <label for="wx" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="wx" id="wx" value="1" {if $payment['wx']}checked{/if}>
                                是否启用
                            </label>
                        </div>
                    </div>
                </div>
                <fieldset {if empty($payment['wx'])}disabled{/if} name="wx">
                <div class="form-group">
                    <label for="wxAppID" class="col-md-2 control-label">公众号 appID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="wxAppID" id="wxAppID" value="{$payment['wx']['appid']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wxxAppID" class="col-md-2 control-label">小程序 appID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="wxxAppID" id="wxxAppID" value="{$payment['wx']['wxappid']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wxMCHID" class="col-md-2 control-label">主商户号</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="wxMCHID" id="wxMCHID" value="{$payment['wx']['mch_id']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wxSubMCHID" class="col-md-2 control-label">子商户号（可选）</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="wxSubMCHID" id="wxSubMCHID" value="{$payment['wx']['sub_mch_id']}">
                        <span class="help-block">* 如果使用商户模式，请填写子商户号。注意：只有v3版本的微信支付支持。</span>
                    </div>
                </div>
                <div class="seg-divider">
                    <span class="mark">v2</span>
                </div>
                <div class="form-group">
                    <label for="wxApiKey" class="col-md-2 control-label">API密钥(v2)</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control inputMask" name="wxApiKey" id="wxApiKey" value="{$payment['wx']['key']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="keyPEM" class="col-md-2 control-label">商户API私钥(v2)</label>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control inputMask" name="keyPEM" id="keyPEM">{$payment['wx']['pem']['key']}</textarea>
                        <span class="help-block">* 用于微信退款及打款操作，PEM格式</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="certPEM" class="col-md-2 control-label">微信平台证书(v2)</label>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control inputMask" name="certPEM" id="certPEM">{$payment['wx']['pem']['cert']}</textarea>
                        <span class="help-block">*用于微信退款及打款操作，PEM格式</span>
                    </div>
                </div>
                <div class="seg-divider">
                    <span class="mark">v3</span>
                </div>
                <div class="form-group">
                    <label for="v3Serial" class="col-md-2 control-label">证书序列号(v3)</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="v3Serial" id="v3Serial" value="{$payment['wx_v3']['serial']}">
                        <span class="help-block">* 商户API证书的序列号</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="V3key" class="col-md-2 control-label">商户API私钥(v3)</label>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control inputMask" name="V3key" id="V3key">{$payment['wx_v3']['pem']['key']}</textarea>
                        <span class="help-block">*  商户API私钥，要求pem格式</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="wxApiV3Key" class="col-md-2 control-label">API密钥(v3)</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control inputMask" name="wxApiV3Key" id="wxApiV3Key" value="{$payment['wx_v3']['key']}">
                    </div>
                </div>
                <div class="form-group operate">
                    <label for="V3cert" class="col-md-2 control-label">
                        微信平台证书(v3)
                    </label>
                    <div class="col-md-10">
                        {if $payment['wx_v3']['pem']['cert']}
                        <textarea type="text" class="form-control inputMask" name="V3cert" id="V3cert" readonly>
                            {$payment['wx_v3']['pem']['cert']['data']}
                        </textarea>
                        <span class="help-block">
                            * 序列号：{$payment['wx_v3']['pem']['cert']['serial_no']}，过期时间：{$payment['wx_v3']['pem']['cert']['expire_time']} <span data-op="refresh_wx_platform_cert" title="重新加载微信平台证书">.</span>
                        </span>
                        {else}
                        <span class="help-block">
                            {if $wx_v3_sdk_installed}
                            请先设置其它必要参数，然后再点击<b data-op="refresh_wx_platform_cert">更新证书</b>
                            {else}
                            请先安装微信v3 sdk！
                            {/if}
                        </span>
                        {/if}
                    </div>
                </div>
                </fieldset>
            </div>
            <div class="seg">
                <div class="title">支付宝 H5</div>
                <div class="form-group">
                    <label for="ali_appid" class="col-md-2 control-label">appID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="ali_appid" id="ali_appid" value="{$settings['ali']['appid']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ali_pubkey" class="col-md-2 control-label">支付宝公钥</label>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control inputMask" name="ali_pubkey" id="ali_pubkey">{$settings['ali']['pubkey']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ali_prikey" class="col-md-2 control-label">密钥</label>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control inputMask" name="ali_prikey" id="ali_prikey">{$settings['ali']['prikey']}</textarea>
                    </div>
                </div>
            </div>

            <div class="seg">
                <div class="title">支付宝 小程序</div>

                <div class="form-group">
                    <label for="alixapp_id" class="col-md-2 control-label">appID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="alixapp_id" id="alixapp_id" value="{$settings['alixapp']['id']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="alixapp_pubkey" class="col-md-2 control-label">支付宝公钥</label>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control inputMask" name="alixapp_pubkey" id="alixapp_pubkey">{$settings['alixapp']['pubkey']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="alixapp_prikey" class="col-md-2 control-label">密钥</label>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control inputMask" name="alixapp_prikey" id="alixapp_prikey">{$settings['alixapp']['prikey']}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="page" value="payment">
        <input type="hidden" name="op" value="save">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
<script>
    require(["{php \zovye\url(false, 'static/js/zovye.min.js?v=20231125001')}"], function (zovye) {
        zovye.enableInputMask();
        zovye.enableCopy();
        zovye.enableOp();
    })

    $(function(){
        $('#special input[name=userLocationEnabled]').click(function(){
            $('#special fieldset').attr('disabled', !$(this).is(':checked'));
        })

        $('#special input[name=wx]').click(function(){
            $('#special fieldset[name=wx]').attr('disabled', !$(this).is(':checked'));
        })

        $('#special input[name=lcsw]').click(function(){
            $('#special fieldset[name=lcsw]').attr('disabled', !$(this).is(':checked'));
        })

        $('#special input[name=SQB]').click(function(){
            $('#special fieldset[name=SQB]').attr('disabled', !$(this).is(':checked'));
        })
    })
</script>
{template 'common/footer'}