<form class="form-horizontal seg" id="rewardConfigForm">
    <div class="form-group">
        <label class="col-xs-12 col-md-2 col-md-2 control-label">分级奖励方式</label>
        <div class="col-md-8 col-md-8 col-lg-8 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" name="rewardWay" id="rewardWay0" value="day" {if $config['w'] == 'day'}checked{/if}>
                每天 <span style="color:gray;">（按用户每天观看的广告数量计算）</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="rewardWay" id="rewardWay1" value="all"  {if empty($config['w']) || $config['w'] == 'all'}checked{/if}>
               累计 <span style="color:gray;">（按用户观看的全部广告数量计算）</span>
              </label>
            </div>
        </div>
    </div>
    <div class="form-group" v-for="(level, i) in levels">
        <label for="rewardAdsNum0" class="col-md-2 control-label">
            <span class="level-title">{{i+1}}级</span>积分奖励 <img src="{MODULE_URL}static/img/coin.svg" class="balance">
        </label>
        <div class="col-md-5">
            <input type="number" class="form-control" :name="'rewardAdsNumLevel'+i" :id="'rewardAdsNumLevel'+i" :min="0" v-model.number="level['advs']" title="广告数量">
            <span class="help-block" v-text="'* ' + getHelpText(i)"></span>
        </div>
        <div class="col-md-5">
            <input type="number" class="form-control" :name="'rewardBonusLevel'+i" :id="'rewardBonusLevel'+i" :min="0" v-model.number="level['bonus']" title="奖励积分数量">
            <span class="help-block">* 奖励积分数量</span>
        </div>
    </div>
    <div class="form-group">
        <label for="rewardBonusLimit" class="col-md-2 control-label">每日限额（次）</label>
        <div class="col-md-10">
            <input type="number" class="form-control" name="rewardBonusLimit" id="rewardBonusLimit" value="{php echo intval($config['limit'])}" min="0">
            <span class="help-block">* 限制每天可以获得奖励的最大次数，０表示不限制</span>
        </div>
    </div>
    <div class="form-group">
        <label for="rewardBonusMax" class="col-md-2 control-label">全部限额（次）</label>
        <div class="col-md-10">
            <input type="number" class="form-control" name="rewardBonusMax" id="rewardBonusMax" value="{php echo intval($config['max'])}" min="0">
            <span class="help-block">* 限制单个用户最多可以获得奖励的次数，０表示不限制</span>
        </div>
    </div>
    <div class="seg-divider"></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align: right;">
            <button type="button" class="btn btn-primary" data-op="saveRewardConfig">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
        </div>
    </div>
</form>
<script>
    require(['jquery', '{php \zovye\url(false, JS_VUE_URL);}'], function($, Vue) {
        new Vue({
            el: "#rewardConfigForm",
            data: {
                levels: [
                    {
                        advs: parseInt("{php echo intval($config['bonus']['level0']['max'])}"),
                        bonus: parseInt("{php echo intval($config['bonus']['level0']['v'])}"),
                    },
                    {
                        advs: parseInt("{php echo intval($config['bonus']['level1']['max'])}"),
                        bonus: parseInt("{php echo intval($config['bonus']['level1']['v'])}"),
                    },
                    {
                        advs: parseInt("{php echo intval($config['bonus']['level2']['max'])}"),
                        bonus: parseInt("{php echo intval($config['bonus']['level2']['v'])}"),
                    },
                ],
            },
            watch: {
                ['levels.[0].advs'](v, o) {
                    if (typeof v != 'number') {
                        v = 0;
                    }
                    this.level[0].advs = v < 0 ? o : v;
                },
                ['levels.[1].advs'](v, o) {
                    if (typeof v != 'number') {
                        v = 0;
                    }
                    this.level[1].advs = v < 0 ? o : v;
                },
                ['levels.[2].advs'](v, o) {
                    if (typeof v != 'number') {
                        v = 0;
                    }
                    this.level[2].advs = v < 0 ? o : v;
                },
            },
            methods: {
                getHelpText(level) {
                    let s_advs = 0;
                    if (level > 0) {
                        for(let i = 0; i < level; i ++) {
                            s_advs += this.levels[i]['advs'];
                        }
                        s_advs += 1;
                    } else {
                        s_advs = 1;
                    }
                    
                    if (!this.levels[level]['advs']) {
                        return '忽略';
                    }

                    const advs = level > 0 ? s_advs + this.levels[level]['advs'] -  1: this.levels[level]['advs'];
                    const bonus = this.levels[level]['bonus'];
                    if (advs > 0 && bonus > 0) {
                        return advs == s_advs ? `第${s_advs}个广告，用户获得${bonus}个积分奖励`:`第${s_advs} - ${advs}个广告，用户获得${bonus}个积分奖励`;
                    }
                    if (advs <= 0) {
                        return '';
                    }
                    return s_advs == advs ? `第${s_advs}个广告没有积分奖励`:`第${s_advs} -  ${advs}个广告没有积分奖励`;
                }
            }
        })
    })
</script>
