{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    #special2 fieldset[disabled] label, #special2 fieldset[disabled] input, #special2 fieldset[disabled] table{
        color: gray;
    }
    .modal-open #material-Modal{
        z-index: 9999;
    }
    .we7-modal-dialog .modal-body{
        max-height: 1000px;
    }
    #special .fa-copy {
        overflow: hidden;
    }
</style>
{template "web/settings/nav"}
<form action="{php echo $this->createWebUrl('settings');}" method="post">
    <div class="panel panel-default nav-tab-item">
        <div class="panel-body">
            {if \zovye\App::isFlashEggEnabled()}
            <div class="seg">
                <div class="title">用户中心</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">入口网址</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url"><i class="fa fa-paste" title="复制" data-url="{php echo $this->createMobileUrl('bonus', ['op' => 'home'])}"></i> {php echo $this->createMobileUrl('bonus', ['op' => 'home'])}   </span>
                        <span class="help-block">* 直接进入用户中心的网址链接</span>
                    </div>
                </div>
            </div>
            {/if}
            {if \zovye\App::isIDCardVerifySupported()}
            <div class="seg">
                <div class="title">实名认证</div>
                <div class="form-group">
                    <label for="userVerify" class="col-md-2 control-label">是否启用</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="userVerify" id="userVerify" value="1" {if $settings['user']['verify']['enabled']}checked{/if}>
                            启用实名认证，只允许通过实名认证的用户购买商品
                          </label>
                        </div>
                    </div>
                </div>
                {if \zovye\App::isIDCardVerifyEnabled()}
                <div class="form-group">
                    <label for="maxtimes" class="col-md-2 control-label">用户次数限制</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="maxtimes" id="maxtimes" value="{$settings['user']['verify']['maxtimes']}" min="0" step="1">
                        <span class="help-block">* 每个用户每天最多可以尝试认证次数。</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">实名查询可用次数{if $idcard_balance < 50} <i class="fa fa-info-circle" style="color:#F44336;" title="如果可用次数为零，用户将无法购买商品！"></i>{/if}</label>
                    <div class="col-md-10">
                        <span class="form-control " style="overflow:hidden;">{$idcard_balance}</span>
                    </div>
                </div> 
                {/if}
            </div>
            {/if}

            <div class="seg">
                <div class="title">认证18+</div>
                <div class="form-group">
                    <label for="userVerify18" class="col-md-2 control-label">是否启用</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="userVerify18" id="userVerify18" value="1" {if $settings['user']['verify18']['enabled']}checked{/if}>
                                启用实名认证，只允许通过实名认证的用户购买商品
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userVerify18Title" class="col-md-2 control-label">18+标题</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="userVerify18Title" id="userVerify18Title" value="{$settings['user']['verify18']['Title']}">
                    </div>
                </div>
            </div>
            <div class="seg">
                <div class="title">订单</div>
                <div class="form-group">
                    <label for="discountPrice" class="col-md-2 control-label">首单优惠（元）</label>
                    <div class="col-md-10">
                        <input type="number" step="0.01" class="form-control" name="discountPrice" id="discountPrice" value="{php echo number_format($settings['user']['discountPrice'] / 100, 2)}">
                        <span class="help-block">* 新用户首单优惠金额，必须小于商品单价</span>
                    </div>
                </div>
                {if \zovye\App::isMustFollowAccountEnabled()}
                <div class="form-group">
                    <label class="col-xs-12 col-md-2 col-md-2 control-label">购买商品</label>
                    <div class="col-md-8 col-md-8 col-lg-8 col-xs-12">
                        <label for="mustFollow0" class="radio-inline">
                            <input name="mustFollow" id="mustFollow0" type="radio" value="1" {if $settings['mfa']['enable'] == 1}checked="checked"{/if} >
                            关注公众号后购买
                        </label>
                        <label for="mustFollow1" class="radio-inline">
                            <input name="mustFollow" id="mustFollow1" type="radio" value="0"  {if !isset($settings['mfa']['enable']) || $settings['mfa']['enable'] == 0}checked="checked"{/if} >
                            直接购买
                        </label>
                        <span class="help-block">用户扫描设备二维码后，是否引导用户关注公众号后通过公众号进入商品购买页面</span>
                    </div>
                </div>
                {/if}
            </div>
            {if \zovye\App::isBalanceEnabled()}
            <div class="seg">
                <div class="title">积分</div>
                <div class="form-group">
                    <label for="newUser" class="col-md-2 control-label">新用户首次赠送积分 <img src="{MODULE_URL}static/img/coin.svg" class="balance"></label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="newUser" id="newUser" value="{php echo \zovye\Config::balance('user.new', 0)}" min="0" step="1">
                        <span class="help-block">* 新用户首次登录时，赠送指定积分</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newUserRef" class="col-md-2 control-label">推荐新用户奖励积分 <img src="{MODULE_URL}static/img/coin.svg" class="balance"></label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="newUserRef" id="newUserRef" value="{php echo \zovye\Config::balance('user.ref', 0)}" min="0" step="1">
                        <span class="help-block">* 通过转发等方式推荐新用户成功后，获取积分奖励</span>
                    </div>
                </div>
            </div>
            {/if}
            {if \zovye\App::isFuelingDeviceEnabled()}
            <div class="seg" id="recharge">
                <div class="title">充值</div>
                <div class="form-group">
                    <label for="rechargePromotion" class="col-md-2 control-label">充值赠送</label>
                    <div class="col-md-10">
                        <input type="checkbox" id="rechargePromotion" v-model="promotion.enabled">
                        启用后，用户充值达到指定金额时，额外赠送相应金额
                    </div>
                </div>
                <div class="form-group" v-show="promotion.enabled" v-for="(data, index) in promotion.list">
                    <label for="dailySignInBonusMin" class="col-md-2 control-label">
                    </label>
                    <div class="col-md-10">
                        <div class="col-md-5" style="padding-left:0;">
                            <input type="number" class="form-control" min="0" step="0.01" title="充值金额" v-model="data.base">
                            <span class="help-block">* 充值金额（元）</span>
                        </div>
                        <div class="col-md-4" style="padding-left:0;">
                            <input type="number" class="form-control" min="0" step="0.01" title="赠送金额" v-model="data.val">
                            <span class="help-block">* 赠送金额（元）</span>
                        </div>
                        <div class="col-md-1 operate">
                            <button class="btn btn-default" @click="remove(index)" style="border:0;">
                                <i class="fa fa-trash" title="删除"></i>
                            </button    >
                        </div>
                    </div>
                </div>
                <div class="form-group" v-show="promotion.enabled">
                    <label class="col-md-2">
                    </label>
                    <div class="col-md-10">
                        <div class="operate">
                            <i class="fa fa-plus" @click="add()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                const api_url = "{php echo $this->createWebUrl('settings');}";
                require(['jquery', '{php \zovye\url(false, JS_VUE_URL);}'], function($, Vue) {
                    const app = new Vue({
                        el: "#recharge",
                        data: {
                            promotion: {
                                enabled: false,
                                list: [],
                            }
                        },
                        watch: {
                            ['promotion.enabled'](val) {
                                if (val && this.promotion.list.length == 0) {
                                    this.promotion.list.push({
                                        base: 0,
                                        val: 0,
                                    })
                                }
                            },
                            ['promotion.list'](val) {
                                if (val.length == 0) {
                                    this.promotion.enabled = false;
                                }
                            }
                        },
                        created() {
                            const self = this;
                            $.getJSON(api_url, {op: 'recharge_config'}).then(res => {
                                if (res && res.status) {
                                    return res.data || {};
                                }
                            }).then(data => {
                                if (data.promotion) {
                                    self.promotion.enabled = data.promotion.enabled;
                                    self.promotion.list = data.promotion.list;
                                }
                            })
                        },
                        mounted() {

                        },
                        methods: {
                            add() {
                                this.promotion.list.push({
                                    base: 0,
                                    val: 0,
                                });
                            },
                            remove(i) {
                                this.promotion.list.splice(i, 1);
                            },
                            submit() {
                                $.post(api_url, {op: 'save_recharge_config', promotion: this.promotion});
                            }
                        }
                    })
                    $('form').submit(function(){
                        app.submit();
                    });
                });
            </script>
            {/if}
        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="page" value="user">
        <input type="hidden" name="op" value="save">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
<script>
    $(function(){
        $('[data-url]').each(function(){
            util.clip(this, $(this).data('url'));
        })
    });
</script>
{template 'common/footer'}