{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20220516');}
<style>
    .level-title {
        font-size: 16px;
        color: #ffc107;
        font-style: italic;
        font-weight: bolder;
        margin-right: 6px;
    }
</style>
{template "web/settings/nav"}
<form action="{php echo $this->createWebUrl('settings');}" method="post">
    <div class="panel panel-default nav-tab-item">
        <div class="heading">
            <span class="operate">
                {if \zovye\App::isCustomWxAppEnabled()}
                <i class="fa fa-plus fa-fw" title="添加小程序" data-op="add"></i>
                {/if}
            </span>
        </div>
        <div class="panel-body">
            <div class="seg">
                <div class="title">
                    {if \zovye\App::isCustomWxAppEnabled()}
                    默认小程序
                    {else}
                    小程序
                    {/if}
                </div>
                <div class="form-group">
                    <label for="WxAppTitle" class="col-md-2 control-label">标题</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="WxAppTitle" id="WxAppTitle" value="{$settings['agentWxapp']['title']}">
                        <span class="help-block">* 首页显示的标题</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WxAppName" class="col-md-2 control-label">平台名称</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="WxAppName" id="WxAppName" value="{$settings['agentWxapp']['name']}">
                        <span class="help-block">* 首页显示的平台名称</span>
                    </div>
                </div>
                <div class="seg-divider"></div>
                <div class="form-group">
                    <label for="WxAppKey" class="col-md-2 control-label">小程序ID（AppID）</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="WxAppKey" id="WxAppKey" value="{$settings['agentWxapp']['key']}">
                        <span class="help-block">* 微信小程序 AppID</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WxAppSecret" class="col-md-2 control-label">小程序密钥（AppSecret）</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control inputMask" name="WxAppSecret" id="WxAppSecret" value="{$settings['agentWxapp']['secret']}">
                        <span class="help-block">* 微信小程序 AppSecret</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WxAppUsername" class="col-md-2 control-label">小程序原始ID（Username）</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="WxAppUsername" id="WxAppUsername" value="{$settings['agentWxapp']['username']}">
                        <span class="help-block">* 微信小程序的原始ID</span>
                    </div>
                </div>                
            </div>
            {if \zovye\App::isCustomWxAppEnabled()}
            <div class="seg">
                <div class="title">多个小程序</div>
                <div class="form-group">
                    {if $list}
                    <table class="table" id="list">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>名称</th>
                                <th>AppID(小程序ID)</th>
                                <th>AppSecret(小程序密钥)</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop $list $index $item}
                            <tr data-id="{$item['id']}">
                                <td>{php echo $index + 1}</td>
                                <td>{$item['name']}</td>
                                <td>
                                    {$item['key']}
                                </td>
                                <td>
                                    <span class="text-muted">&lt;已隐藏&gt;</span>
                                    <span class="operate text-url"><i class="fa fa-paste" title="复制网址" data-secret="{$item['secret']}"></i></span>
                                </td>
                                <td>{$item['createtime_formatted']}</td>
                                <td class="operate">
                                    <i class="fa fa-edit" title="编辑" data-op="edit"></i>
                                    <i class="fa fa-trash-o" title="删除？" data-op="remove"></i>
                                </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                    {else}
                    <div class="text-center text-muted">
                        <i class="fa fa-question-circle"></i> 暂时还没有任何小程序！
                    </div>  
                    {/if}                
                </div>
            </div>
            {/if}
            {if \zovye\App::isBalanceEnabled()}
            <div class="seg">
                <div class="title">流量主广告位</div>
                {loop $advs_position $index $pos}
                <div class="form-group">
                    <label for="{$index}" class="col-md-2 control-label">{$pos['title']}</label>
                    <div class="col-md-10">
                        {if $pos['balance']}
                        <div class="input-group">
                            <input type="text" class="form-control" name="{$index}" id="{$index}" value="{$advsID[$index]['id']}">
                            <div class="input-group-addon operate" title="奖励设置" data-op="rewardConfig">
                                <i class="fa fa-gears"></i>
                            </div>        
                        </div>
                        {else}
                        <input type="text" class="form-control" name="{$index}" id="{$index}" value="{$advsID[$index]['id']}">
                        {/if}
                        <span class="help-block">* {$pos['description']}，请填写该广告位ID，点<a href="https://ad.weixin.qq.com/guide/1189" target="_blank">这里</a>了解更多</span>
                    </div>
                </div>
                {/loop}
            </div>
            {/if}
            <div class="seg">
                <div class="title">
                    客服消息
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">消息推送URL</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url">
                            <i class="fa fa-paste" title="复制网址" data-text="{$notify_url}"></i> {$notify_url}
                        </span>
                        <span class="help-block">* 微信小程序消息推送URL</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WxAppPushMsgEncodingToken" class="col-md-2 control-label">Token（令牌）</label>
                    <div class="col-md-10">
                        <span class="form-control operate text-url">
                            <i class="fa fa-paste" title="复制令牌" data-text="{$config['token']}"></i> {$config['token']}
                            <input type="hidden" id="WxAppPushMsgEncodingToken" name="WxAppPushMsgEncodingToken" value="{$config['token']}">
                        </span>
                        <span class="help-block">* 微信小程序消息推送Token（令牌）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WxAppPushMsgEncodingAESKey" class="col-md-2 control-label">EncodingAESKey（消息加密密钥）</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control inputMask" name="WxAppPushMsgEncodingAESKey" id="WxAppPushMsgEncodingAESKey" value="{$config['encodingAESkey']}">
                        <span class="help-block">* 请填写微信小程序消息推送的EncodingAESKey（消息加密密钥）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">数据格式</label>
                    <div class="col-md-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="WxAppPushMsgFormat" value="json"checked disabled>
                                JSON
                            </label>
                        </div>
                        <span class="help-block">* 目前只支持JSON格式</span>
                    </div>
                </div>
                <div class="seg-divider"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">消息标题</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="WxAppPushMsgTitle" id="WxAppPushMsgTitle" value="{$config['msgTitle']}">
                        <span class="help-block">* 给用户推送消息时的标题</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">消息说明文字</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="WxAppPushMsgDesc" id="WxAppPushMsgDesc" value="{$config['msgDesc']}">
                        <span class="help-block">* 给用户推送消息时的说明文字</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">消息图片</label>
                    <div class="col-md-10">
                        {php echo tpl_form_field_image('WxAppPushMsgThumb', $config['msgThumb']);}
                        <span class="help-block">* 给用户推送消息时的图片</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-btn">
        <input type="hidden" name="page" value="wxapp">
        <input type="hidden" name="op" value="save">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>

<script>
    const apiUrl = "{php echo $this->createWebUrl('wxapp');}";
    function saveWxApp() {
        const form = $('#wxAppForm');
        if (form.find('input[name=wxAppName]').val().trim() == '') {
            form.find('input[name=wxAppName]').focus();
            return;
        }
        if (form.find('input[name=wxAppKey]').val().trim() == '') {
            form.find('input[name=wxAppKey]').focus();
            return;
        }
        if (form.find('input[name=wxAppSecret]').val().trim() == '') {
            form.find('input[name=wxAppSecret]').focus();
            return;
        }
        const data = $('#wxAppForm').serialize();
        $.post(apiUrl, {op: 'save', params: data}, function(res) {
            if (res) {            
                if (!res.status) {
                    util.message(res.data.msg, "", 'error');
                } else {
                    util.message(res.data.msg, "{php echo $this->createWebUrl('settings', ['op' => 'wxapp']);}", 'success');
                }       
            }
        });
    }
    require(["{php \zovye\url(false, 'static/js/zovye.min.js')}"], function (zovye) {
        zovye.enableOp();
        zovye.enableInputMask();
        zovye.enableCopy('text');
        zovye.setApiUrl("{php echo $this->createWebUrl('wxapp');}");
        zovye.op('edit', function(self, next) {
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id});
        })

        zovye.op('save', saveWxApp);

        zovye.op('remove', function(self, next) {
            if (!confirm('确定删除这个小程序吗？')) {
                return;
            }
            const tr = self.closest('tr');
            const id = tr.data('id');
            next({id}, function(res) {
               if (res && res.status) {
                    tr.remove();
               }
            });
        })
        zovye.op('saveRewardConfig', function(self, next) {
            const form = self.closest('form');
            next({
                'way':  form.find('input[name=rewardWay]:checked').val(),
                'numLevel0': form.find('input[name=rewardAdsNumLevel0]').val(),
                'bonusLevel0': form.find('input[name=rewardBonusLevel0]').val(),
                'numLevel1': form.find('input[name=rewardAdsNumLevel1]').val(),
                'bonusLevel1': form.find('input[name=rewardBonusLevel1]').val(),
                'numLevel2': form.find('input[name=rewardAdsNumLevel2]').val(),
                'bonusLevel2': form.find('input[name=rewardBonusLevel2]').val(),
                'limit': form.find('input[name=rewardBonusLimit]').val(),
                'max': form.find('input[name=rewardBonusMax]').val(),
                'allowFree': form.find('input[name=allowFree]').is(':checked') ? 1 : 0,  
                'freeLimit': form.find('input[name=freeLimit]').val(),  
                'freeCommission': form.find('input[name=freeCommission]').val(),  
            });
            $('#modal-message').modal('hide');
        })
    });
</script>
{template 'common/footer'}