{template 'common/header'}
{php \zovye\url(true, 'static/css/common.css?v=20230710');}
<style>
    table#qrcodelist tr td{
        vertical-align: middle;
    }
    #qrcode {
        position: relative;
    }
    #qrcode:hover img{
        display: inline-block;
    }
    #qrcode img{
        display: none;
        position: absolute;
        left: -280px;
        top: 18px;
        border: 1px solid #9E9E9E;
        z-index: 99;
        width: 300px;
        height: 300px;
    }
    #qrcode img:hover{
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        transform: translate3d(0, -2px, 0);
        cursor: pointer;
    }
</style>
<ul class="nav nav-tabs" id="navbar">
    <li role="presentation" class="active"><a href="#">全部活码</a></li>
</ul>
<div class="panel panel-default panel-first nav-tab-item">
    <div class="heading">
        <span class="operate">
            <span id="qrcode">
                <i class="fa fa-fw fa-qrcode"></i>
                <img src="{php echo tomedia(isset($config['qrcode'])? $config['qrcode']:'')}" data-url="{php echo $config['url']?:''}" title="点击复制网址"/>
            </span>
            <a href="{php echo $this->createWebUrl('qrcode', array('op'=>'edit'));}"  title="添加活码转跳">
                <i class="fa fa-fw fa-pencil"></i>
            </a>
        </span>
    </div>
    <div class="panel-body">
        {if $qrcodes}
        <table class="table" id="qrcodelist">
            <thead>
            <tr>
                <th>#</th>
                <th>名称</th>
                <th>网址</th>
                <th>访问人数/次数</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $qrcodes $index $item}
            <tr data-id="{$item['id']}" {if $item['state'] == \\zovye\domain\Advertising::BANNED}class="banned" title="已禁用！"{/if}>
            <td>{php echo $index + 1}</td>
            <td>{$item['title']}</td>
            <td class="operate">
                {$item['extra']['url']}
            </td>
            <td>
                {php echo (int)$item['extra']['visited']['count']} / {php echo (int)$item['extra']['visited']['total']}
            </td>
            <td>{$item['createtime_formatted']}</td>
            <td class="operate">
                <a href="{php echo $this->createWebUrl('qrcode', array('op'=>'edit', 'id'=>$item['id']));}"><i class="fa fa-edit" title="编辑"></i></a>
                {if $item['state'] == \\zovye\domain\Advertising::NORMAL}
                <a href="{php echo $this->createWebUrl('qrcode', array('op'=>'ban', 'id'=>$item['id']));}"><i class="fa fa-eye-slash" title="禁用"></i></a>
                {else}
                <a href="{php echo $this->createWebUrl('qrcode', array('op'=>'ban', 'id'=>$item['id']));}"><i class="fa fa-eye" title="启用"></i></a>
                {/if}
                <a href="{php echo $this->createWebUrl('qrcode', array('op'=>'remove', 'id'=>$item['id']));}"><i class="fa fa-trash-o" title="删除？"  onclick="return confirm('确定要删除这个活码吗？');"></i></a>
            </td>
            </tr>
            {/loop}
            </tbody>
        </table>
        {else}
        <div class="text-center text-muted">
            <i class="fa fa-question-circle"></i> 暂时还没有任何活码！
        </div>
        {/if}
    </div>
</div>
<script>
    $(function(){
        $('[data-url]').each(function(){
            util.clip(this, $(this).data('url'));
        });
    });
</script>
{template 'common/footer'}